.customize-control-info-wrapper {
    margin-bottom: 10px;
}

.customize-control-info-wrapper .customize-control-title {
    font-weight: 600 !important;
    color: #191E23;
    text-transform: capitalize;
}