
// page 

#xe-page {

	position: relative;
	margin-left: auto;
	margin-right: auto;
}

// page header (holds breadcrumb & page title)

.xe-pageheader {

	padding: 35px 0;
	background-color: var(--xe_page_header_breadcrumb_background_color);
}

.xe-pageheader [class*="xe-container"] {

	@include flex();
	align-items: center;
	gap: 10px;
	justify-content: space-between;
}

.xe-pageheader .xe-pagetitle-holder .xe-title {

	font-size: 24px;
	margin: 0;
}


// content

#content > .xe-container {

	@include flex();
	justify-content: stretch;
	align-items: stretch;
}

// default primary & secndary 

#primary,
#secondary {

	margin-top: 50px;
	margin-bottom: 50px;
	width: 100%; // by default let set them to be full width
}

// case: defaut width

#primary {

	width: var(--xe_default_primary_area_width); // i.e 100%
}

#secondary {

	width: var(--xe_default_sidebar_width); // i.e 35%
}

body:not(.xe-has-no-sidebar) #primary  {

	width: calc(100% - var(--xe_default_sidebar_width));
}

.xe-has-no-sidebar #primary {

	width: 100%;
	margin-left: auto; // case: no sidebar
	margin-right: auto; // case: no sidebar
}

.xe-has-no-sidebar #secondary {

	display: none;
}

// case: sidebar position

#primary {

	order: 1;
}

#secondary {

	order: 2;
}

// Options (Sidebar Position: Default, Left, Right) & Mobile device sidebar position (Top & Bottom )

.xe-sidebar-position-left #secondary {

	order: 1;
}

.xe-sidebar-position-left #primary {

	order: 2;
}

.xe-sidebar-position-right #primary {

	order: 1;
}

.xe-sidebar-position-right #secondary {

	order: 2;
}

body.xe-has-no-sidebar #primary {

	padding-left: 0;
	padding-right: 0;
}

.xe-sidebar-position-left:not(.xe-has-no-sidebar) #primary {

	padding-right: 0;
	padding-left: 50px;
}

.xe-sidebar-position-right:not(.xe-has-no-sidebar) #primary {

	padding-left: 0;
	padding-right: 50px;
}

[class*="xe-sidebar-position-"].xe-mobile-device-sidebar-top #primary,
[class*="xe-sidebar-position-"].xe-mobile-device-sidebar-bottom #secondary {

	order: 2;
}

[class*="xe-sidebar-position-"].xe-mobile-device-sidebar-top #secondary,
[class*="xe-sidebar-position-"].xe-mobile-device-sidebar-bottom #primary {

	order: 1;
}

/* -------------------------------------------------------------------------- 
	Case: Boxed Layout
   -------------------------------------------------------------------------- */

.xe-site-layout-boxed #xe-page {

	width: 100%;
	max-width: var(--xe_boxed_layout_maxwidth);
}

/* -------------------------------------------------------------------------- 
	Responsive
   -------------------------------------------------------------------------- */

@media ( max-width: 575px ) {

    #primary, 
	#secondary {

		margin-top: 40px;
		margin-bottom: 40px;
	}
}
