
// post single 

.single #xe-page .xe-pageheader {

    padding: 10px 0;
}

.single.xe-no-sidebar #xe-page .xe-breadcrumb {

    width: 100%;
}

.single.xe-no-sidebar #comments,
.single.xe-no-sidebar .xe-related-posts,
.single.xe-no-sidebar .hentry .page-links,
.single.xe-no-sidebar .hentry .xe-post-tags,
.single.xe-no-sidebar #xe-comment-toggle-btn,
.single.xe-no-sidebar #xe-page .xe-breadcrumb, 
.single.xe-no-sidebar .hentry .xe-entry-metas, 
.single.xe-no-sidebar .hentry .xe-author-box,
.single.xe-no-sidebar .hentry .xe-entry-title,
.single.xe-no-sidebar .hentry .xe-entry-excerpt,
.single.xe-no-sidebar .hentry .xe-entry-categories,
.single.xe-no-sidebar .hentry .xe-post-navigation {

    @include no_sidebar_narrow_layout(auto);
}

.single #xe-page #primary,
.single.xe-no-sidebar #xe-page #primary {

    width: 100%;
    max-width: 100%;
}

#primary .xe-entry-title .xe-title {

    font-size: 36px;
}

#primary .xe-entry-excerpt > p {

    font-family: var(--xe_text_emphasis_font_family);
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    line-height: var(--xe_base_font_line_height);
}

#primary .xe-entry-thumbnail {

    margin-top: 40px;
    margin-bottom: 40px;
}

#primary .xe-entry-thumbnail > .xe-thumb {

    margin-top: 0;
    margin-bottom: 0;
}

#primary .xe-entry-thumbnail > figcaption {

    text-align: center;
    margin: 5px 0;
}

// blog entry categories

.hentry .xe-entry-categories {

    @include flex();
    margin-bottom: 15px;
}

.xe-post-tags .post-tags a,
.hentry .xe-entry-categories a {

    font-size: calc(var(--xe_base_font_size) - 2px);
    line-height: 1;
    font-weight: normal;
    padding: 7px 15px;
    color: var(--xe_primary_color);
    border: 2px solid var(--xe_primary_color);
    border-radius: 25px;
    margin:5px;
}

.xe-post-tags .post-tags a:hover,
.hentry .xe-entry-categories a:hover {

    text-decoration: none;
    color: var(--xe_seconary_color);
    border-color: var(--xe_seconary_color);
}

.xe-post-tags .post-tags a:focus,
.hentry .xe-entry-categories a:focus {

    outline: none;
}

.xe-post-tags .post-tags a:first-child
.hentry .xe-entry-categories a:first-child {

    margin-left: 0;
}

.xe-post-tags .post-tags a:last-child,
.hentry .xe-entry-categories a:last-child {

    margin-right: 0;
}

// post thumbnail 

#primary .xe-entry-thumbnail > .xe-thumb {

    text-align: center;
}

// main content 

.xe-entry-content h1,
.xe-entry-content h2,
.xe-entry-content h3,
.xe-entry-content h4,
.xe-entry-content h5,
.xe-entry-content h6 {

    margin-top: 30px;
    margin-bottom: 15px;
}

.single.xe-no-sidebar .xe-entry-content >*:not([class*="alignfull"]):not([class*="alignwide"]):not([class*="gallery"]) {

    @include no_sidebar_narrow_layout(auto);
}

.single .xe-entry-content ol,
.single .xe-entry-content ul:not([class*="wp-block"]) {

    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
}

.single .xe-entry-content ol li,
.single .xe-entry-content ul:not([class*="wp-block"]) li {

    margin-bottom: 10px;
}

//.xe-entry-content a:not(.xe-button):not(.button):not(.wp-block-button__link):not(.showcoupon):not(.showlogin):not(.shipping-calculator-button) {

//    color: blue;
//}

// post pagination 

.page-links {

    @include flex();
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.page-links em {

    display: inline-flex;
    margin-right: 10px;
    font-family: var(--xe_base_font_family);
    font-size: var(--xe_base_font_size);
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

// post tags

.xe-post-tags {

    @include flex();
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.xe-post-tags .post-tags a {

    border-radius: 4px;
}

.xe-post-tags .post-tags a::before {

    content: "\e62d";
    font-family: var(--xe_iconfont);
    display: inline-flex;
    margin-right: 3px;
}

// Last updated info 

.xe-lastupdated-info > p {

    font-size: calc( var(--xe_base_font_size) - 2px );
    margin-bottom: 0;
}

.xe-lastupdated-info > p > .icon {

    margin-right: 5px;
}

// author section

.xe-author-box {

    @include flex();
    align-items: flex-start;
    position: relative;
    padding:40px;
    margin: 40px 0;
    border: 1px solid var(--xe_border_color);
    border-radius: 4px;
}

.xe-author-box .author-avatar {

    max-width: 75px;
}

.xe-author-box .author-meta-data {

    flex: 1;
    padding-left: 20px;
}

.xe-author-box .author-display-name {

    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.xe-author-box .bio > p {

    margin-bottom: 15px;
}


// post navigation. next & prev

.xe-post-navigation {

    @include flex();
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.xe-post-navigation .nav-next,
.xe-post-navigation .nav-previous {

    flex: 1;
}

.xe-post-navigation .nav-next {

    padding-left: 15px;
}

.xe-post-navigation .nav-previous {

    padding-right: 15px;
}

.xe-post-navigation .nav-next > a,
.xe-post-navigation .nav-previous > a {

    display: block;
}

.xe-post-navigation .nav-next h6,
.xe-post-navigation .nav-previous h6 {

    font-size: calc( var(--xe_base_font_size) + 1px );
    font-weight: normal;
    margin-bottom: 15px;
}

.xe-post-navigation .nav-content {

    @include flex();
    flex-wrap: nowrap;
    align-items: center;
}

.xe-post-navigation .nav-content span {

    font-size: 15px; // fallback
    font-size: calc( var(--xe_base_font_size) - 1px );
    line-height: 1.4; // fallback
    line-height: calc( var(--xe_base_font_line_height) - 0.2em);
}

.xe-post-navigation .nav-content img {

    max-width: 75px;
    border-radius: 3px;
}

.xe-post-navigation .nav-previous span {

    margin-left: 15px;
}

.xe-post-navigation .nav-next {

    text-align: right;
}

.xe-post-navigation .nav-next span {

    order: 1;
    margin-right: 15px;
}

.xe-post-navigation .nav-next img {

    order: 2;
}

// comments

#xe-comment-toggle-btn {

    display: block;
    width: 100%;
}

#xe-comment-toggle-btn .icon {

    margin-left: 10px;
}

#comments {

    margin-top: 40px;
}

#comments,
#xe-comment-toggle-btn #xe-hide-comment-text {

    display: none;
}

.xe-visible-comments #comments,
.xe-visible-comments #xe-comment-toggle-btn #xe-hide-comment-text {

    display: block;
}

.xe-visible-comments #xe-comment-toggle-btn #xe-show-comment-text {

    display: none;
}


// related posts

.xe-related-posts {

    margin-top: 40px;
}

.xe-related-posts .xe-block-title .xe-title {

    font-size: 20px;
}

.xe-related-posts .hentry {

    margin-bottom: 40px;
}

.xe-related-posts .hentry .xe-post-title .xe-title {

    font-size: 18px;
}