
// page header

.single .xe-pageheader {

    padding: 10px 0;
}

.single.xe-no-sidebar .xe-breadcrumb {

    width: 100%;
}

// primary

.single #primary,
.single.xe-no-sidebar #primary {

    width: 100%;
    max-width: 100%;
}

// post title

.single .hentry .xe-entry-title .xe-title {

    font-size: 36px;
}

// excerpt

.single .hentry .xe-post-excerpt {

    margin-bottom: 30px;
}

.single .hentry .xe-entry-excerpt > p {

    font-family: var(--xe_text_emphasis_font_family);
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    line-height: var(--xe_base_font_line_height);
}

// blog entry categories

.single .hentry .xe-entry-categories {

    @include flex();
    margin-bottom: 15px;
}

.single .xe-post-tags .post-tags a,
.single .hentry .xe-entry-categories ul li a {

    display: inline-block;
    font-size: calc(var(--xe_base_font_size) - 2px);
    line-height: 1;
    font-weight: normal;
    padding: 7px 15px;
    color: var(--xe_primary_color);
    border: 2px solid var(--xe_primary_color);
    border-radius: 3px;
    margin:5px;
}

.single .xe-post-tags .post-tags a:hover,
.single .hentry .xe-entry-categories ul li a:hover {

    text-decoration: none;
    color: var(--xe_seconary_color);
    border-color: var(--xe_seconary_color);
}

.single .xe-post-tags .post-tags a:focus,
.single .hentry .xe-entry-categories ul li a:focus {

    outline: none;
}

.single .xe-post-tags .post-tags a:first-child
.single .hentry .xe-entry-categories ul li a:first-child {

    margin-left: 0;
}

.xe-post-tags .post-tags a:last-child,
.hentry .xe-entry-categories ul li a:last-child {

    margin-right: 0;
}

// post thumbnail

.single .hentry .xe-entry-thumbnail {

    margin-top: 40px;
    margin-bottom: 40px;
}

.single .hentry .xe-entry-thumbnail > .xe-thumb {

    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.single .hentry .xe-entry-thumbnail > figcaption {

    text-align: left;
    margin: 5px 0;
}

// main content 

.xe-entry-content::after {

    content: "";
    display: table;
    clear: both;
}

//.single.xe-has-no-sidebar .xe-entry-content >*:not([class*="alignfull"]):not([class*="alignwide"]):not([class*="gallery"]) {

//    @include no_sidebar_narrow_layout(auto);
//}

// post pagination 

.page-links {

    @include flex();
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.page-links em {

    display: inline-flex;
    margin-right: 10px;
    font-family: var(--xe_base_font_family);
    font-size: var(--xe_base_font_size);
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

// post tags

.xe-post-tags {

    @include flex();
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.xe-post-tags .post-tags a {

    border-radius: 4px;
}

.xe-post-tags .post-tags a::before {

    content: "\e62d";
    font-family: var(--xe_iconfont);
    display: inline-flex;
    margin-right: 3px;
}

// Last updated info 

.xe-lastupdated-info > p {

    font-size: calc( var(--xe_base_font_size) - 2px );
    margin-bottom: 0;
}

.xe-lastupdated-info > p > .icon {

    margin-right: 5px;
}

// author section

.xe-author-box {

    @include flex();
    align-items: flex-start;
    position: relative;
    padding:40px;
    margin: 40px 0;
    border: 1px solid var(--xe_border_color);
    border-radius: 4px;
}

.xe-author-box .author-avatar {

    max-width: 75px;
    border-radius: 50%;
    overflow: hidden;
}

.xe-author-box .author-meta-data {

    flex: 1;
    padding-left: 20px;
}

.xe-author-box .author-display-name {

    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.xe-author-box .bio > p {

    margin-bottom: 15px;
}

// post navigation next & prev

.xe-post-navigation {

    @include flex();
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.xe-post-navigation .nav-next,
.xe-post-navigation .nav-previous {

    flex: 1;
}

.xe-post-navigation .nav-next {

    padding-left: 15px;
}

.xe-post-navigation .nav-previous {

    padding-right: 15px;
}

.xe-post-navigation .nav-next > a,
.xe-post-navigation .nav-previous > a {

    display: inline-flex;
    flex-wrap: wrap;
    color: var(--xe_base_text_color);
}

.xe-post-navigation .nav-next > a:hover,
.xe-post-navigation .nav-previous > a:hover {

    color: var(--xe_seconary_color);
}

.xe-post-navigation .nav-next h6,
.xe-post-navigation .nav-previous h6 {

    font-size: calc( var(--xe_base_font_size) + 1px );
    font-weight: normal;
    margin-bottom: 15px;
}

.xe-post-navigation .nav-content {

    @include flex();
    flex-wrap: wrap;
    align-items: center;
}

.xe-post-navigation .nav-next .nav-content  {

    justify-content: flex-end;
}

.xe-post-navigation .nav-previous .nav-content {

    justify-content: flex-start;
}

.xe-post-navigation .nav-content span {

    font-size: 15px; // fallback
    font-size: calc( var(--xe_base_font_size) - 1px );
    line-height: 1.4; // fallback
    line-height: calc( var(--xe_base_font_line_height) - 0.2em);
}

.xe-post-navigation .nav-content img {

    max-width: 75px;
    border-radius: 3px;
}

.xe-post-navigation .nav-previous span {

    margin-left: 15px;
}

.xe-post-navigation .nav-next {

    text-align: right;
}

.xe-post-navigation .nav-next span {

    order: 1;
    margin-right: 15px;
}

.xe-post-navigation .nav-next img {

    order: 2;
}

// comments

#xe-comment-toggle-btn {

    display: block;
    width: 100%;
}

#xe-comment-toggle-btn .icon {

    margin-left: 10px;
}

#comments {

    display: block;
    margin-top: 40px;
}

.xe-comment-toggle-btn-enabled #comments {

    display: none; // hide comment form by default when toggle button is enabled in customizer.
}

#xe-comment-toggle-btn #xe-hide-comment-text {

    display: none;
}

.xe-comment-toggle-btn-enabled.xe-visible-comments #comments,
.xe-visible-comments #xe-comment-toggle-btn #xe-hide-comment-text {

    display: block;
}

.xe-visible-comments #xe-comment-toggle-btn #xe-show-comment-text {

    display: none;
}

// comment form titles

#comments .comments-title,
#comments #respond .comment-reply-title {

    font-size: var(--xe_base_font_size);
    font-weight: var(--xe_base_font_weight);
    line-height: var(--xe_base_font_line_height);
    letter-spacing: var(--xe_base_letter_spacing);
    color: var(--xe_base_text_color);
    border: 2px dashed var(--xe_border_color);
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
}

#comments .comments-title::before,
#comments #respond .comment-reply-title::before {

    content: "\e643";
    display: inline-block;
    margin-right: 5px;
    font-family: var(--xe_iconfont);
}

// comments list

#comments .comment-list {

    list-style: none;
    padding: 0;
    margin: 0;
}

#comments .comment-list .comment-body {

    position: relative;
}

#comments .comment-list .children {

    margin: 30px 0 30px 40px;
}

#comments .comment-list li {

    display: block;
    margin-bottom: 40px;
}

#comments .comment-list li .comment-author-avatar {

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
}

#comments .comment-list li .comment-author-avatar figure  {

    display: inline-flex;
    flex-wrap: wrap;
    flex: 0 0 32px;
    max-width: 32px;
    overflow: hidden;
    border-radius: 50%;
}

#comments .comment-list li .comment-author-info {

    display: block;
    margin-left: 42px;
}

#comments .comment-list li .comment-author-info a,
#comments .comment-list li .comment-author-info .comment-meta  {

    display: inline-block;
    font-size: 14px;
    font-weight: normal;
}

#comments .comment-list li .comment-author-info cite {

    font-style: normal;
}

#comments .comment-list li .comment-author-info .comment-meta a:not(.comment-edit-link) {

    color: var(--xe_base_text_color);
}

#comments .comment-list li .reply .comment-reply-link,
#comments .comment-list li .comment-author-info a.comment-edit-link {

    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.50px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 20px;
}

#comments .comment-list li .comment-author-info a.comment-edit-link {

    margin-left: 5px;
    text-decoration: none;
}

#comments .comment-list li .comment-author-info a.comment-edit-link::before {

    content: "\e61c";
    margin-right: 2px;
    font-family: var(--xe_iconfont);
}

#comments .comment-list li .comment-author-info a.comment-edit-link:hover {

    text-decoration: none;
}

#comments .comment-list li .comment-author-info a.comment-edit-link:focus {

    outline: none;
}

#comments .comment-list li .comment-author-comment {

    border: 1px solid var(--xe_border_color);
    border-radius: 5px;
    padding: 20px 20px 0 20px;
    margin: 30px 0 20px 0;
    box-shadow: 0 1px 3px rgb(0,0,0,0.1);
}

#comments .comment-list li .reply .comment-reply-link {

    color: grey;
}

#comments .comment-list li .reply .comment-reply-link:hover {

    color: var(--xe_base_link_color);
}

#comments .comment-list li .reply .comment-reply-link::before {

    content: "\e6bc";
    margin-right: 5px;
    font-family: var(--xe_iconfont);
}

// respond comment form

#comments #respond {

    margin-top: 30px;
}

#comments #respond .comment-reply-title #cancel-comment-reply-link {

    display: inline-block;
    margin-left: 10px;
}

#comments #respond .comment-reply-title #cancel-comment-reply-link:hover {

    text-decoration: none;
}

#comments #respond .comment-reply-title #cancel-comment-reply-link:focus {

    outline: none;
}

#comments #respond .comment-reply-title #cancel-comment-reply-link::before {

    content: "\e646";
    display: inline-block;
    margin-right: 5px;
    font-family: var(--xe_iconfont);
}

@media( max-width: 575px ) {

    #comments .comment-list .children {

        margin-left: 30px; 
    }
}

// related posts

.xe-related-posts {

    margin-top: 40px;
}

.xe-related-posts .xe-block-title .xe-title {

    font-size: 20px;
}

.xe-related-posts .hentry {

    margin-bottom: 40px;
}

.xe-related-posts .hentry .xe-post-title .xe-title {

    font-size: 18px;
}

/* -------------------------------------------------------------------------- 
	Case: content layouts narrow container width
   -------------------------------------------------------------------------- */

   .single .xe-entry-title,
   .single .xe-entry-categories,
   .single .hentry .xe-entry-metas,
   .single .hentry .xe-entry-excerpt {

       margin-left: 5%;
       margin-right: 5%;
   }

/* -------------------------------------------------------------------------- 
	Case: container width normal with no sidebar
   -------------------------------------------------------------------------- */

//.single .xe-container-narrow #comments,
//.single .xe-container-narrow .xe-related-posts,
//.single .xe-container-narrow .hentry .page-links,
//.single .xe-container-narrow .hentry .xe-post-tags,
//.single .xe-container-narrow #xe-comment-toggle-btn,
//.single .xe-container-narrow #xe-page .xe-breadcrumb, 
//.single .hentry .xe-entry-metas, 
//.single .xe-container-narrow .hentry .xe-author-box,
//.single .xe-entry-title,
//.single .hentry .xe-entry-excerpt,
//.single .xe-container-narrow .hentry .xe-post-navigation,
//.single .xe-entry-categories {

//    margin-left: 5%;
//    margin-right: 5%;
//}

.single.xe-has-no-sidebar [class*="xe-container"]:not(.xe-container-narrow) #comments,
.single.xe-has-no-sidebar [class*="xe-container"]:not(.xe-container-narrow) .xe-post-tags,
.single.xe-has-no-sidebar [class*="xe-container"]:not(.xe-container-narrow) .xe-author-box,
.single.xe-has-no-sidebar [class*="xe-container"]:not(.xe-container-narrow) .xe-related-posts,
.single.xe-has-no-sidebar [class*="xe-container"]:not(.xe-container-narrow) .xe-post-navigation,
.single.xe-has-no-sidebar [class*="xe-container"]:not(.xe-container-narrow) #xe-comment-toggle-btn {

    max-width: var(--xe_container_width_narrow);
    margin-left: auto;
    margin-right: auto;
}
