// product: defaults


// product: rating (temporary)

.xe-product-rating {

	margin-bottom: 5px;
}

.xe-product-rating .rating {

	font-size: 13px;
	color: #d5d5d5;
}

.xe-product-rating.one .rating:nth-child(1) {

	color: #ffb41d;
}

.xe-product-rating.two .rating:nth-child(1),
.xe-product-rating.two .rating:nth-child(2) {

	color: #ffb41d;
}

.xe-product-rating.three .rating:nth-child(1),
.xe-product-rating.three .rating:nth-child(2),
.xe-product-rating.three .rating:nth-child(3) {

	color: #ffb41d;
}

.xe-product-rating.four .rating:nth-child(1),
.xe-product-rating.four .rating:nth-child(2),
.xe-product-rating.four .rating:nth-child(3),
.xe-product-rating.four .rating:nth-child(4) {

	color: #ffb41d;
}

.xe-product-rating.five .rating:nth-child(1),
.xe-product-rating.five .rating:nth-child(2),
.xe-product-rating.five .rating:nth-child(3),
.xe-product-rating.five .rating:nth-child(4),
.xe-product-rating.five .rating:nth-child(5) {

	color: #ffb41d;
}

// product: swatch (Temporary)

.xe-product-swatch {

	@include flex();
	align-items: center;
}

.xe-product-swatch .swatch {

	display: inline-flex;
	height: 15px;
	width: 15px;
	margin-right: 10px;
	border-radius: 100%;

	&:last-child {

		margin-right: 0;
	}
}

.xe-product-swatch .swatch.red {

	background-color: #fb8585;
}

.xe-product-swatch .swatch.blue {

	background-color: #8c8cff;
}

.xe-product-swatch .swatch.green {

	background-color: #6dff6d;
}

.xe-product-swatch .swatch.purple {

	background-color: #ff6dff;
}

.xe-product-swatch.visible-on-hover {

	visibility: hidden;
	opacity: 0;
	@include transation_delay();
}

.xe-woo-product:hover .xe-product-swatch.visible-on-hover {
	
	visibility: visible;
	opacity: 1;
	animation: xeButtonFadeInUp 1s 0s;
}
