.customize-control-xenial-radio-button-group-control .control-wrap,
.customize-control-xenial-radio-button-group-control .responsive-control-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid #f9f9fe;
}

.customize-control-xenial-radio-button-group-control .control-wrap label,
.customize-control-xenial-radio-button-group-control .responsive-control-wrap label {
    cursor: pointer;
    text-align: center;
}

.customize-control-xenial-radio-button-group-control .control-wrap.columns-1 label, 
.customize-control-xenial-radio-button-group-control .responsive-control-wrap.columns-1 label {
    width: 100%;
}

.customize-control-xenial-radio-button-group-control .control-wrap.columns-2 label,
.customize-control-xenial-radio-button-group-control .responsive-control-wrap.columns-2 label {
    width: 50%;
}

.customize-control-xenial-radio-button-group-control .control-wrap.columns-3 label,
.customize-control-xenial-radio-button-group-control .responsive-control-wrap.columns-3 label {
    width: 33.33%;
}

.customize-control-xenial-radio-button-group-control .control-wrap.columns-4 label,
.customize-control-xenial-radio-button-group-control .responsive-control-wrap.columns-4 label {
    width: 25%;
}

.customize-control-xenial-radio-button-group-control .control-wrap.columns-5 label,
.customize-control-xenial-radio-button-group-control .responsive-control-wrap.columns-5 label {
    width: 20%;
}

.customize-control-xenial-radio-button-group-control .control-wrap label > input,
.customize-control-xenial-radio-button-group-control .responsive-control-wrap label > input {
    display: none;
}

.customize-control-xenial-radio-button-group-control .control-wrap label span,
.customize-control-xenial-radio-button-group-control .responsive-control-wrap label span {
    cursor: pointer;
    font-weight: 500;
    border: 2px solid #f9f9fe;
    margin: 0;
    background-color: #eee;
    padding: 10px 0;
    display: inline-block;
    width: 100%;
}

.customize-control-xenial-radio-button-group-control .control-wrap label span:hover,
.customize-control-xenial-radio-button-group-control .responsive-control-wrap label span:hover {
    background-color: rgba(255, 255, 255, .2);
    color: #2885bb;
}

.customize-control-xenial-radio-button-group-control .control-wrap label > input:checked + span,
.customize-control-xenial-radio-button-group-control .responsive-control-wrap label > input:checked + span {
    background-color: #2084bd;
    color: #fff;
}

.customize-control-xenial-radio-button-group-control .control-wrap label > input:checked + span:hover,
.customize-control-xenial-radio-button-group-control .responsive-control-wrap label > input:checked + span:hover {
    color: #fff;
}

.customize-control-xenial-radio-button-group-control .control-wrap label > img,
.customize-control-xenial-radio-button-group-control .responsive-control-wrap label > img {
    cursor: pointer;
    border: 3px solid #ddd;
}

.customize-control-xenial-radio-button-group-control .control-wrap label > input:checked + img,
.customize-control-xenial-radio-button-group-control .responsive-control-wrap label > input:checked + img {
    border: 3px solid #2885bb;
}