:root {
    --xenial-accent-color: #2196F3;
    --xenial-body-font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
    --xenial-body-font-size: 1rem;
    --xenial-headings-font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    --xenial-font-size-small: 0.875rem;
    --xenial-font-size-medium: 1.125rem;
    --xenial-font-size-large: 1.25rem;
    --xenial-icon-font-size: 0.75rem;
    --xenial-caption-font-size: 0.8125rem;
    --xenial-post-title-small: 1rem;
    --xenial-post-title-medium: 1.5rem;
    --xenial-post-title-large: 2rem;
}

[data-skin="xenial-theme-light"] {
    --xenial-site-background-color: #ffffff;
    --xenial-headings-color: #000000;
    --xenial-text-color: #000000;
    --xenial-content-color: #353535;
    --xenial-post-meta-color: #7a7a7a;
    --xenial-border-color: #eee;
    --xenial-alternate-color: #E91E63;
    --xenial-background-color: #ffffff;
    --xenial-secondary-background-color: #f5f5f5;
    --xenial-input-field-bg-color: #ffffff;
    --xenial-bg-text-color: #353535;
    --xenial-accent-bg-text-color: #ffffff;
    --xenial-transparent-header-border-color: rgba(255, 255, 255, 0.2);
    --xenial-box-shadow-color: rgba(0,0,0,0.2);
    --xenial-caption-color: #7a7a7a;
}

[data-skin="xenial-theme-dark"] {
    --xenial-site-background-color: #000000;
    --xenial-headings-color: #ffffff;
    --xenial-text-color: #ffffff;
    --xenial-content-color: #cccccc;
    --xenial-post-meta-color: #999999;
    --xenial-border-color: #333333;
    --xenial-alternate-color: #E91E63;
    --xenial-background-color: #000000;
    --xenial-secondary-background-color: #171717;
    --xenial-input-field-bg-color: #171717;
    --xenial-bg-text-color: #ffffff;
    --xenial-accent-bg-text-color: #ffffff;
    --xenial-transparent-header-border-color: rgba(0, 0, 0, 0.2);
    --xenial-caption-color: #d0d0d0;
}