

$primary_font_family 			: 'Inter', sans-serif;
$heading_font_family			: 'Inter', sans-serif;
$site_title_font_family			: 'Inter', sans-serif;



$body_line_height				: 1.5;	
$body_heading_line_height		: 1.1;  




$body_font_weight				: normal;
$body_heading_font_weight		: bold;




$body_font_size					: 1rem;

$meta_font_size					: 0.875rem;


$body_letter_spacing 			:0.15px;
$heading_letter_spacing			:0;