body.page .xenial-entry-thumbnail-container {
	margin-top: 1em;
	margin-bottom: 1em;
}

body.page.xenial-page-header-enabled .xenial-entry-thumbnail-container,
body.single.xenial-page-header-enabled .xenial-entry-thumbnail-container {
	margin-top: 0;
}

body.single .xenial-entry-thumbnail-container,
body.single .xenial-entry-thumbnail-container {
	margin-top: 1em;
	margin-bottom: 2.5em;
}

/*
	Site Layout - Fullwidth Contained / Fullwidth Stretched
	Sidebar - No Sidebar
	Single Content Width: Content Width
*/
body.xenial-has-no-sidebar.xenial-fullwidth-contained,
body.xenial-has-no-sidebar.xenial-fullwidth-stretched {
	main#xenial-main > article > .xenial-entry-content .alignfull {
		width:  100vw;
		max-width:  100vw;
		margin-left:  calc(50% - 50vw);
	}
}


/*
	Site Layout - Boxed Contain
	Single Content Width: Narrow Width
*/

body.xenial-boxed-contain.xenial-narrow-width {

	main#xenial-main > article > .xenial-entry-content .alignwide {
		width: unset;
		max-width: 100%;
	}

	main#xenial-main > article > .xenial-entry-content .alignfull {
		width: unset;
		max-width: 100%;
		margin-left: -3.125em;
		margin-right: -3.125em;
	}
}


/*
	Site Layout - Boxed Contain
	Sidebar - No Sidebar
	Single Content Width: Content Width
*/

body.single.xenial-boxed-contain.xenial-has-no-sidebar, 
body.page.xenial-boxed-contain.xenial-has-no-sidebar { 
	main#xenial-main {
		border: 1px solid var(--xenial-border-color);
		padding: 3.125em;
	}
}

body.single.xenial-boxed-contain.xenial-has-sidebar, 
body.page.xenial-boxed-contain.xenial-has-sidebar { 
	main#xenial-main {
		border: 1px solid var(--xenial-border-color);
		padding: 1.875em;
	}
}

body.xenial-has-no-sidebar.xenial-boxed-contain.xenial-content-width {

	main#xenial-main > article > .xenial-entry-content .alignwide {
		width: unset;
	}

	main#xenial-main > article > .xenial-entry-content .alignfull {
		width: unset;
		max-width: 100%;
		margin-left: -3.125em;
		margin-right: -3.125em;
	}
}
