.xenial-posts-navigation {
	margin-top: 3.125em;
}

.nav-content {
	display: flex;
	align-items: center;
}

.nav-previous {
	text-align: left;
}

.nav-next {
	text-align: right;
}

.nav-previous .nav-content {
	justify-content: flex-start;
}

.nav-next .nav-content {
	justify-content: flex-end;
}

.nav-title {
	margin-top: 0;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: var(--xenial-font-size-small);
	line-height: 1;
}

.nav-previous .nav-content img {
	margin-right: 1.25em;
}

.nav-next .nav-content img {
	margin-left: 1.25em;
}