
/* -------------------------------------------------------------------------- 
	Mini Cart Icon
  -------------------------------------------------------------------------- */

.xe-header-element {

    .xe-woo-minicart-icon {

        display: inline-flex;
        align-items: center;
        gap: 5px;

        .xe-woo-minicart-button {

            position: relative;
            display: inline-flex;
            color: var(--xe_base_text_color);

            svg {

                height: 32px;
                width: 32px;
            }

            .count {

                position: absolute;
                bottom: 5px;
                left: auto;
                right: -5px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-family: var(--xe_system_font_family);
                font-size: 11px;
                line-height: 1;
                width: 20px;
                height: 20px;
                border-radius: 100%;
                color: white;
                background-color: var(--xe_primary_color);
            }

            &:hover {

                text-decoration: none;
                color: var(--xe_base_link_hover_color);
            }

            &:focus {

                text-decoration: none;
            }
        }
    }
}

/* -------------------------------------------------------------------------- 
	Mini Cart Canvas Panel
  -------------------------------------------------------------------------- */

.xe-woo-minicart-is-open {

    overflow: hidden;
}

#xe-woo-minicart-canvas {

    position: fixed;
    z-index: 999999999;
    top: 0;
    bottom: 0;
    left: auto;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 350px;
    overflow: hidden;
    background-color: white;
    box-shadow: 10px 0 65px 0 rgba(0, 0, 0, 0.10);

    .xe-woo-minicart-inner {

        position: relative;
        padding: 40px 20px 20px 20px;
        @include flex();
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        width: 100%;
        height: 100%;

        .xe-woo-minicart-header {

            @include flex();
            align-items: center;
            justify-content: space-between;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid var(--xe_border_color);

            .xe-woo-minicart-title {

                font-size: 18px;
                margin: 0;
                padding: 0;
            }

            #xe-woo-minicart-close {

                fill: #666666;
                color: #666666;

                svg {

                    width: 20px;
                    height: 20px;
                }

                &:hover {

                    fill: var(--xe_base_link_hover_color);
                    color: var(--xe_base_link_hover_color);
                }
            }
        }

        .widget_shopping_cart {
            
            flex: 1 1 auto;
            position: relative;
            @include flex();
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
            overflow: hidden;

            .widget_shopping_cart_content {

                @include flex();
                flex-direction: column;
                align-items: stretch;
                justify-content: space-between;
                height: 100%;

                .minicart-list {

                    position: relative;
                    flex: 1 1 auto;
                    width: 100%;
                    overflow: auto;

                    .product_list_widget {

                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        max-height: none;
                        overflow-x: hidden;
                        overflow-y: auto;
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        li {

                            display: block;
                            position: relative;
                            padding: 0 25px 35px 0;
                            margin: 0 0 20px 0;
                            border-bottom: 1px solid var(--xe_border_color);

                            .remove {

                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                float: none;
                                left: auto;
                                right: 5px;
                                top: 0;
                                width: 20px;
                                height: 20px;
                                line-height: 1;
                                color: #858585 !important;

                                &:hover {

                                    text-decoration: none;
                                    color: var(--xe_base_link_hover_color) !important;
                                    background-color: transparent;
                                }

                                &:focus {

                                    outline: none;
                                }
                            }

                            a:not(.remove_from_cart_button) {

                                display: block;
                                font-size: calc( var(--xe_base_font_size) - 10% );
                                font-weight: normal;
                                color: var(--xe_base_text_color);

                                img {

                                    float: left;
                                    margin-left: 0;
                                    margin-right: 15px;
                                    width: 72px;
                                }
                            }

                            .quantity {

                                display: inline-block;
                                margin-top: 3px;
                                font-size: 13px;
                                font-weight: 600;
                            }

                            &:last-child {

                                border-bottom: none;
                            }

                            .blockOverlay {

                                opacity: 1 !important;
                                background-color: rgba(255, 255, 255, 0.7) !important;
                            }

                            &::before,
                            &::after {

                                content: "";
                                display: none;
                            }
                        }

                        .ps__rail-y {

                            width: 5px;
                        }

                        .ps__thumb-y {

                            right: 0;
                            width: 5px;
                        }
                    }
                }

                .minicart-bottom {

                    flex: 0 0 auto;
                    padding-top: 20px;
                    border-top: 2px solid var(--xe_border_color);

                    .woocommerce-mini-cart__total {

                        @include flex();
                        align-items: center;
                        justify-content: space-between;
                        font-size: 16px;
                        font-weight: bold;
                        border: none;

                        .woocommerce-Price-amount {

                            color: var(--xe_primary_color);
                        }
                    }

                    .woocommerce-mini-cart__buttons {

                        @include flex();
                        margin: 0;

                        .button {

                            @include flex();
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                        }

                        .checkout {

                            margin-top: 15px;
                        }

                        .wc-forward:not(.checkout) {

                            fill: var(--xe_base_text_color);
                            color: var(--xe_base_text_color);
                            background-color: #EEEEEE;
                            border: 1px solid #e5e5e5;

                            &:hover {

                                fill: var(--xe_base_text_color);
                                color: var(--xe_base_text_color);
                                background-color: #DDDDDD;
                                border-color: #CFCFCF;
                            }
                        }
                    }
                }
            }
        }
    }
}

#xe-woo-minicart-canvas.open {

    left: auto;
    right: 0;
    opacity: 1;
    visibility: visible;
    animation: miniCartCanvasSlideInLeft 0.8s ease;
}

#xe-woo-minicart-canvas.close {

    right: -100vw;
    transition: all 0.8s ease-in-out;
}

#xe-woo-minicart-overlay {

    @include flex();
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(238, 238, 238, 0.9);
    transition: all 0.5s ease;
}

#xe-woo-minicart-overlay.hidden {

    animation: xeFadeOut 0.5s ease;
    transition: all 0.5s ease-in-out;
}

#xe-woo-minicart-overlay.visible {

    z-index: 99999999;
    opacity: 1;
    visibility: visible;
    animation: xeFadeIn 0.5s ease;
}


/* -------------------------------------------------------------------------- 
	#. Media Query
   -------------------------------------------------------------------------- */

@media( max-width: 575px ) {

    #xe-woo-minicart-canvas {

        max-width: 95%;
    }
}