body.xenial-theme-light .site-header {
    background-color: #ffffff;
}

body.xenial-theme-dark .site-header {
    background-color: #000000;
}

body.xenial-transparent-header-enabled .site-header {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    z-index: 10;
}