body:not(.xenial-transparent-header-enabled) #masthead {
    background-color: var(--xenial-background-color);
}

body:not(.xenial-transparent-header-enabled) .xenial-main-header-2 {
    border-bottom: 1px solid var(--xenial-border-color);
}

body.xenial-transparent-header-enabled .xenial-main-header-2 {
    border-bottom: 1px solid var(--xenial-transparent-header-border-color);
}

body:not(.xenial-transparent-header-enabled) .xenial-main-header-navigation-elements-container {
    border-top: 1px solid var(--xenial-border-color);
    border-bottom: 1px solid var(--xenial-border-color);
}

.xenial-sticky-main-navigation {
    z-index: 10;
}

body.xenial-transparent-header-enabled .xenial-sticky-enabled {
    z-index: 10;
    transition-duration: 0.3s;
}

body.xenial-transparent-header-enabled .xenial-main-header-container a:hover {
    color: var(--xenial-accent-color);
}

body .xenial-sticky-main-navigation.xenial-sticky-enabled {
    position: fixed;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 11;
    background-color: var(--xenial-site-background-color);
    color: var(--xenial-text-color);
    border-bottom: 1px solid var(--xenial-border-color);
}

.xenial-sticky-main-navigation.xenial-sticky-enabled.xenial-sticky-show {
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}