#xenial-top-header {
    padding: 12px 0px;
    font-size: var(--xenial-font-size-small);
    border-bottom: 1px solid;
}

#xenial-top-header a {
    text-decoration: none;
}

body:not(.xenial-transparent-header-enabled) #xenial-top-header {
    border-bottom-color: var(--xenial-border-color);
}

body.xenial-transparent-header-enabled #xenial-top-header {
    border-bottom-color: var(--xenial-transparent-header-border-color);
}

#xenial-top-header a:hover {
    color: var(--xenial-accent-color);
}

.xenial-top-header-left-element {
    text-align: left;
}

.xenial-top-header-right-element {
    text-align: right;
}

.xenial-top-header-element ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.xenial-top-header-left-element.xenial-top-header-element ul {
    text-align: left;
}

.xenial-top-header-right-element.xenial-top-header-element ul {
    text-align: right;    
}

.xenial-top-header-element ul li {
    display: inline-block;
}

.xenial-top-header-element ul li:not(:last-child) a {
    margin-right: 20px;
}