.xenial-icon-radio-button-group-control:after,
.xenial-icon-text-radio-button-group-control:after,
.xenial-text-radio-button-group-control:after {
	content: " ";
	display: block;
	clear: both;
}

.xenial-icon-radio-button-group-control .radio-buttons,
.xenial-icon-text-radio-button-group-control .radio-buttons,
.xenial-text-radio-button-group-control .radio-buttons {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	border: 1px solid #f9f9fe;
}

.xenial-icon-radio-button-group-control .radio-button-label,
.xenial-icon-text-radio-button-group-control .radio-button-label,
.xenial-text-radio-button-group-control .radio-button-label {
	cursor: pointer;
	text-align: center;
}

.xenial-image-radio-button-group-control .group-columns-1 .radio-button-label,
.xenial-icon-radio-button-group-control .group-columns-1 .radio-button-label,
.xenial-icon-text-radio-button-group-control .group-columns-1 .radio-button-label,
.xenial-text-radio-button-group-control .group-columns-1 .radio-button-label {
	width: 100%;
}

.xenial-image-radio-button-group-control .group-columns-2 .radio-button-label,
.xenial-icon-radio-button-group-control .group-columns-2 .radio-button-label,
.xenial-icon-text-radio-button-group-control .group-columns-2 .radio-button-label,
.xenial-text-radio-button-group-control .group-columns-2 .radio-button-label {
	width: 46%;
}

.xenial-image-radio-button-group-control .group-columns-3 .radio-button-label,
.xenial-icon-radio-button-group-control .group-columns-3 .radio-button-label,
.xenial-icon-text-radio-button-group-control .group-columns-3 .radio-button-label,
.xenial-text-radio-button-group-control .group-columns-3 .radio-button-label {
	width: 33%;
}

.xenial-image-radio-button-group-control .radio-button-label > input,
.xenial-icon-radio-button-group-control .radio-button-label > input,
.xenial-icon-text-radio-button-group-control .radio-button-label > input,
.xenial-text-radio-button-group-control .radio-button-label > input {
	display: none;
}

.xenial-icon-radio-button-group-control .radio-button-label span,
.xenial-icon-text-radio-button-group-control .radio-button-label span,
.xenial-text-radio-button-group-control .radio-button-label span {
	cursor: pointer;
	font-weight: 500;
	border: 2px solid #f9f9fe;
	margin: 0;
	background-color: #eee;
	padding: 10px 0;
	display: inline-block;
	width: 100%;
}

.xenial-icon-radio-button-group-control .radio-button-label span:hover,
.xenial-icon-text-radio-button-group-control .radio-button-label span:hover,
.xenial-text-radio-button-group-control .radio-button-label span:hover {
	background-color: rgba(255, 255, 255, .2);
	color: #2885bb;
}

.xenial-icon-radio-button-group-control .radio-button-label > input:checked + span,
.xenial-icon-text-radio-button-group-control .radio-button-label > input:checked + span,
.xenial-text-radio-button-group-control .radio-button-label > input:checked + span {
	background-color: #2084bd;
	color: #fff;
}

.xenial-icon-radio-button-group-control .radio-button-label > input:checked + span:hover,
.xenial-icon-text-radio-button-group-control .radio-button-label > input:checked + span:hover,
.xenial-text-radio-button-group-control .radio-button-label > input:checked + span:hover {
	color: #fff;
}

.xenial-image-radio-button-group-control .radio-button-label > img {
	cursor: pointer;
	border: 3px solid #ddd;
}

.xenial-image-radio-button-group-control .radio-button-label > input:checked + img {
	border: 3px solid #2885bb;
}