/* -------------------------------------------------------------------------- 
	Variables - Customizer
  -------------------------------------------------------------------------- */

:root {

    /* Color */
    --xe_customizer_primary_color: #0080bc;
    --xe_customizer_secondary_color: #f5f5f5;
    --xe_customizer_border_color: #e8e8e8;
    --xe_customizer_dark_border_color: #d5d5d5;
    --xe_customizer_control_hover_background_color: #E7E7E7;

    --xe_border_color_active: #0080bc;
    --xe_customizer_background_color: #f0f0f1;

    --xe_customizer_seperator_color: #d9d9d9;

    /* Font */
    --xe_customizer_text_fontsize: 13px;
    --xe_customizer_control_label_fontsize: 14px;
    --xe_customizer_control_label_fontweight: 500;

    --border-color: #e8e8e8;
    --border-color-hover: #d8d8d8;
    --border-color-active: #3da6ff;
    --customizer-background-color: #f0f0f1;
}

/* -------------------------------------------------------------------------- 
	Forms - Customizer 
  -------------------------------------------------------------------------- */

#customize-controls input[type="color"], 
#customize-controls input[type="date"], 
#customize-controls input[type="datetime-local"], 
#customize-controls input[type="datetime"], 
#customize-controls input[type="email"], 
#customize-controls input[type="month"], 
#customize-controls input[type="number"], 
#customize-controls input[type="password"], 
#customize-controls input[type="search"], 
#customize-controls input[type="tel"], 
#customize-controls input[type="text"], 
#customize-controls input[type="time"], 
#customize-controls input[type="url"], 
#customize-controls input[type="week"], 
#customize-controls select, 
#customize-controls textarea {

    border: 1px solid #e8e8e8;
    font-size: 12px;
    padding:0 10px;
    min-height: 35px;
    border-radius: 3px;
    transition: all 0.5s ease;
}

#customize-controls textarea {

    padding: 20px;
}

#customize-controls input[type="color"]:hover, 
#customize-controls input[type="date"]:hover, 
#customize-controls input[type="datetime-local"]:hover, 
#customize-controls input[type="datetime"]:hover, 
#customize-controls input[type="email"]:hover, 
#customize-controls input[type="month"]:hover, 
#customize-controls input[type="number"]:hover, 
#customize-controls input[type="password"]:hover, 
#customize-controls input[type="search"]:hover, 
#customize-controls input[type="tel"]:hover, 
#customize-controls input[type="text"]:hover, 
#customize-controls input[type="time"]:hover, 
#customize-controls input[type="url"]:hover, 
#customize-controls input[type="week"]:hover, 
#customize-controls select:hover, 
#customize-controls textarea:hover {

    border-color: #D2D2D2;
}

#customize-controls input[type="color"]:focus, 
#customize-controls input[type="date"]:focus, 
#customize-controls input[type="datetime-local"]:focus, 
#customize-controls input[type="datetime"]:focus, 
#customize-controls input[type="email"]:focus, 
#customize-controls input[type="month"]:focus, 
#customize-controls input[type="number"]:focus, 
#customize-controls input[type="password"]:focus, 
#customize-controls input[type="search"]:focus, 
#customize-controls input[type="tel"]:focus, 
#customize-controls input[type="text"]:focus, 
#customize-controls input[type="time"]:focus, 
#customize-controls input[type="url"]:focus, 
#customize-controls input[type="week"]:focus, 
#customize-controls select:focus, 
#customize-controls textarea:focus {

    outline: none;
    border-color: #3da6ff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

#customize-controls input[type="email"], 
#customize-controls input[type="number"], 
#customize-controls input[type="password"], 
#customize-controls input[type="search"], 
#customize-controls input[type="tel"], 
#customize-controls input[type="text"], 
#customize-controls input[type="url"] {
    
    margin-bottom: 10px;
}

#customize-controls input::-webkit-outer-spin-button,
#customize-controls input::-webkit-inner-spin-button {

  -webkit-appearance: none;
}

#customize-controls input[type=number] {

     -moz-appearance: textfield;
}

#customize-controls input[type=checkbox].tgl-ios + .tgl-btn {

    width: 40px;
    height: 23px;
    border-radius: 25px;
    background-color: #e2e2e2;
}

#customize-controls input[type=checkbox].tgl-ios + .tgl-btn:after {

    border-radius: 50%;
    box-shadow: none;
}

#customize-controls input[type=checkbox].tgl-ios:checked + .tgl-btn {

    background: var(--xe_customizer_primary_color);
}

#customize-controls .ss-main .ss-single-selected .ss-arrow span {

    border-color: #D2D2D2;
}

#customize-controls .wp-picker-container .wp-color-result.button {

    height: 35px;
    min-height: 35px;
    margin: 0;
    padding: 0 0 0 35px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    box-shadow: none;
}

#customize-controls .wp-picker-container .wp-color-result.button .wp-color-result-text {

    font-size: 12px;
    line-height: 33px;
    padding: 0 10px;
    border: none;
    border-radius: 0;
    background-color: var(--customizer-background-color);
}

#customize-controls .wp-picker-container .wp-color-result.button:hover {

    border: 1px solid var(--border-color-hover);
}

#customize-controls .wp-picker-container .wp-color-result.button:focus {

    outline: none;
    box-shadow: none;
    border: 1px solid var(--border-color-hover);
}

#customize-controls .slider-custom-control .slider {

    width: 90%;
}

#customize-controls .slider-custom-control .dashicons-image-rotate {

    font-size: 11px;
    color: #BBBBBB;
    margin-top: 15px;
}

#customize-controls .slider-custom-control .dashicons-image-rotate:hover {

    color: #8E8E8E;
}

#customize-controls .customize-control .accordion-expand-button {

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border: none;
    color: #8E8E8E;
    background-color: #ECECEC;
    border-radius: 50%;
}

#customize-controls .customize-control .accordion-expand-button:before {

    display: inline-flex;
    font-size: 10px;
    height: 25px;
}

#customize-controls .customize-control .accordion-expand-button:hover,
#customize-controls .customize-control.expanded .accordion-expand-button {

    color: #8E8E8E;
    background-color: #D2D2D2;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

#customize-controls .customize-control .accordion-expand-button:focus {

    outline: none;
}

#customize-controls .slider-custom-control .ui-slider .ui-slider-handle:before,
#customize-controls .customize-control-xenial-slider .xenial-slider .ui-slider-handle:before {

    content: "";
    position: absolute;
    top: -9px;
    left: -9px;
    height: 35px;
    width: 35px;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(129, 183, 255, 0.2);
    border-radius: 50%;
    transition: all 0.5s ease;
}

#customize-controls .slider-custom-control .ui-slider .ui-slider-handle:hover:before,
#customize-controls .customize-control-xenial-slider .xenial-slider .ui-slider-handle:hover:before {

    content: "";
    opacity: 1;
    visibility: visible;
} 


/* Text - Customizer */

/* Icons - Customizer */

/* Spacing - Customizer */

/* Shadow - Customizer */

/* -------------------------------------------------------------------------- 
	Controls - Customizer
  -------------------------------------------------------------------------- */

#customize-controls .customize-control {

    margin-bottom: 15px;
} 

.customize-control-xenial-wrapper .customizer-wrapper-title {

    color: #565656;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

#customize-controls .customize-control-title {
    font-size: 13px;
    font-weight: 500;
}

#customize-controls .wp-picker-container.wp-picker-active {

    margin: 40px 0 20px 0;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 30px rgba(0,0,0,0.1);
}

#customize-controls .wp-picker-container .wp-picker-input-wrap .color-picker-hex  {

    width: 75px;
}

.customize-control-description {

    display: inline-block;
    margin-top: 5px;
}

#customize-theme-controls .customize-pane-child.open {

    height:  100%;
}

.customize-control-xenial-dimensions .dimension-wrap .link-dimensions {
    
    border-color: var(--border-color); /* margin/padding dimensions control */
}

#customize-controls-typography_info_1 {

    margin-top: 0px;
}

#customize-controls-colors_info_1 {

  margin-top: 15px;
}

#customize-controls-miscellaneous_info_1 {

    margin-top: 0px;
}

#customize-controls-buttons_info_1 {

    margin-top: 0px;
}

#accordion-panel-xenial_general_panel {
    margin-bottom: 15px;
}

#accordion-section-xenial_colors,
#accordion-section-xenial_buttons,
#accordion-panel-woocommerce,
#accordion-section-title_tagline,
#accordion-section-xenial_transparent_header,
#accordion-section-xenial_archive_pages,
#accordion-panel-xenial_site_pages,
#accordion-panel-nav_menus {

  margin-top: 15px;
}

li#customize-controls-custom_logo_wrapper,
li#customize-controls-site_title_style_wrapper {
    margin-top: 0;
}

li#customize-controls-logo_position {
    margin-top: 20px;
}

/* -------------------------------------------------------------------------- 
	Responsive Switcher
  -------------------------------------------------------------------------- */

.customize-control.has-switchers .customize-control-title {
    display: block;
    line-height: 1;
    margin-bottom: 10px;
}

.customize-control.has-switchers .customize-control-title span {
    line-height: 20px
}

.customize-control .responsive-switchers {
    width: auto;
    float: right;
}

.customize-control .responsive-switchers-open.responsive-switchers li {
    display: block
}

.customize-control .responsive-switchers li {
    float: left;
    margin: 0
}

.customize-control .responsive-switchers li button {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    color: #555;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    cursor: pointer;
    background-color: #ffffff;
}

.customize-control .responsive-switchers li button svg {
    fill: #888888;
    height: 16px;
    width: 16px;
}

.customize-control .responsive-switchers li button.active svg {
    fill: #2271b1;
}

.customize-control .responsive-switchers li button:hover {
    background-color: transparent;
}

.customize-control .responsive-switchers li:not(.desktop) button.active {
    color: #0085ba;
    background-color: transparent;
}

.customize-control .responsive-switchers.responsive-switchers-open li button.active {
    color: #0085ba;
}

.customize-control .responsive-switchers li button i {
    width: auto;
    height: auto;
    font-size: inherit;
    line-height: 18px
}

.customize-control.has-switchers>.responsive-control-wrap:not(.active) {
    display: none;
    width: 100%
}

.customize-control-code_editor .CodeMirror {
    height: calc(100vh - 185px)
}

body.rtl .customize-control-checkbox input[type=checkbox] {
    margin: 0 0 0 6px
}

body.rtl .customize-control-checkbox input[type=checkbox]:checked:before,
body.rtl .customize-control-ocean-multi-check input[type=checkbox]:checked:before {
    right: 0;
    left: auto
}

body.rtl .customize-control .responsive-switchers,
body.rtl .customize-control .responsive-switchers li button {
    margin-right: 5px;
    margin-left: 0
}

body.rtl .customize-control .responsive-switchers li {
    float: right
}

@media screen and (max-width:768px) {
    body .customize-control .responsive-switchers {
        display: none
    }
    body .customize-control.has-switchers>.responsive-control-wrap:not(.active) {
        display: inline-block
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    body .customize-control.has-switchers>.responsive-control-wrap {
        display: inline-block
    }
    body .customize-control.has-switchers>.responsive-control-wrap:not(.tablet) {
        display: none
    }
}

@media screen and (max-width:480px) {
    body .customize-control.has-switchers>.responsive-control-wrap {
        display: inline-block
    }
    body .customize-control.has-switchers>.responsive-control-wrap:not(.mobile) {
        display: none
    }
}

.customize-control-color,
.customize-control-xenial-alpha-color {
    position: relative;
}

.wp-picker-container .wp-color-result.button {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0;
}

.wp-picker-container {
    width: 100%;
}

.wp-picker-container.wp-picker-active {
    
    margin-top: 15px;
    background-color: #ffffff;
}

.wp-picker-container.wp-picker-active .wp-picker-open + .wp-picker-input-wrap {
    width:  100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
}

.wp-picker-container.wp-picker-active .wp-picker-holder {
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
}

/* -------------------------------------------------------------------------- 
	Controls - Sortable
  -------------------------------------------------------------------------- */

.xenial-sortable-selector-control .selector-select-add-wrapper {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.xenial-sortable-selector-control .selector-select-add-wrapper .sortable-selector-select {

    max-width: 85%;
    margin-bottom: 0;
}

.xenial-sortable-selector-control .button.sortable-selector-input-add {

    line-height: 35px;
    width: 35px;
    height: 35px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #dcdee2;
    background-color: #FFFFFF;
}

.xenial-sortable-selector-control .button.sortable-selector-input-add:hover {

    border-color: var(border-color-hover);
    background-color: #FFFFFF;
}

.xenial-sortable-selector-control .button.sortable-selector-input-add:focus {

    outline: none;
    border-color: var(--border-color-active);
}

.xenial-sortable-selector-control .button.sortable-selector-input-add svg {

    display: inline-flex;
    flex-wrap: wrap;
    width: 16px;
    height: 16px;
    fill: #50575E;
}

.xenial-sortable-selector-control .sortable-element {

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 15px;
    line-height: 1;
    border: 1px solid var(--border-color);
    background-color: #FFFFFF;
    border-radius: 3px;
}

.xenial-sortable-selector-control .sortable-element.ui-sortable-helper {

    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.xenial-sortable-selector-control .sortable-elements-wrapper .sortable-element .sortable-icon {

    line-height: 1;
}

.xenial-sortable-selector-control .sortable-elements-wrapper .sortable-element .item-label {

    min-width: 100px;
}

.xenial-sortable-selector-control .sortable-element .sortable-icon svg,
.xenial-sortable-selector-control .sortable-element .sortable-selector-input-delete {

    line-height: 1;
    fill: #50575E;
    transition: all 0.3s ease;
}

.xenial-sortable-selector-control .sortable-element .sortable-icon svg {

    height: 16px;
    width: 16px;
    opacity: 0.5;
}

.xenial-sortable-selector-control .sortable-element.ui-sortable-helper .sortable-icon svg {

    fill: #3DA6FF;
    opacity: 1;
}

.xenial-sortable-selector-control .sortable-element .sortable-selector-input-delete {
    
    color: #50575E;
    border-radius: 50%;
    text-decoration: none;
}

.xenial-sortable-selector-control .sortable-element .sortable-selector-input-delete:hover {

    color: #3DA6FF;
    text-decoration: none;
}

.xenial-sortable-selector-control .sortable-element .sortable-selector-input-delete:focus {

    outline: none;
    text-decoration: none;
}


/* Hidden Fields  */
#customize-control-theme_header_elements {

    /*display: none;*/
}

/* -------------------------------------------------------------------------- 
	Color Picker
  -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- 
	Tooltips
  -------------------------------------------------------------------------- */

[data-tippy-root] {

    z-index: 1000000 !important;
}

.tippy-box {

    position: relative;
    font-size: 13px;
    line-height: 21px;
    font-weight: normal;
    padding: 1px 7px 1px 7px;
    border-radius: 2px;
}

.tippy-box[data-animation=scale][data-placement^=top] {

    transform-origin: bottom
}

.tippy-box[data-animation=scale][data-placement^=bottom] {

    transform-origin: top
}

.tippy-box[data-animation=scale][data-placement^=left] {

    transform-origin: right
}

.tippy-box[data-animation=scale][data-placement^=right] {

    transform-origin: left
}

.tippy-box[data-animation=scale][data-state=hidden] {

    transform: scale(0.5);
    opacity: 0
}

/* -------------------------------------------------------------------------- 
	Mobile preview
  -------------------------------------------------------------------------- */

.preview-mobile .wp-full-overlay-main {

    left: 50%;
    width: 380px;
    margin: 30px auto;
    transform: translateX(-50%);
}


















.customize-hidden {
    display: none;
}

.customize-display {
    display: block;
}


.box-border-expand-icon svg {
    width: 16px;
    height: 16px;
}

.xenial-control-toggle-button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.xenial-control-toggle-button:hover {
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
}

.xenial-control-modal {
    display: none;
}

.xenial-control-modal.modal-open {
    display: block;
    position: absolute;
    left: 15px;
    right: 15px;
    margin-top: 5px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}


.flex {
    display: flex;
    justify-content: space-between;
}

.xenial-customize-control-label.flex {
    align-items: center;
}

.xenial-customize-control-section {

}

.xenial-customize-control-section-inner {

}



.xenial-customize-control-section-inner.flex {
    display: flex;
    justify-content: space-between;
}

.xenial-customizer-control-section-field-wrapper {
    margin-bottom: 10px;
}

.xenial-customize-button-group {
    display: flex;
}

.xenial-customize-button {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    transition-duration: 0.2s;
}

.xenial-customize-button.secondary:hover {
    background-color: #ffffff;
    color: #000000;
}

.xenial-customize-button.active,
.xenial-customize-button:hover {
    background-color: #0085ba;
    color: #ffffff;
    border-color: #0085ba;
    fill: #ffffff;
}

.xenial-customize-button.no-style {
    background: transparent;
    border: none;
    padding: 0px;
}

.xenial-customize-button.no-style:hover {
    background: transparent;
    border: none;
    color: #0085ba;
}

.xenial-customize-reset-button .dashicons {
    font-size: 14px;
    color: #888888;
}

.xenial-customize-reset-button:hover .dashicons {
    color: #0085ba;
}

.xenial-unit-wrapper {
    position: relative;
}

.unit-dropdown-toggle-button {
    width: 45px;
    height: 35px;
    border-radius: 3px;
    margin-left: 5px;
    text-transform: uppercase;
}

.xenial-unit-dropdown {
    display: none;
}

.xenial-unit-dropdown.dropdown-open {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 5px;
    z-index: 1;
    border-radius: 3px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    margin-left: 5px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
}

.xenial-unit-dropdown .xenial-customize-button {
    border: none;
    width: 100%;
    padding: 10px 5px;
    text-transform: uppercase;
}

.responsive-control-wrap {
    display: none;
}

.responsive-control-wrap.active,
.non-responsive-control-wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.xenial-slider-input .slider-input {
    width: 45px !important;
    margin: 0px !important;
}