/* -------------------------------------------------------------------------- 
	Alerts
  -------------------------------------------------------------------------- */

.xe-alert {

    @include flex();
    align-items: center;
    justify-content: flex-start;
    position: relative;
    font-size: 14px;
    line-height: 1.6;
    padding: 12px;
    margin-bottom: 30px;
    border: 2px solid #eaeaea;
    border-radius: 2px;

    .icon {

        margin-right: 5px;
    }

    .message {

        margin: 0;
    }
}

/* -------------------------------------------------------------------------- 
	Alert: Success
  -------------------------------------------------------------------------- */

.xe-alert.success {

    color: #267339;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* -------------------------------------------------------------------------- 
	Alert: Info
  -------------------------------------------------------------------------- */

.xe-alert.info {

    color: #4a87c3;
    background-color: #D8EAFC;
    border-color: #bfdaf5;
}

/* -------------------------------------------------------------------------- 
	Alert: Warning
  -------------------------------------------------------------------------- */

.xe-alert.warning {

    color: #968655;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

/* -------------------------------------------------------------------------- 
	Alert: Error
  -------------------------------------------------------------------------- */

.xe-alert.error {

    color: #94666a;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}