// visibility 

.visible-on-hover {

    opacity: 0;
    @include visibility_hidden();
}

// carousel 

.xe-carousel {

    position: relative;
}

// border radius

.rectangle {

    border-radius: 0;
}

.square {

    border-radius: 2px;
}

.rounded {

    border-radius: 25px;
}

.circle {

    border-radius: 100%;
}

// block 

.xe-block-title {

    margin-bottom: 30px;
}

.xe-block-title .xe-title {

    font-size: 18px;
    margin-bottom: 0;
}

// edit 

.edit {

    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    font-family: var(--xe_system_font_family);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.25px;
    vertical-align: middle;
    background-color: transparent;
}

.edit::before {

    content: "\e61c";
    display: inline-flex;
    font-family: var(--xe_iconfont);
    font-weight: normal;
    margin-right: 4px;
}

.edit:hover {

    text-decoration: none;
}

// sticky 

.xe-sidebar-sticky #secondary {

    position: sticky;
    top: 0;
}

// tippy

.tippy-box[data-animation=scale][data-placement^=top] {

    transform-origin: bottom
}

.tippy-box[data-animation=scale][data-placement^=bottom] {

    transform-origin: top
}

.tippy-box[data-animation=scale][data-placement^=left] {

    transform-origin: right
}

.tippy-box[data-animation=scale][data-placement^=right] {

    transform-origin: left
}

.tippy-box[data-animation=scale][data-state=hidden] {

    transform: scale(.5);
    opacity: 0
}

.tippy-box {

    font-size: 13px;
    line-height: 21px;
    font-weight: normal;
    padding: 4px 10px 4px 10px;
    border-radius: 2px;
}

// swiper 

.swiper-wrapper {

    position: relative;
}

.swiper-button-next,
.swiper-button-prev {

    position: absolute;
    top: 50%;
    display: inline-flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    color: var(--xe_base_text_color);
    background-color: #F5F5F5;
    border-radius: 50%;
    transform: translateY(-50%);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {

    color: var(--xe_base_text_color);
    background-color: #EEEEEE;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {

    outline: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {

    font-size: inherit;
    line-height: inherit;
}

.xe-carousel:hover .swiper-button-next,
.xe-carousel:hover .swiper-button-prev {

    opacity: 1;
    visibility: visible;
}

.swiper-button-next {

    right: -25px;
    left: auto;
}

.swiper-button-prev {

    left: -25px;
    right: auto;
}

@media ( max-width: 575px ) {

    .swiper-button-next,
    .swiper-button-prev  {

        display: none;
    }
}

// text underline 

.has-text-underline {

    position: relative;
    text-decoration: none;
}

.has-text-underline:hover {

    text-decoration: none;
}

.has-text-underline:focus {

    outline: none;
    text-decoration: none;
}

.has-text-underline::after,
.has-text-underline::before  {

    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: currentColor;
}

.has-text-underline::before {

    content: "";
    z-index: 1;
    background-color: currentColor;
    transform-origin: right center;
    transform: scaleX(0);
    will-change: scale;
    transition: transform .26s cubic-bezier(.25,.8,.25,1);
    -webkit-backface-visibility: hidden;
}

.has-text-underline::after {

    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    opacity: 0.5;
    background-color: currentColor;
}

.has-text-underline:hover::before {

    transform: scale(1);
    transform-origin: left center;
    background-color: var(--xe_primary_color);
}
