
/* -------------------------------------------------------------------------- 
	Animation FadeIn
  -------------------------------------------------------------------------- */

@-webkit-keyframes xeFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes xeFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes xeFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes xeFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@-webkit-keyframes xeFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes xeFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes xeFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes xeFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* -------------------------------------------------------------------------- 
	Animation FadeOut
  -------------------------------------------------------------------------- */

@-webkit-keyframes xeFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes xeFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes xeFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes xeFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* -------------------------------------------------------------------------- 
	Animation FadeInUp
  -------------------------------------------------------------------------- */

@keyframes xeFadeInUp {
    from {
        transform: translate3d(0, 20px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes xeFadeInUp {
    from {
        transform: translate3d(0, 20px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

/* -------------------------------------------------------------------------- 
	Animation FadeDown
  -------------------------------------------------------------------------- */

@keyframes xeButtonFadeDown {

    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes xeButtonFadeInUp {

    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* -------------------------------------------------------------------------- 
	Animation Spin
  -------------------------------------------------------------------------- */

@-ms-keyframes xeSpin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes xeSpin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes xeSpin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes xeSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* -------------------------------------------------------------------------- 
	Animation SlideInLeft
  -------------------------------------------------------------------------- */

@keyframes slideInLeft {

    from {
        right: -100vw;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

/* -------------------------------------------------------------------------- 
	Animation SlideOutLeft
  -------------------------------------------------------------------------- */

@keyframes xeslideOutLeft {

    from {
        right: 0;
        opacity: 1;
    }

    to {
        right: -100vw;
        opacity: 0;
    }
}


/* -------------------------------------------------------------------------- 
	Animation SlideInRight
  -------------------------------------------------------------------------- */

@keyframes slideInright {

    from {
        left: -100vw;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}


/* -------------------------------------------------------------------------- 
	Animation SlideOutRight
  -------------------------------------------------------------------------- */

@keyframes slideoutright {
    
    from {
        left: 0;
        opacity: 1;
    }

    to {
        left: -100vw;
        opacity: 0;
    }
}