/* -------------------------------------------------------------------------- 
	#. Alert defaults
   -------------------------------------------------------------------------- */

.woocommerce-notices-wrapper {

   position: relative;
}

.woocommerce-error, 
.woocommerce-info, 
.woocommerce-message {

   @include flex();
   border-top: 3px solid var(--xe_border_color);
   justify-content: flex-start;
   gap: 5px;
   padding: 15px 15px 15px 35px;
   margin-bottom: 30px;
   background-color: #F7F7F7;
}

.woocommerce-error::before, 
.woocommerce-info::before, 
.woocommerce-message::before {

   content: "\e64c";
   display: inline-flex;
   position: absolute;
   top: 15px;
   left: 13px;
   font-family: var(--xe_iconfont);
   font-size: 16px;
   font-weight: normal;
}

.woocommerce-error {

   border-top-color: var(--xe_woocommerce_alert_error);
}

.woocommerce-error::before {

   content: "\e717";
   color: var(--xe_woocommerce_alert_error);
}

.woocommerce-info {

   border-top-color: var(--xe_woocommerce_alert_info);
}

.woocommerce-info::before {

   content: "\e6b8";
   color: var(--xe_woocommerce_alert_info);
}

.woocommerce-message {

   border-top-color: var(--xe_woocommerce_alert_message);
}

.woocommerce-message::before {

   content: "\e64c";
   color: var(--xe_woocommerce_alert_message);
}

.woocommerce-info li,
.woocommerce-error li, 
.woocommerce-message li {

   display: block;
   width: 100%;
   margin-bottom: 5px;
}

.woocommerce-info li:last-child,
.woocommerce-error li:last-child, 
.woocommerce-message li:last-child {

   margin-bottom: 0;
}

.woocommerce-info li > strong,
.woocommerce-error li > strong, 
.woocommerce-message li > strong {

   font-weight: 600;
}

// button in alert

.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-error .button,  
.woocommerce .woocommerce-message .button, 
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-error .button,  
.woocommerce-page .woocommerce-message .button {

   display: inline-flex;
   order: 2;
   float: none;
   position: relative;
   height: auto;
   margin: 0;
   padding: 0 0 2px 0;
   color: var(--xe_primary_color);
   background-color: transparent;
}

.woocommerce .woocommerce-info .button:hover,
.woocommerce .woocommerce-error .button:hover,  
.woocommerce .woocommerce-message .button:hover, 
.woocommerce-page .woocommerce-info .button:hover,
.woocommerce-page .woocommerce-error .button:hover,  
.woocommerce-page .woocommerce-message .button:hover {

   color: var(--xe_secondary_color);
   background-color: transparent;
}

.woocommerce .woocommerce-info .button::after,
.woocommerce .woocommerce-info .button::before,
.woocommerce .woocommerce-error .button::after,
.woocommerce .woocommerce-error .button::before,
.woocommerce .woocommerce-message .button::after,
.woocommerce .woocommerce-message .button::before,
.woocommerce-page .woocommerce-info .button::after,
.woocommerce-page .woocommerce-info .button::before,
.woocommerce-page .woocommerce-error .button::after,
.woocommerce-page .woocommerce-error .button::before {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
}

.woocommerce .woocommerce-info .button::before,
.woocommerce .woocommerce-error .button::before,
.woocommerce .woocommerce-message .button::before,
.woocommerce-page .woocommerce-info .button::before,
.woocommerce-page .woocommerce-error .button::before {

    content: "";
    z-index: 1;
    background-color: currentColor;
    transform-origin: right center;
    transform: scaleX(0);
    will-change: scale;
    transition: transform .26s cubic-bezier(.25,.8,.25,1);
    -webkit-backface-visibility: hidden;
}

.woocommerce .woocommerce-info .button::after,
.woocommerce .woocommerce-error .button::after,
.woocommerce .woocommerce-message .button::after,
.woocommerce-page .woocommerce-info .button::after,
.woocommerce-page .woocommerce-error .button::after,
.woocommerce-page .woocommerce-error .button::before {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0.5;
    background-color: currentColor;
}

.woocommerce .woocommerce-info .button:hover::before,
.woocommerce .woocommerce-error .button:hover::before,
.woocommerce .woocommerce-message .button:hover::before,
.woocommerce-page .woocommerce-info .button:hover::before,
.woocommerce-page .woocommerce-error .button:hover::before {

    transform: scale(1);
    transform-origin: left center;
    background-color: var(--xe_secondary_color);
}