/* -------------------------------------------------------------------------- 
	#. WooCommerce Notice bar
   -------------------------------------------------------------------------- */

.admin-bar p.demo_store {

    top: unset;
}

p.demo_store,
.woocommerce-store-notice,
.woocommerce-store-notice.demo_store {

    @include flex();
    position: fixed;
    left: 30px;
    right: unset;
    bottom: 30px;
    top: unset;
    width: 400px;
    height: auto;
    color: #FFFFFF;
    padding: 30px;
    text-align: left;
    border-radius: 3px;
    font-size: var(--xe_base_font_size);
    line-height: var(--xe_base_font_line_height);
    letter-spacing: var(--xe_base_letter_spacing);
    font-weight: var(--xe_base_font_weight);
    background-color: var(--xe_primary_color);
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    animation: xeFadeInUp 0.6s 0s ease;
}

p.demo_store a,
.woocommerce-store-notice a {

    position: absolute;
    right: -15px;
    top: -15px;
    left: unset;
    bottom: unset;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0;
    text-decoration: none;
}

p.demo_store a::before,
.woocommerce-store-notice a::before {

    content: "\e646";
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: var(--xe_iconfont);
    font-size: 11px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: var(--xe_base_text_color);
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

p.demo_store a:hover {

    text-decoration: none;
}

p.demo_store a:hover:before {

    animation: xeSpin 0.3s infinite linear;
}

p.demo_store a:focus {

    outline: none;
    text-decoration: none;
}

/* -------------------------------------------------------------------------- 
	#. Media Query
   -------------------------------------------------------------------------- */

@media ( max-width: 768px ) {

    p.demo_store,
    .woocommerce-store-notice,
    .woocommerce-store-notice.demo_store {

        padding: 20px;
    }
}

@media ( max-width: 575px ) {

    p.demo_store,
    .woocommerce-store-notice,
    .woocommerce-store-notice.demo_store {

        width: 85vw;
        left: 15px;
    }
}