// woocommerce buttons

.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce input.button, 
.woocommerce button.button,
.woocommerce input.button.alt,
.woocommerce button.button.alt, 
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt,
.woocommerce ul.products li.product .button,
.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {

    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--xe_button_font_size);
    font-weight: normal;
    color: var(--xe_button_text_color);
    line-height: var(--xe_button_line_height);
    height: 48px;
    padding: 0 20px;
    background-color: var(--xe_button_background_color);
    border-radius: var(--xe_buttons_border_radius);

    &:hover {

        color: var(--xe_button_hover_text_color);
        background-color: var(--xe_button_hover_background_color);
    }

    &:focus {

        outline-color: currentColor;
    }
}

// WooCommerce disabled buttons

.woocommerce a.button.disabled, 
.woocommerce a.button:disabled,
.woocommerce button.button.disabled, 
.woocommerce button.button:disabled,
.woocommerce input.button.disabled, 
.woocommerce input.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce #respond input#submit.disabled, 
.woocommerce #respond input#submit:disabled, 
.woocommerce button.button:disabled[disabled], 
.woocommerce input.button:disabled[disabled],
.woocommerce ul.products li.product .button.disabled,
.woocommerce #respond input#submit:disabled[disabled] {
    
    opacity: 1;
    padding: 0 20px;
    cursor: not-allowed;
    color: var(--xe_button_text_color);
    background-color: var(--xe_button_background_color);
}

.woocommerce #respond input#submit.alt.disabled, 
.woocommerce #respond input#submit.alt:disabled, 
.woocommerce #respond input#submit.alt:disabled[disabled], 
.woocommerce a.button.alt.disabled,  
.woocommerce a.button.alt:disabled, 
.woocommerce a.button.alt:disabled[disabled],  
.woocommerce button.button.alt.disabled, 
.woocommerce button.button.alt:disabled,  
.woocommerce button.button.alt:disabled[disabled], 
.woocommerce input.button.alt.disabled, 
.woocommerce input.button.alt:disabled, 
.woocommerce input.button.alt:disabled:hover, 
.woocommerce input.button.alt:disabled[disabled] {

    cursor: not-allowed;
    color: var(--xe_button_text_color);
    background-color: var(--xe_button_background_color);
}

.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled:hover,
.woocommerce input.button.alt.disabled:hover,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce #respond input#submit.alt:disabled[disabled]:hover {

    color: var(--xe_button_hover_text_color);
    background-color: var(--xe_button_hover_background_color);
}

.woocommerce a.button.loading::after, 
.woocommerce button.button.loading::after, 
.woocommerce input.button.loading::after,
.woocommerce #respond input#submit.loading::after {

    font-family: WooCommerce;
    content: "\e01c";
    font-size: 14px;
    position: absolute;
    z-index: 5;
    top: inherit;
    left: auto;
    right: 15px;
}

// add to cart button

.woocommerce ul.products li.product .button.added {

    display: none;
}

// woocommerce buttons 

.xe-woo-buttons-group {

    @include flex();
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 15px;
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%);
    transition: all .3s ease;

    .xe-button,
    .added_to_cart.wc-forward {

        display: inline-flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 40px;
        height: 40px;
        font-size: 13px;
        line-height: 1;
        font-weight: normal;
        color: var(--xe_base_text_color);
        background-color: white;
        border-radius: 100%;

        &:hover {

            background-color: #e6e6e6;
        }
    }

    a.added_to_cart.wc-forward {

        font-size: 0;

        &::before {

            content: "";
            display: none;
        }

        &::after {

            content: "\e64c";
            position: relative;
            font-family: var(--xe_iconfont);
            transform: none;
            font-size: 13px;
            opacity: 1;
            height: auto;
            bottom: unset;
            left: unset;
            width: auto;
            background: transparent;
        }
    }

    .xe-cart-button.added {

        display: none;
    } 

    .xe-add-to-cart-button {

        &::before {

            content: "";
            display: none;
        }
    }
}

.woocommerce ul.products li.product .xe-product-thumb .xe-woo-buttons-group .addonify-add-to-wishlist-btn, 
.woocommerce-page ul.products li.product .xe-product-thumb .xe-woo-buttons-group .addonify-add-to-wishlist-btn {

    color: var(--xe_base_text_color);
    background-color: white;

    &:hover {

        background-color: #e6e6e6;
    }
}

@media (max-width: 575px) {

    .xe-woo-buttons-group .xe-button {

        width: 35px;
        height: 35px;
        font-size: 15px;
        line-height: 36px;
    }
}

// Add to cart button is link style

.xe-add-to-cart-button.is-link-style,
.woocommerce ul.products li.product .xe-add-to-cart a.added_to_cart {

    position: relative;
    border-style: none;
    border-color: transparent;
    border-width: 0;
    padding: 0;
    margin: 0;
    fill: var(--xe_button_is_link_style_text_color);
    color: var(--xe_button_is_link_style_text_color);
    background-color: transparent;
    @include transation_delay();

    &::before,
    &::after {

        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--eleaddon_text_button_underline_color);
        @include transation_delay();
    }

    &::before {

        content: "";
        z-index: 1;
        background-color: var(--xe_button_is_link_style_underline_color);
        transform-origin: right center;
        transform: scaleX(0);
        will-change: scale;
        transition: transform .26s cubic-bezier(.25,.8,.25,1);
        -webkit-backface-visibility: hidden;
    }

    &::after {

        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 3px;
        opacity: 0.5;
        background-color: var(--xe_button_is_link_style_underline_color);
    }

    &:hover {

        color: var(--xe_button_is_link_style_hover_text_color);
        background-color: transparent;

        &::before {

            content: "";
            transform: scaleX(1);
            transform-origin: left center;
            background-color: var(--xe_button_is_link_style_hover_underline_color);
        }
    }
}

// Remove button 

.woocommerce a.remove {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    font-weight: normal;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}

.woocommerce a.remove::before {

    content: "\e646";
    font-family: var(--xe_iconfont);
    font-weight: normal;
    font-size: 10px;
    line-height: 1;
}
