/* -------------------------------------------------------------------------- 
	#. Addonify quick view
   -------------------------------------------------------------------------- */

.theme-xenial {

   #addonify-quick-view-modal {

      .woocommerce {

         .product {

			// IMAGES
			.images {

				.flex-control-nav {

					position: relative;
					left: auto;
					right: auto;
					bottom: auto;
					top: auto;
					max-height: 100%;
				}

				.flex-direction-nav {

					left: 10px;
				}
			}

			// SUMMARY
			.summary  {

				.summary-content {

					.woocommerce-product-details__short-description {

						border: none;
					}
				}
			}
		 }
      }
   }
}