/* -------------------------------------------------------------------------- 
	#. Addonify Quickview
   -------------------------------------------------------------------------- */

#addonify-quick-view-modal {

    height: 60vh;
    max-height: 90vh;
    min-height: 500px;
    border-radius: 5px;
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.10);

    .adfy-qvm-head {

        right: 20px;
        z-index: 10000;
    }

    #addonify-qvm-close-button {

        display: inline-flex;
        justify-content: center;
        align-items: center;
        fill: var(--xe_base_text_color);
        color: var(--xe_base_text_color);
        border: 2px solid var(--xe_base_text_color);
        border-radius: 100%;
        background: transparent;
        background-color: transparent;

        svg {

            height: 14px;
            width: 14px;
            line-height: auto;
        }

        &:hover {

            fill: var(--xe_base_link_hover_color);
            color: var(--xe_base_link_hover_color);
            border-color: var(--xe_base_link_hover_color);
            background: transparent;
            background-color: transparent;
        }
    }

    .adfy-quick-view-modal-content {

        .woocommerce {

            .product {

                .addonify-add-to-wishlist-btn {

                    display: inline-flex;
                    padding: 15px 20px;
                    height: auto;
                    fill: var(--xe_button_text_color);
                    color: var(--xe_button_text_color);
                    background-color: var(--xe_button_background_color);

                    .icon {

                        color: var(--xe_button_text_color);
                    }

                    &:hover {

                        fill: var(--xe_button_hover_text_color);
                        color: var(--xe_button_hover_text_color);
                        background-color: var(--xe_button_hover_background_color);

                        .icon {

                            color: var(--xe_button_hover_text_color);
                        }
                    }
                }

                .woocommerce-product-gallery {

                    .flex-viewport {

                        margin-left: 0;
                    }

                    .flex-control-thumbs {

                        @include flex();
                        flex-direction: row;
                        justify-content: flex-start;
                        gap: 15px;
                        position: relative;
                        left: auto;
                        right: auto;
                        top: auto;
                        bottom: auto;
                        height: auto;
                        margin-top: 15px;

                        li {

                            margin: 0;
                            width: 82px;
                            height: 82px;
                            overflow: hidden;

                            img {

                                object-fit: cover;
                                object-position: center;
                            }
                        }
                    }

                    .flex-direction-nav {

                        left: 10px;
                        top: calc(50% - 50px);
                    }
                }

                .summary {

                    .summary-content {

                        .product_title {

                            font-size: 18px;
                            font-weight: var(--xe_heading_font_weight);
                        }

                        .woocommerce-product-rating {

                            margin-top: 10px;
                        }

                        .price {

                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }
}

.adfy-quick-view-overlay {

    background: rgba(238, 238, 238, 0.98);
}

/* -------------------------------------------------------------------------- 
	#. Media Query
   -------------------------------------------------------------------------- */

@media ( max-width: 768px ) {

    #addonify-quick-view-modal {

        height: 80vh;
        max-height: 80vh;
        min-height: 400px;

        .adfy-qvm-head {

            top: 5px;
            right: 5px;
        }

        .adfy-quick-view-modal-content {

            padding: 30px;

            .woocommerce {

                .product {

                    .woocommerce-product-gallery {

                        .flex-control-thumbs {

                            flex-wrap: nowrap;

                            li {

                                width: auto;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media ( max-width: 575px ) {

    #addonify-quick-view-modal {

        .adfy-quick-view-modal-content {

            .woocommerce {

                .product {

                    .woocommerce-product-gallery {

                        .flex-control-thumbs {

                            flex-wrap: nowrap;

                            li {

                                width: auto;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}