/* -------------------------------------------------------------------------- 
	#. WooCommerce block - Product Categories.
   -------------------------------------------------------------------------- */
.widget {

    .wc-block-product-categories-list {

        list-style: none;
        padding: 0;
        margin: -15px 0;

        li {

            display: block;
            position: relative;
            margin: 15px 0;
            padding: 0;
            width: 100%;

            a {

                display: inline;
                color: var(--xe_base_text_color);

                &:hover {

                    color: var(--xe_base_link_hover_color);
                    text-decoration: none;
                }
            }

            .wc-block-product-categories-list-item-count {

                display: inline;
                font-size: 90%;
            }

            .toggle-children {

                display: inline;
                float: right;
            }

            ul {

                display: block;
                margin: 15px 0 15px 20px;
            }
        }
    }
}