/* -------------------------------------------------------------------------- 
	Mixin: Better Font Randering
  -------------------------------------------------------------------------- */

@mixin better_font_rendering() {

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@function make_rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

/* -------------------------------------------------------------------------- 
	Mixin: Flex
  -------------------------------------------------------------------------- */

@mixin flex() {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* -------------------------------------------------------------------------- 
	Mixin: Transitions
  -------------------------------------------------------------------------- */

@mixin transation_delay() {

    transition: all 0.5s ease;
}

@mixin transation_delay_dymanic($value) {

    transition: all $value ease;
}

/* -------------------------------------------------------------------------- 
	Mixin: Visibility
  -------------------------------------------------------------------------- */

@mixin visibility_hidden () {

    opacity: 0;
    visibility: hidden;
}

@mixin visibility_visible () {

    opacity: 1;
    visibility: visible;
}

/* -------------------------------------------------------------------------- 
	Mixin: Animations
  -------------------------------------------------------------------------- */

@mixin scale ($value) {

    transform: scale($value);
}

/* -------------------------------------------------------------------------- 
	Mixin: Layouts
  -------------------------------------------------------------------------- */

@mixin no_sidebar_narrow_layout($margin_value) {

    margin-left: $margin_value;
    margin-right: $margin_value;
    max-width: var(--xe_narrow_section_base_width);
}