/*================================================================
[Define variables]
==================================================================*/
//
// Since: 1.0.0
// usage = color:var(--xe_primary_color);
// there is a story behind why we started using CSS root vars instead of SASS/SCSS variables. 
/*==================================================================*/

:root {
  
  /* -------------------------------------------------------------------------- 
	  Colors variables
  -------------------------------------------------------------------------- */

  // Base colors
  --xe_primary_color: #ef2c2c;
  --xe_seconary_color: #1e73be;
  --xe_base_text_color: #585858;
  --xe_base_heading_color: #4A4A4A;
  --xe_base_link_color: #0366E0; // default link color
  --xe_body_background_color: #ffffff;
  --xe_border_color: #eeeeee;
  
  // Inputs
  --xe_inputs_border_color: #dedede; // for inputs, selects & textarea

  // Buttons
  --xe_button_text_color: white;
  --xe_button_background_color: #ef2c2c;
  --xe_button_hover_text_color: #ffffff;
  --xe_button_hover_background_color: #1e73be;
  --xe_button_is_link_style_text_color: #ef2c2c;
  --xe_button_is_link_style_hover_text_color: #1e73be;
  --xe_button_is_link_style_underline_color: #ef2c2c;
  --xe_button_is_link_style_hover_underline_color: #1e73be;

  // Page header
  --xe_page_header_breadcrumb_background_color: #EEEEEE; // Alternative: #FFF2CF. page header/ breadcrumb section

  // WooCommerce
  --xe_woo_on_sale_text_color: #ffffff;
  --xe_woo_on_sale_background_color: red;
  --xe_woo_current_price_text_color: red;
  --xe_woo_previous_price_text_color: #3a2e2e;

  /* -------------------------------------------------------------------------- 
	  Typography variables
  -------------------------------------------------------------------------- */

  // typography
  --xe_system_font_family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, Segoe ui, System ui, sans-serif; // websafe
  --xe_text_emphasis_font_family: "Playfair Display", "Times New Roman", Garamond, Baskerville, Baskerville Old Face, Hoefler Text, 'Serif';
  --xe_monospace_font_family: monospace, monospace;

  --xe_base_font_size: 0.9375rem; // 15px: 0.9375rem [16px: 1rem]
  --xe_base_font_weight: normal;
  --xe_base_letter_spacing: 0; // -0.0311em is best for inter
  --xe_base_font_line_height: 1.6;
  --xe_base_font_family: "Inter", sans-serif;

  --xe_heading_h1_font_size: 2.25rem;
  --xe_heading_h2_font_size: 1.75rem;
  --xe_heading_h3_font_size: 1.5rem;
  --xe_heading_h4_font_size: 1.25rem;
  --xe_heading_h5_font_size: 1.125rem;
  --xe_heading_h6_font_size: 1rem;

  --xe_heading_font_weight: bold;
  --xe_heading_letter_spacing: 0; // -0.0415625em is best for inter
  --xe_heading_line_height: 1.2;
  --xe_heading_font_family: "Inter", sans-serif;
  

  --xe_button_font_size: 0.9375rem; // 14px: 15px: 0.9375rem [16px: 1rem]
  --xe_button_font_weight: normal;
  --xe_button_line_height: 1;

  // Entry
  --xe_woo_product_title_size: 0.9375rem; // 15px: 0.9375rem [16px: 1rem]

  --xe_entry_single_title_font_size: 2.25rem; 

  /* -------------------------------------------------------------------------- 
	  Border radius
  -------------------------------------------------------------------------- */
  --xe_buttons_border_radius: 3px;
  --xe_inputs_border_radius: 4px;

  /* -------------------------------------------------------------------------- 
	  Grid
  -------------------------------------------------------------------------- */
  --xe_grid_gutter_width: 30px;
  --xe_grid_gutter_width_none: 0;

  /* -------------------------------------------------------------------------- 
	  Containers
  -------------------------------------------------------------------------- */
  --xe_container_width: 1400px;
  --xe_container_width_narrow: 800px;
  --xe_container_width_wide: 100%;

  /* -------------------------------------------------------------------------- 
	  Breakpoints
  -------------------------------------------------------------------------- */
  --xe_large_device_breakpoint: 1024px;
  --xe_medium_device_breakpoint: 991px;
  --xe_tablet_device_breakpoint: 768px;
  --xe_mobile_device_breakpoint: 575px;

  --xe_mobile_device_gutter_width: 5px;

  /* -------------------------------------------------------------------------- 
	  Width
  -------------------------------------------------------------------------- */
  --xe_narrow_section_base_width: 700px;
  --xe_default_primary_area_width: 100%;
  --xe_default_sidebar_width: 30%; 
  --xe_boxed_layout_maxwidth: 1170px;
  --xe_no_sidebar_narrow_container_width: 800px; // search, blog, archive
  --xe_default_boxed_layout_container_maxwidth: 1170px;
   --xe_default_layout_container_stretch_width: 100%;
  --xe_default_layout_container_stretch_maxwidth: 1920px;

   /* -------------------------------------------------------------------------- 
	  Site title & description
  -------------------------------------------------------------------------- */

  --xe_site_title_font_size: 1.375rem;
  --xe_site_title_font_weight: 600;
  --xe_site_title_letter_spacing: 0;
  --xe_site_title_line_height: 1.2;
  --xe_site_title_font_family: "Inter", sans-serif;
  --xe_site_title_color: var(--xe_base_text_color);
  --xe_site_title_hover_color: var(--xe_seconary_color);
  --xe_site_title_font_syle: normal;
  --xe_site_title_text_transform: inherit;

  --xe_site_description_font_size: 0.813rem; // 13px
  --xe_site_description_font_weight: normal;
  --xe_site_description_letter_spacing: 0;
  --xe_site_description_line_height: 1.4;
  --xe_site_description_color: var(--xe_base_text_color);
  --xe_site_description_font_syle: normal;
  --xe_site_description_text_transform: inherit;


  /* -------------------------------------------------------------------------- 
	  Menu & Navigation
  -------------------------------------------------------------------------- */

  --xe_navigation_item_font_size: 0.875rem;
  --xe_navigation_first_level_item_font_size: 0.875rem;
  --xe_navigation_item_font_weight: normal;
  --xe_navigation_first_level_item_font_weight: normal;
  --xe_navigation_item_letter_spacing: 0;
  --xe_navigation_first_level_item_letter_spacing: 0;
  --xe_navigation_item_line_height: 1em;
  --xe_navigation_first_level_item_line_height: 1em;
  --xe_navigation_dropdown_top_spacing: 20px;

  --xe_navigation_item_color: var(--xe_base_text_color);
  --xe_navigation_item_hover_color: var(--xe_seconary_color);

  --xe_navigation_dropdown_width: 200px;
  --xe_navigation_dropdown_background_color: #FFFFFF;
  --xe_navigation_dropdown_top_border_color: var(--xe_primary_color);
  --xe_navigation_dropdown_item_color: var(--xe_base_text_color);
  --xe_navigation_dropdown_item_seperator_color: transparent;
  --xe_navigation_dropdown_item_hover_color: var(--xe_seconary_color);

  /* -------------------------------------------------------------------------- 
	  Canvas & Mobile navigation
  -------------------------------------------------------------------------- */

  --xe_menu_toggle_button_color: var(--xe_base_text_color);
  --xe_mobile_canvas_width: 350px;
  --xe_canvas_background_color: #FFFFFF;
  --xe_canvas_border_color: #E5E5E5;
  --xe_canvas_border_width: 1px;
  --xe_canvas_border_radius: 0px;
  --xe_canvas_menu_item_color: var(--xe_navigation_item_color);
  --xe_canvas_menu_item_color_hover: var(--xe_navigation_item_hover_color);
  --xe_canvas_menu_item_color_active: var(--xe_navigation_item_hover_color);
  --xe_canvas_menu_item_seperator_color: var(--xe_border_color);
  --xe_canvas_menu_item_seperator_width: 1px;
  --xe_canvas_menu_item_seperator_style: solid;

  --xe_canvas_menu_item_font_size: 14px;
  --xe_canvas_menu_item_font_weight: normal;
  --xe_canvas_menu_item_line_height: 1em;

  --xe_canvas_menu_item_top_padding: 10px;
  --xe_canvas_menu_item_bottom_padding: 10px;
  --xe_canvas_menu_submenu_toggle_button_color: var(--xe_canvas_menu_item_color);
  --xe_canvas_menu_submenu_toggle_button_background_color: transparent;
  --xe_canvas_menu_submenu_toggle_button_border_radius: 0px;
  --xe_canvas_menu_submenu_toggle_button_distance: 7px;

  /* -------------------------------------------------------------------------- 
	  Spacing
  -------------------------------------------------------------------------- */

  --xe_block_standard_spacing: 60px;
  --xe_woo_product_item_spacing: 30px;

  /* -------------------------------------------------------------------------- 
	  Icon
  -------------------------------------------------------------------------- */
  --xe_iconfont: "themify";
  --xe_mobile_device_woo_product_title_font_size: 14px;
  --xe_social_icon_size: 16px;

  /* -------------------------------------------------------------------------- 
	  zindex
  -------------------------------------------------------------------------- */

  --xe_sticky_header_zindex: 9999999;
  --xe_submenu_dropdown_zindex: 99999995;
  --xe_search_form_modal_zindex: 999999910;
  --xe_mobile_canvas_zindex: 999999920;
  --xe_mobile_canvas_mask_zindex: 999999915;
}
