// add to cart button

@media (max-width: 575px) {

    .xe-woo-product {

        margin-bottom: 10px;
    }

    .xe-flex.xe-woo-products {

        margin-left: calc(0 - var(--xe_mobile_device_gutter_width));
        margin-right: calc(0 - var(--xe_mobile_device_gutter_width));
    }

    .xe-woo-products [class^="xe-col-xl-"],
    .xe-woo-products [class^="xe-col-lg-"],
    .xe-woo-products [class^="xe-col-md-"],
    .xe-woo-products [class^="xe-col-sm-"],
    .xe-woo-products [class^="xe-col-xs-"] {

        padding-left: var(--xe_mobile_device_gutter_width);
        padding-right: var(--xe_mobile_device_gutter_width);
    }

    .xe-woo-product .xe-product-title .xe-title {

        font-size: var(--xe_mobile_device_woo_product_title_font_size);
    }
}