// alignment

.xe-product-block-2 .xe-woo-product {

	@include flex();
    align-items: flex-start;
    justify-content: flex-start;
    border-right: 1px solid var(--xe_border_color);
}

.xe-product-block-2 .xe-woo-products [class^="xe-col-"]:last-child .xe-woo-product {

    border-right: none;
}

.xe-product-block-2 .xe-product-thumb {

	flex: 0 0 152px;
	max-width: 152px;
}

.xe-product-block-2 .xe-product-content {

	flex: 1;
    margin-left: 20px;
}

.xe-product-block-2 .xe-woo-product .xe-add-to-cart {
    
    @include visibility_hidden();
}

.xe-product-block-2 .xe-woo-product:hover .xe-add-to-cart {

    @include visibility_visible();
    animation: xeButtonFadeInUp 0.5s 0s;
}

.xe-product-block-2 .xe-woo-product .xe-woo-buttons-group  {

    right:auto;
    bottom: auto;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
}

.xe-product-block-2 .xe-woo-product .xe-woo-buttons-group .xe-button {

    margin: 0;
}

.xe-product-block-2 .xe-woo-product:hover .xe-product-thumb .visible-on-hover .xe-quickview {

    animation: xeButtonFadeInUp 0.5s 0s;
}

.xe-product-block-2 .xe-woo-product .xe-woo-sale {

    left:0;
    top:0;
}

// case in carousel 

.xe-product-block-2 .xe-carousel .xe-woo-product {

    margin-bottom: 30px;
}
