
/* -------------------------------------------------------------------------- 
	#. Default
   -------------------------------------------------------------------------- */

.widget_block {

    display: block;
    margin-bottom: 30px;
}

/* -------------------------------------------------------------------------- 
	#. Search
   -------------------------------------------------------------------------- */

.wp-block-search .wp-block-search__inside-wrapper {

    position: relative;
}

.wp-block-search .wp-block-search__button  {

    padding: 0 20px;
    color: var(--xe_button_text_color);
    border-style: var(--xe_button_border_style);
    border-width: var(--xe_button_border_width);
    border-color: var(--xe_button_border_color); 
    background-color: var(--xe_button_background_color);
    border-radius: 3px;
}

.wp-block-search .wp-block-search__button:hover {

    color: var(--xe_button_hover_text_color);
    border-color: var(--xe_button_hover_border_color);
    background-color: var(--xe_secondary_color);
}

.wp-block-search .wp-block-search__button.has-icon {

    font-size: 0;
    width: 40px;
    height: 40px;
}

.wp-block-search .wp-block-search__button.has-icon::after {

    content: "\e610";
    font-size: 18px;
    font-family: var(--xe_iconfont);
    position: absolute;
    left: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wp-block-search .wp-block-search__button.has-icon svg {

    display: none;
}

.wp-block-search .wp-block-search__input,
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {

    border-color: var(--xe_inputs_border_color);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {

    border-radius: 3px;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {

    padding: 10px 0 10px 15px;
    border-color: transparent;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input:focus {

    box-shadow: none;
    outline: 1px solid var(--xe_inputs_border_color);
}

.wp-block-search.wp-block-search__button-outside .wp-block-search__button.has-icon,
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button {

    padding: 0 15px;
}

.wp-block-search.wp-block-search__button-outside .wp-block-search__button.has-icon {

    position: relative;
    width: 45px;
    height: auto;
    margin-left: 10px;
}

.wp-block-search.wp-block-search__button-inside.wp-block-search__icon-button .wp-block-search__inside-wrapper {

    align-items: center;
}

.wp-block-search.wp-block-search__button-inside.wp-block-search__icon-button .wp-block-search__inside-wrapper .wp-block-search__button.has-icon {

    position: relative;
    margin-left: 10px; 
}

/* -------------------------------------------------------------------------- 
	#. Tag cloud
   -------------------------------------------------------------------------- */

.widget_block .wp-block-tag-cloud {

    @include flex();
    margin: 0;
}

.widget_block .wp-block-tag-cloud a {

    display: inline-flex;
    flex: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid var(--xe_border_color);
    color: var(--xe_base_text_color);
    font-size: calc( var(--xe_base_font_size) - 10% ) !important;
    border-radius: 3px;
}

.widget_block .wp-block-tag-cloud a:hover {

    color: var(--xe_secondary_color);
    border-color: var(--xe_secondary_color);
    text-decoration: none;
}

.widget_block .wp-block-tag-cloud a .tag-link-count {

    margin-left: 5px;
}

/* -------------------------------------------------------------------------- 
	#. Archive
   -------------------------------------------------------------------------- */

.widget_block .wp-block-archives {

    list-style: none;
    margin: 0;
    padding: 0;
}


/* -------------------------------------------------------------------------- 
	#. Calendar
   -------------------------------------------------------------------------- */

.wp-block-calendar table {

    margin: 0;
}

.wp-block-calendar table caption {

    text-align: center;
}

.wp-block-calendar table th {

    background-color: var(--xe_border_color);
}

.wp-block-calendar th,
.wp-block-calendar table th,
.wp-block-calendar tbody td {

    text-align: center;
    padding: 10px;
    border-color: var(--xe_border_color);
}

.wp-calendar-nav {

    @include flex();
    align-items: center;
    justify-content: space-between;
}

.wp-calendar-nav a {

    text-decoration: none;
}

/* -------------------------------------------------------------------------- 
	#. Categories
   -------------------------------------------------------------------------- */

.widget_block .wp-block-categories {

    list-style: none;
    margin: 0;
    padding: 0;
}

.widget_block .wp-block-categories li {

    @include flex();
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.widget_block .wp-block-categories li:first-child {

    padding-top: 0;
}

.widget_block .wp-block-categories li:last-child {

    padding-bottom: 0;
}

.widget_block .wp-block-categories li a {

    color: var(--xe_base_text_color);
}

.widget_block .wp-block-categories li a:hover {

    color: var(--xe_base_link_hover_color);
}


/* -------------------------------------------------------------------------- 
	#. Latest comments
   -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- 
	#. Latest posts
   -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- 
	#. Page list
   -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- 
	#. Rss
   -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- 
	#. Social Icons
   -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- 
	#. Meta
   -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- 
	#. Navigation menu
   -------------------------------------------------------------------------- */
