/* -------------------------------------------------------------------------- 
    Text & Anchor
  -------------------------------------------------------------------------- */

p {

    margin: 0 0 20px 0;
}

p:empty {

    display: none;
}

a {

    color: var(--xe_base_link_color);
    text-decoration: none;
    @include transation_delay();
}

a:hover {

    color: var(--xe_seconary_color);
    text-decoration: underline;
}

a:focus {

    outline: 1px dotted;
    text-decoration: none;
}

a:not([href]):not([tabindex]):not(.wp-block-button__link) {

    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):not(.wp-block-button__link):hover,
a:not([href]):not([tabindex]):not(.wp-block-button__link):focus {

    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {

    outline: 0;
}

[tabindex="-1"]:focus {

    outline: 0 !important;
}

.wp-block-button__link {

    text-decoration: none;
}


// styling elements 

hr {

    height: 1px;
    border: none;
    padding: 0;
    margin: 20px 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--xe_border_color);
}

hr.wp-block-separator {

    max-width: 150px;
    margin: 20px auto;
}

hr.wp-block-separator.is-style-wide {

    max-width: 100%;
}

.wp-block-separator.is-style-dots {

    background-color: none;
    border: none;
    text-align: center;
    max-width: none;
    line-height: 1;
    height: auto;
}