/* -------------------------------------------------------------------------- 
	Pre & Code
  -------------------------------------------------------------------------- */

pre,
code,
kbd,
tt,
var,
samp {

    font-family: var(--xe_monospace_font_family);
    letter-spacing: 0;
}

pre {

    display: block;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #2C2848;
    overflow: auto;
    max-width: 100%;
    font-weight: normal;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 2px;
}

code {

    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: var(--xe_base_font_family);
    font-size: var(--xe_base_font_size);
    font-weight: normal;
    padding: 0 5px;
    color: var(--xe_base_text_color);
    background-color: yellow;
    border-radius: 2px;
}

pre code {

    font-size: 15px;
    font-family: var(--xe_monospace_font_family);
    font-style: normal;
    padding: 0;
    color: #ffffff;
    background-color: transparent;
    border-radius: 0;
}