// blockquote

q,
blockquote {

    display: block;
    position: relative;
    font-family: var(--xe_text_emphasis_font_family);
    font-size: 20px; // fallback
    font-size: calc(var(--xe_base_font_size) + 40%);
    line-height: var(--xe_base_font_line_height);
    font-style: italic;
    font-weight: normal;
    border: 1px solid currentColor;
    padding:30px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 3px;
}

q::before,
blockquote::before {

    content: "\e67f";
    display: block;
    font-family: var(--xe_iconfont);
    font-style: normal;
    line-height: 1;
    font-size: 22px;
    position: absolute;
    left: 15px;
    top: -17px;
    padding: 5px 20px;
    background-color: var(--xe_body_background_color);
}

q>p,
blockquote>p {

    margin: 0;
    line-height: 1.4;
}

// WordPress Gutenberg editor blckquote

.wp-block-quote {

    padding: 10px 0 10px 20px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left-width: 4px;
    border-radius: 0;
}

.wp-block-quote::before {

    content: "";
    display: none;
}

.wp-block-quote.is-style-large {


}


// Pullquote

.wp-block-pullquote blockquote {

    margin: 0;
    padding: 0;
    border: none;
}

.wp-block-pullquote blockquote::before {

    content: "";
    display: none;
}

.wp-block-pullquote p {

    font-size: 32px;
    line-height: 1.1;
} 


// cite

q cite,
blockquote cite,
.wp-block-quote cite {

    display: inline-block;
    font-family: var(--xe_base_font_family);
    font-size: var(--xe_base_font_size);
    font-weight: normal;
    line-height: inherit;
    font-style: normal;
    color: currentColor;
    background-color: transparent;
}

.wp-block-pullquote__citation, 
.wp-block-pullquote cite, 
.wp-block-pullquote footer,
.wp-block-pullquote.is-style-solid-color blockquote cite {

    font-size: var(--xe_base_font_size);
    font-size: calc(var(--xe_base_font_size) - 20%);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
