/* -------------------------------------------------------------------------- 
	Button
  -------------------------------------------------------------------------- */

.xe-button {

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--xe_button_font_size);
    font-weight: normal;
    color: var(--xe_button_text_color);
    fill: var(--xe_button_text_color);
    line-height: var(--xe_button_line_height);
    height: 48px;
    padding: 0 20px;
    background-color: var(--xe_button_background_color);
    border-radius: var(--xe_buttons_border_radius);
    transition: all 0.5s ease;

    .xe-icon {

        margin-right: 5px;
    }

    &:hover {

        fill: var(--xe_button_hover_text_color);
        color: var(--xe_button_hover_text_color);
        background-color: var(--xe_button_hover_background_color);
    }
}

.xe-button.xe-false-button {

    height: auto;
    padding: 0;
    border-radius: 0;
    fill: var(--xe_base_text_color);
    color: var(--xe_base_text_color);
    background-color: transparent;

    &:hover {

        fill: var(--xe_secondary_color);
        color: var(--xe_secondary_color);
        text-decoration: none;
        background-color: transparent;
    }

    &:focus {

        text-decoration: none;
        outline: none;
        background-color: transparent;
    }
}

.xe-false-button.has-underline {

    position: relative;
}

.xe-false-button.has-underline::after,
.xe-false-button.has-underline::before  {

    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: currentColor;
}

.xe-false-button.has-underline::before {

    content: "";
    z-index: 1;
    background-color: currentColor;
    transform-origin: right center;
    transform: scaleX(0);
    will-change: scale;
    transition: transform .26s cubic-bezier(.25,.8,.25,1);
    -webkit-backface-visibility: hidden;
}

.xe-false-button.has-underline::after {

    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    opacity: 0.5;
    background-color: currentColor;
}

.xe-false-button.has-underline:hover::before {

    transform: scale(1);
    transform-origin: left center;
    background-color: var(--xe_primary_color);
}

/* -------------------------------------------------------------------------- 
	Back to top
  -------------------------------------------------------------------------- */

#xe-backtotop-button {

    display: block;
    position: fixed;
    z-index: -1;
    left: auto;
    right: 20px;
    bottom: 30px;
    @include visibility_hidden();
    @include transation_delay_dymanic(0.5s);
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    padding: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
}

#xe-backtotop-button.visible {

    z-index: 10001;
    @include visibility_visible();
    animation: xeButtonFadeInUp 0.5s 0s;
}

@media ( max-width: 575px ) {

    #xe-backtotop-button {

        right: 10px;
        bottom: 80px;
    }
}
