// links with no text decoration 

.xe-link,
.xe-thumb-link {

    text-decoration: none;

    &:hover,
    &:focus {

        text-decoration: none;
    }

    &:focus {

        outline: none;
        box-shadow: none;
    }
}

.xe-thumb-link {

    position: relative;
    @include flex();
    overflow: hidden;
}

a.button,
a.xe-button {

    text-decoration: none;

    &:hover {

        text-decoration: none;
    }
}