// text aligment 

.text-align-left {

    text-align: left;
}

.text-align-center {

    text-align: center;
}

.text-align-right {

    text-align: right;
}

// float aligment 

.alignleft,
.wp-block-image .alignleft {

    display: table;
    float: left;
    margin: 0 30px 30px 0;
}

.alignright,
.wp-block-image .alignright {

    display: table;
    float: right;
    margin: 0 0 30px 30px;
}

.alignleft::before,
.alignleft::after,
.alignright::before,
.alignright::after {

    content: "";
    display: table;
}

.alignleft::after,
.alignright::after {

    content: "";
    clear: both;
}

.aligncenter {

    display: table;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

// alignwide & alignfull

.alignwide,
.alignfull {

    width: 100%;
    max-width: 100%;
    transform: none;
    margin-left: auto;
    margin-right: auto;
}

body:not(.xe-sidebar-position) .alignwide,
body:not(.xe-sidebar-position) .alignfull {

    display: block;
    position: relative;
    width: 80vw;
    max-width: 80vw;
    margin-right: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

body:not(.xe-sidebar-position) .alignfull {

    width: 99vw;
    max-width: 99vw;
}


// WordPress embeds

.wp-block-embed.alignwide:not(.is-type-rich) .wp-block-embed__wrapper::before,
.wp-block-embed.alignfull:not(.is-type-rich) .wp-block-embed__wrapper::before,
.wp-block-embed.wp-embed-aspect-4-3:not(.is-type-rich) .wp-block-embed__wrapper::before  {

    content: "";
    display: block;
    padding-top: 56.25%;
}

.wp-block-embed.alignwide.wp-embed-aspect-4-3:not(.is-type-rich) .wp-block-embed__wrapper::before,
.wp-block-embed.alignfull.wp-embed-aspect-4-3:not(.is-type-rich) .wp-block-embed__wrapper::before  {

    content: "";
    padding-top: 75%;
}

.wp-block-embed.alignwide:not(.is-type-rich) iframe,
.wp-block-embed.alignfull:not(.is-type-rich) iframe {

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.wp-block-embed.alignwide.is-type-rich iframe,
.wp-block-embed.alignfull.is-type-rich iframe {

    width: 100%;
    height: auto;
    max-width: 100%;
}


/* -------------------------------------------------------------------------- 
	Responsive
   -------------------------------------------------------------------------- */

@media ( max-width: 1024px ) {

    body:not(.xe-sidebar-position) .alignwide {

        width: 100%;
        max-width: 100%;
        margin-left: auto;
        transform: none;
    }
}