/* -------------------------------------------------------------------------- 
	#. WooCommerce Checkout
   -------------------------------------------------------------------------- */

.woocommerce-checkout .woocommerce-error,
.woocommerce-checkout .woocommerce-message,
.woocommerce-checkout .woocommerce-notices-wrapper .woocommerce-error {

    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

// Coupon & Login

.woocommerce-checkout .woocommerce-form-login-toggle,
.woocommerce-checkout .woocommerce-form-coupon-toggle {

    display: block;
    max-width: 800px;
    margin: 0 auto;
}

.woocommerce-checkout .woocommerce-form-login-toggle .woocommerce-info,
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info {

    justify-content: center;
    align-items: center;
    border-top: none;
    background-color: transparent;
    border-radius: 5px;
    border: 2px dashed var(--xe_border_color);
}

.woocommerce-checkout .woocommerce-form-login-toggle .woocommerce-info::before,
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info::before {

    content: "\e6dc";
    position: relative;
    left: unset;
    top: unset;
    bottom: unset;
    right: unset;
    color: var(--xe_base_text_color);
    font-size: 20px;
    margin-right: 5px;
}

.woocommerce-checkout .woocommerce-form-login-toggle .woocommerce-info::before {

    content: "\e6a9";
}

.woocommerce-checkout .woocommerce-form-login-toggle .woocommerce-info > a.showlogin,
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info > a.showcoupon {

   position: relative;
   display: inline-flex;
   flex-wrap: wrap;
   order: 2;
   float: none;
   height: auto;
   margin: 0 0 0 10px;
   padding: 0 0 2px 0;
   color: var(--xe_primary_color);
   background-color: transparent;
}

.woocommerce-checkout .woocommerce-form-login-toggle .woocommerce-info > a.showlogin:hover,
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info > a.showcoupon:hover {

   color: var(--xe_seconary_color);
   background-color: transparent;
   text-decoration: none;
}

.woocommerce-checkout .woocommerce-form-login-toggle .woocommerce-info > a.showlogin:focus,
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info > a.showcoupon:focus {

    outline: none;
}

.woocommerce-checkout .woocommerce-form-login-toggle .woocommerce-info > a.showlogin:before,
.woocommerce-checkout .woocommerce-form-login-toggle .woocommerce-info > a.showlogin:after,
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info > a.showcoupon:before, 
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info > a.showcoupon:after {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
}

.woocommerce-checkout .woocommerce-form-login-toggle .woocommerce-info > a.showlogin:before,
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info > a.showcoupon:before {

    content: "";
    z-index: 1;
    background-color: currentColor;
    transform-origin: right center;
    transform: scaleX(0);
    will-change: scale;
    transition: transform .26s cubic-bezier(.25,.8,.25,1);
    -webkit-backface-visibility: hidden;
}

.woocommerce-checkout .woocommerce-form-login-toggle .woocommerce-info > a.showlogin:after,
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info > a.showcoupon:after {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0.5;
    background-color: currentColor;
}

.woocommerce-checkout .woocommerce-form-login-toggle .woocommerce-info > a.showlogin:hover:before,
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info > a.showcoupon:hover:before {

    transform: scale(1);
    transform-origin: left center;
    background-color: var(--xe_seconary_color);
}

.woocommerce form.login, 
.woocommerce form.register,
.woocommerce form.checkout_coupon {

    margin: 30px 0;
    padding: 20px 0;
    border-radius: 5px;
    border: 1px solid var(--xe_border_color);
}

.woocommerce form.login,
.woocommerce form.checkout_coupon {

    display: block;
    margin: 30px auto 30px auto;
    max-width: 800px;
    padding: 20px;
    border: 2px dashed var(--xe_border_color);
}

.woocommerce form.checkout_coupon .form-row {

    margin: 0 0 10px 0;
}

.woocommerce form.checkout_coupon .form-row-first, 
.woocommerce-page form.checkout_coupon .form-row-first,
.woocommerce form.checkout_coupon .form-row-last, 
.woocommerce-page form.checkout_coupon .form-row-last {

    padding: 0;
    width: 100%;
    float: none;
}

.woocommerce form.checkout_coupon .form-row-last, 
.woocommerce-page form.checkout_coupon .form-row-last {

    margin: 0;
}

.woocommerce form.checkout_coupon .button {

    @include flex();
    justify-content: center;
    width: 100%;
}

.woocommerce .woocommerce-remove-coupon {

    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: normal;
}

.woocommerce .woocommerce-remove-coupon::before {

    content: "\e605";
    display: inline-flex;
    font-family: var(--xe_iconfont);
    font-weight: normal;
    margin-right: 3px;
}

.woocommerce .woocommerce-remove-coupon:hover {

    text-decoration: none;
}

// Login & register

.woocommerce-checkout form.login .form-row {

    padding: 5px;
    margin: 0 0 10px;
}

.woocommerce-checkout form.login p.lost_password {

    margin-bottom: 0;
}

// Columns

.woocommerce form.woocommerce-checkout {

    margin-top: 60px;
    margin-bottom: 60px;
}

.woocommerce-checkout .col2-set {

    position: relative;
    width: 100%;
}

.woocommerce-page form.checkout .col2-set .col-1,
.woocommerce-page form.checkout .col2-set .col-2 {

    float: left;
    width: 48%;
}

.woocommerce-page form.checkout .col2-set .col-2 {

    position: sticky;
    top: 0;
    float: right;
    padding: 20px 30px 30px;
    background-color: #F5F5F5;
}

.woocommerce-page form.checkout .col2-set .col-2::after {

    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -19px;
    height: 1.25em;
    background: linear-gradient(-45deg,#F5F5F5 33.333%,transparent 0,transparent 66.667%,#F5F5F5 0),linear-gradient(45deg,#F5F5F5 33.333%,transparent 0,transparent 66.667%,#F5F5F5 0);
    background-position-x: 0,0;
    background-position-x: 0;
    background-position-y: 0,0;
    background-position-y: -1.375em;
    background-size: auto,auto;
    background-size: .75em 2.75em;
    transform: rotate(180deg);
}

// Billing form 

.woocommerce form.woocommerce-checkout .woocommerce-billing-fields {

    margin-bottom: 0;
}

.woocommerce form.woocommerce-checkout #order_review_heading,
.woocommerce form.woocommerce-checkout .woocommerce-billing-fields > h3,
.woocommerce form.woocommerce-checkout .woocommerce-additional-fields > h3 {

    font-size: 18px;
    font-weight: normal;
    margin: 0 0 20px 0;
}

.select2-dropdown {

    border-color: var(--xe_inputs_border_color);
}

.select2-search--dropdown {

    padding: 14px 15px;
    border-color: var(--xe_inputs_border_color);
}

.select2-container--default .select2-search--dropdown .select2-search__field {

    padding: 14px 15px;
    border-color: var(--xe_inputs_border_color);
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {

    border-color: #3da6ff;
}

.select2-container--default .select2-selection--single {

    height: 48px;
    margin: 0;
    border-color: var(--xe_inputs_border_color);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {

    padding: 14px 15px;
    line-height: 20px;
    color: var(--xe_base_text_color);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {

    top: 10px;
    right: 10px;
}

// Shipping fields

.woocommerce form.woocommerce-checkout #ship-to-different-address {

    margin-top: 15px;
    margin-bottom: 15px;
}

.woocommerce form.woocommerce-checkout #ship-to-different-address > label {

    margin-bottom: 0;
}

.woocommerce form.woocommerce-checkout #ship-to-different-address > label > span {

    margin-left: 5px;
}

// Accounts fields

.woocommerce form.woocommerce-checkout .woocommerce-account-fields {

    margin-top: 20px;
}

.woocommerce form.woocommerce-checkout .woocommerce-account-fields .form-row {

    padding: 0;
    margin: 0;
}

// Additional fileds 

.woocommerce form.woocommerce-checkout .woocommerce-additional-fields > h3 {

    margin-top: 30px;
    margin-bottom: 10px;
}

.woocommerce form.woocommerce-checkout .woocommerce-additional-fields #order_comments_field {

    padding: 0;
    margin: 0;
}

.woocommerce form.woocommerce-checkout .woocommerce-additional-fields textarea {

    height: 152px;
}

// Order review fields

.woocommerce form.woocommerce-checkout #order_review_heading::after {

    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -1em;
    height: 1.25em;
    background: linear-gradient(-45deg,#F5F5F5 33.333%,transparent 0,transparent 66.667%,#F5F5F5 0),linear-gradient(45deg,#F5F5F5 33.333%,transparent 0,transparent 66.667%,#F5F5F5 0);
    background-position-x: 0,0;
    background-position-x: 0;
    background-position-y: 0,0;
    background-position-y: -1.375em;
    background-size: auto,auto;
    background-size: .75em 2.75em;
}

.woocommerce .woocommerce-checkout-review-order table.shop_table {

    border-color: #E6E6E6;
}

.woocommerce .woocommerce-checkout-review-order table.shop_table {

    border-top-color: #E6E6E6;
}

.woocommerce .woocommerce-checkout-review-order table.shop_table th,
.woocommerce .woocommerce-checkout-review-order table.shop_table th {

    border-bottom-color: #E6E6E6;
}

.woocommerce .woocommerce-checkout-review-order table.shop_table tbody th, 
.woocommerce .woocommerce-checkout-review-order table.shop_table tfoot td, 
.woocommerce .woocommerce-checkout-review-order table.shop_table tfoot th {

    border-top: none;
}

.woocommerce .woocommerce-checkout-review-order table.shop_table tfoot th,
.woocommerce .woocommerce-checkout-review-order table.shop_table tbody td > strong {

    font-weight: normal;
}

.woocommerce-cart #payment,
#add_payment_method #payment, 
.woocommerce-checkout #payment {

    background-color: transparent;
}

.woocommerce-cart #payment ul.payment_methods,
#add_payment_method #payment ul.payment_methods, 
.woocommerce-checkout #payment ul.payment_methods {

    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.woocommerce-cart #payment ul.payment_methods.wc_payment_methods,
#add_payment_method #payment ul.payment_methods.wc_payment_methods, 
.woocommerce-checkout #payment ul.payment_methods.wc_payment_methods {

    // style if payment method is select in backend
    padding: 20px;
    border: 2px dashed #E6E6E6;
    border-radius: 4px;
}

.woocommerce-cart #payment ul.payment_methods li,
#add_payment_method #payment ul.payment_methods li, 
.woocommerce-checkout #payment ul.payment_methods li {

    font-size: var(--xe_base_font_size);
    font-weight: var(--xe_base_font_weight);
    line-height: var(--xe_base_font_line_height);
    background-color: #EFEFEF;
}

.woocommerce-cart #payment ul.payment_methods li.wc_payment_method,
#add_payment_method #payment ul.payment_methods li.wc_payment_method, 
.woocommerce-checkout #payment ul.payment_methods li.wc_payment_method {

    display: block;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E6E6E6;
    background-color: transparent;
}

.woocommerce-cart #payment ul.payment_methods li.wc_payment_method:last-child,
#add_payment_method #payment ul.payment_methods li.wc_payment_method:last-child, 
.woocommerce-checkout #payment ul.payment_methods li.wc_payment_method:last-child {

    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.woocommerce-cart #payment ul.payment_methods li.wc_payment_method > p,
#add_payment_method #payment ul.payment_methods li.wc_payment_method > p, 
.woocommerce-checkout #payment ul.payment_methods li.wc_payment_method  > p {

    font-size: var(--xe_base_font_size); // fallback
    font-size: calc(var(--xe_base_font_size) - 1px);
}

.woocommerce-cart #payment div.payment_box,
#add_payment_method #payment div.payment_box, 
.woocommerce-checkout #payment div.payment_box {

    padding: 0;
    margin: 10px 0;
    background-color: transparent; 
}

.woocommerce-cart #payment div.payment_box::before,
#add_payment_method #payment div.payment_box::before, 
.woocommerce-checkout #payment div.payment_box::before {

    content: "";
    display: none;
}

.woocommerce-cart #payment div.form-row,
#add_payment_method #payment div.form-row, 
.woocommerce-checkout #payment div.form-row {

    padding: 20px 0 0 0;
    margin: 30px 0 0 0;
    border-top: 2px dashed #E6E6E6;
}

.woocommerce .woocommerce-checkout-review-order .woocommerce-privacy-policy-text p,
.woocommerce-page .woocommerce-checkout-review-order .woocommerce-privacy-policy-text p {

    font-size: var(--xe_base_font_size); // fallback
    font-size: calc(var(--xe_base_font_size) - 1px);
    font-weight: var(--xe_base_font_weight);
    line-height: calc(var(--xe_base_font_line_height) - 0.1em);
    margin-bottom: 20px;
}

.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order {

    @include flex();
    position: relative;
    justify-content: center;
    align-items: center;
    float: none;
    width: 100%;
}


/* -------------------------------------------------------------------------- 
	#. Media Query
   -------------------------------------------------------------------------- */

@media ( max-width: 575px ) {

    .woocommerce form.woocommerce-checkout {

        margin-top: 40px;
        margin-bottom: 40px;
    }

    .woocommerce-page form.checkout .col2-set .col-1, 
    .woocommerce-page form.checkout .col2-set .col-2 {

        width: 100%;
    }
    .woocommerce-page form.checkout .col2-set .col-2 {

        position: relative;
        margin-top: 40px;
    }
}
