.xenial-section-link-control-wrapper {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 10px;
    height: 45px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1em;
    cursor: pointer;
    border-radius: 3px;
    background-color: #FFFFFF;
    border: 2px solid var(--xe_customizer_border_color);
    transition: 0.5s all ease;
}

.xenial-section-link-control-wrapper:hover {

    border-color: var(--xe_border_color_active);
}

.xenial-section-link-control-wrapper .checkbox-and-icon-wrapper {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.xenial-section-link-control-wrapper .switch {

    position: relative;
    display: inline-flex;
    width: 36px;
    height: 20px;
}

.xenial-section-link-control-wrapper .switch input.xenial-section-link-input-checkbox { 

    opacity: 0;
    width: 0;
    height: 0;
}

.xenial-section-link-control-wrapper .slider {

    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCCCCC;
    transition: 0.3s all ease;
}

.xenial-section-link-control-wrapper .slider::before {

    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.3s all ease;
}

.xenial-section-link-control-wrapper input.xenial-section-link-input-checkbox:checked + .slider {

    background-color: var(--xe_customizer_primary_color);
}

.xenial-section-link-control-wrapper input.xenial-section-link-input-checkbox:checked + .slider:before {

    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.xenial-section-link-control-wrapper .slider.round {

    border-radius: 15px;
}

.xenial-section-link-control-wrapper .slider.round::before {

    content: "";
    border-radius: 50%;
}

.xenial-section-link-control-wrapper .xenial-section-link-icon {

    visibility: hidden;
}

.xenial-section-link-control-wrapper.xenial-switch-enabled .xenial-section-link-icon,
.xenial-section-link-control-wrapper.xenial-has-no-switch .xenial-section-link-icon {

    display: inline-flex;
    visibility: visible;
}

.xenial-section-link-control-wrapper .xenial-section-link-icon {

    fill: grey;
    transition: 0.3 ease all;
}

.xenial-section-link-control-wrapper:hover .xenial-section-link-icon {

    fill: var(--xe_customizer_primary_color);
}
