:root {

    // price

    --xe_woocommerce_price: #585858;
    --xe_woocommerce_sale_price: #FF0000;

    // sale 

    --xe_woocommerce_onsale_color: #FFFFFF;
    --xe_woocommerce_onsale_background_color: #FF0000;

    // stock 

    --xe_woocommerce_in_stock_color: #11A738;
    --xe_woocommerce_out_stock_color: #FF0000;

    // alerts 

    --xe_woocommerce_alert_message: #00AD00;
    --xe_woocommerce_alert_info: #4A8EFF;
    --xe_woocommerce_alert_error: #FF0000;

    // starts 

    --xe_woocommerce_star_color: #FFD100;
    --xe_woocommerce_star_alternate_color: #D3CED2;

    // quantity 

    --xe_woocommerce_quantity_input_width: 100px;

    // WooCommerce Spacing
    --xe_woocommerce_product_row_gap: 30px;
    --xe_woocommerce_product_column_gap: 30px;
}