
#xenial-header-builder * {

	box-sizing: border-box;
}

#xenial-header-builder {

	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 100%;
	max-height: 350px;
	margin-bottom: 0;
	box-sizing: border-box;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
}

#xenial-header-builder.xenial-hide-header-builder {

	margin-bottom: -350px;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
}

.xenial-header-builder-button-wrapper {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
			display: none;
}

/* Buttons */

#xenial-header-builder .xenial-header-element-button,
#xenial-header-builder #xenial-header-builder-hide-button,
#xenial-header-builder .xenial-header-element-button.button, 
#xenial-header-builder .xenial-header-element-button.button-primary,
#xenial-header-builder .xenial-header-element-button.button-secondary  {

	position: relative;
	z-index: 1;
	display: -webkit-inline-box !important;
	display: -ms-inline-flexbox !important;
	display: inline-flex !important;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 7px;
	font-size: 13px;
	font-weight: normal;
	height: 31px;
	padding: 0 10px;
	line-height: 1;
	border-radius: 2px;
	vertical-align: middle;
}

#xenial-header-builder #xenial-header-builder-hide-button {

	-webkit-box-pack: center;

	    -ms-flex-pack: center;

	        justify-content: center;
	gap: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-right: 20px;
}

#xenial-header-builder #xenial-header-builder-hide-button .dashicons {

	display: -webkit-inline-box;

	display: -ms-inline-flexbox;

	display: inline-flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 12px;
	width: auto;
	height: auto;
	font-weight: normal;
}

#xenial-header-builder .xenial-header-element-button svg {

	display: -webkit-inline-box;

	display: -ms-inline-flexbox;

	display: inline-flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 14px;
	height: 14px;
	fill: white;
}

#xenial-header-builder .xenial-header-element-button a {

	display: -webkit-inline-box;

	display: -ms-inline-flexbox;

	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	color: white;
}

#xenial-header-builder .xenial-header-element-button a.xenial-header-element-remove {

	margin-left: 5px;
	padding-left: 5px;
	border-left: 1px solid rgba(255,255,255,0.1);
}

/* Inner */

.xenial-header-elements,
.xenial-header-builder-section {

	display: none;
}

.xenial-header-elements {

	width: 100%;
}

.xenial-header-elements-active,
.xenial-header-builder-section-active {

	display: block;
}

.xenial-header-builder-inner {

	display: block;
	padding: 30px;
	background-color: #f0f0f1;
	border-top: 2px solid #e8e8e8;
	margin-bottom: 0;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
}

.xenial-header-builder-inner.xenial-hide-header-builder-inner {

	margin-bottom: -320px;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
}

/* Available elements */

#xenial-header-elements-selector-wrapper {

	margin-bottom: 30px;
}

#xenial-header-elements-selector-wrapper #xenial-header-elements-container {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	gap: 10px;
}

#xenial-header-elements-selector-wrapper .xenial-header-element-button a.xenial-header-element-remove {

	display: none;
}

/* Row */

.selected-elements-wrapper .xenial-header-element-button .xenail-header-element-setting-link,
.selected-elements-wrapper .xenial-header-element-button .xenial-header-element-remove {

	display: none;
}

.xenial-header-builder-row {

	height: 50px;
	width: 100%;
	border:  1px solid #e8e8e8;
	background-color: #f7f7f7;
}

.xenial-header-element-button {

	display: inline-block;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
}

.xenial-header-element-label {

	color: #ffffff;
}

.xenial-header-builder-row:not(:last-child) {

	margin-bottom: 20px;
}

.xenial-header-builder-row-inner {

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.xenial-header-row-setting-link {

	position: relative;
	flex: 0 0 40px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 48px;
	line-height: 1;
	border-right: 2px dotted #e5e5e5;
}

.xenial-header-row-setting-link:focus {

	outline: none !important;
}

.xenial-header-row-setting-link:focus {

	text-decoration: none;
}

.xenial-header-row-setting-link .xenial-header-row-setting-icon {

	position: absolute;
	left: 10px;
	top: 50%;
	display: inline-block;
	line-height: 1;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.xenial-header-row-setting-link .xenial-header-row-setting-icon svg {

	fill: #777777;
	width: 18px;
	height: 18px;
}

.xenial-header-builder-col {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 10px;
	width: 32%;
	padding: 10px;
}

.xenial-header-builder-col:nth-child(3) {

	border-right: 2px dotted #e5e5e5;
	border-left: 2px dotted #e5e5e5;
}

.xenial-header-builder-col .selected-elements-wrapper {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 10px;
	height: 31px;
	width: 100%;
}

.selected-elements-wrapper.dropzone-drag-over {

	background-color: #e8e8e8;
}

.xenial-header-builder-col .xenial-header-element-button .xenial-header-element-icon {

	display: none;
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}



.xenial-mobile-header-builder-section-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.xenial-mobile-header-builder-off-canvas-container {
    width: 16%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e8e8e8;
    background-color: #f7f7f7;
}

.xenial-mobile-header-builder-row-container {
    width: 82%;
}

#xenial-mobile-off-canvas {
    height: 188px;
    width: 100%;
    padding: 10px;
}