.widget.widget_tag_cloud > div.tagcloud {
	display: flex;
	flex-direction: flex-row;
	flex-wrap: wrap;
}

.widget.widget_tag_cloud > div.tagcloud > a {
	font-size: var(--xenial-body-font-size) !important;
	border: 1px solid var(--xenial-border-color);
	padding: 0.3125em 0.625em;
	display: block;
	margin-right: 0.6255em;
	margin-bottom: 0.6255em;
}