.widget.widget_recent_comments ul#recentcomments li {
	padding-top: 0.3125em;
	padding-bottom: 0.3125em;
}

.widget.widget_recent_comments ul#recentcomments li:first-child {
	padding-top: 0;
}

.widget.widget_recent_comments ul#recentcomments li:last-child {
	padding-bottom: 0;
}

.widget.widget_recent_comments ul#recentcomments li > a {
	font-weight: bold;
}