#xenial-banner.xenial-banner-wide-width > .xenial-banner-inner > .xenial-container {
	max-width: 90%;
}

#xenial-banner-container {
	overflow: hidden;
	position: relative;
}

.xenial-banner-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.25);
}

.xenial-banner-content-wrapper {
	position: relative;
}

.xenial-banner-content {
	position: absolute;
	left: 0;
	right: 0;
}
 
.xenial-banner-content .xenial-banner-content-post-title a, 
.xenial-banner-content .xenial-post-meta-entries-inner .xenial-post-meta-entry,
.xenial-banner-content .xenial-post-meta-entries-inner a {
	color: #ffffff;
}

.xenial-banner-content .xenial-banner-content-post-title a:hover,
.xenial-banner-content .xenial-post-meta-entries-inner a:hover {
	color: var(--xenial-accent-color);
}

.xenial-banner-content-top .xenial-banner-content {
	bottom: auto;
	top: 0;
}

.xenial-banner-content-center .xenial-banner-content {
	bottom: auto;
	top: 50%;
	transform: translateY(-50%);
}

.xenial-banner-content-bottom .xenial-banner-content {
	bottom: 0;
	top: auto;
}

.xenial-banner-content-inner {
	max-width: 50%;
}

#xenial-banner-container .xenial-text-right .xenial-banner-content-inner {
	margin-left: auto;
}

#xenial-banner-container .xenial-text-left .xenial-banner-content-inner {
	margin-right: auto;
}

#xenial-banner-container .xenial-text-center .xenial-banner-content-inner {
	margin-left: auto;
	margin-right: auto;
}
.xenial-banner-content-post-title {
	margin-bottom: 0;
	margin-top: 0;
}

.xenial-banner-content-inner .xenial-post-meta-entries {
	margin-top: 0.625em;
}

.xenial-banner-post-excerpt {
	margin-top: 1.25em;

	p {
		margin-bottom: 0;
	}
}

.xenial-banner-btn {
	margin-top: 0.9375em;
	display: inline-block;
	color: #ffffff;
    padding: 0.625em 0;
    transition-duration: 0.3s;
}

.xenial-banner-btn:hover {
	transition-duration: 0.3s;
	color: var(--xenial-accent-color);
	text-decoration: none;
}

.xenial-banner-content-post-meta-inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.xenial-banner-button-prev,
.xenial-banner-button-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	bottom: auto;
	z-index: 10;
	opacity: 0;
	transition-duration: 0.3s;
	transition-delay: 0.5s;
	transition-timing-function: ease-out;
}

.xenial-banner-nav-button {
	padding: 0;
	height: 3.125em;
	width: 3.125em;
	border-radius: 3.125em;
	font-size: 1rem;
	background-color: var(--xenial-accent-color);
	color: var(--xenial-accent-bg-text-color);
	border: none;
	transition-duration: 0.3s;
}

.xenial-banner-nav-button::before {
    content: '';
    position: absolute;
    top: -1.25em;
    left: -1.25em;
    bottom: -1.25em;
    right: -1.25em;
    background: inherit;
    border-radius: 3.125em;
    z-index: -1;
    opacity: 0.4;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
}

.xenial-banner-nav-button:hover {
    -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    background: var(--xenial-accent-color);
    color: var(--xenial-accent-bg-text-color);
    -webkit-animation: ani-xenial-sxenial-1 0.3s forwards;
    animation: ani-xenial-sxenial-1 0.3s forwards;
}

.xenial-banner-nav-button:hover::before {
    -webkit-animation: ani-xenial-sxenial-2 0.3s 0.3s forwards;
    animation: ani-xenial-sxenial-2 0.3s 0.3s forwards;
}

.xenial-banner-nav-button:hover {
	opacity: 1;
	background-color: var(--xenial-accent-color);
	color: var(--xenial-accent-bg-text-color);
	transition-duration: 0.3s;
}

.xenial-banner-button-prev {
	left: -3.125em;
	right: auto;
}

.xenial-banner-button-next {
	right: -3.125em;
	left: auto;
}

#xenial-banner-container:hover .xenial-banner-button-prev {
	left: 1.875em;
	opacity: 1;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
}

#xenial-banner-container:hover .xenial-banner-button-next {
	right: 1.875em;
	opacity: 1;
	transition-duration: 0.5s;
	transition-delay: 0s;
}

.xenial-banner-pagination.swiper-pagination-bullets {
	position: absolute;
	bottom: 1em;
	top: auto;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	width: auto;
}

.xenial-banner-pagination .swiper-pagination-bullet {
	width: 0.5em;
	height: 0.5em;
	background-color: #ffffff;
	opacity: 1;
	border-radius: 1.25em;
}

.xenial-banner-pagination .swiper-pagination-bullet-active {
	background-color: var(--xenial-accent-color);
	width: 1.25em;
}

.xenial-banner-content .xenial-post-structure-categories .post-categories li a {
	padding: 5px 8px;
	font-size: var(--xenial-font-size-small);
	background-color: var(--xenial-accent-color);
	color: var(--xenial-accent-bg-text-color);
	opacity: 1;
}

.xenial-banner-content .xenial-post-structure-categories .post-categories li a:hover {
	opacity: 0.9;
	color: var(--xenial-accent-bg-text-color);
}