/* -------------------------------------------------------------------------- 
	Header Element - Button
  -------------------------------------------------------------------------- */

.xe-header-element-button {

    height: auto;
    padding: 10px 15px;
    border-radius: 2px;
}