/* -------------------------------------------------------------------------- 
	Mobile Header & Canvas
  -------------------------------------------------------------------------- */

#xe-mobile-header {

    @include flex();
    align-items: center;
}

/* -------------------------------------------------------------------------- 
    Canavas Trigger Button
  -------------------------------------------------------------------------- */

#xe-mobile-canvas-trigger-button {

    @include flex();
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: relative;
    height: 35px;
    width: 35px;
    border-width: 0;
    border-color: transparent;
    border-style: solid;
    background-color: transparent;
    border-radius: 0;
}

#xe-mobile-canvas-trigger-button .menu-bar {

    width: 20px;
    height: 2px;
    background-color: var(--xe_menu_toggle_button_color);
    @include transation_delay_dymanic(0.3s);
}

/* -------------------------------------------------------------------------- 
    Mobile Canvas & Mask
  -------------------------------------------------------------------------- */

#xe-mobile-canvas,
#xe-mobile-canvas-mask {

    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: var(--xe_mobile_canvas_width);
    min-width: 300px;
    height: 100%;
    min-height: 100vh;
    z-index: var(--xe_mobile_canvas_zindex);
    @include visibility_hidden();
    @include transation_delay_dymanic(0.2s);
}

#xe-mobile-canvas {

    margin: 0;
    padding: 0;
    background: #FFFFFF;
    overflow: hidden;
    overflow-y: auto;
    @include transation_delay_dymanic(0.5s);
    box-shadow: 5px 0 30px 0 rgba(0, 0, 0, 0.1);
}

#xe-mobile-canvas[xe-canvas-position=left] {

    right: auto;
    left: -100vw;
}

#xe-mobile-canvas[xe-canvas-position=right] {

    left: auto;
    right: -100vw;
}

#xe-mobile-canvas[xe-canvas-position=full] {

    width: 100%;
}

#xe-mobile-canvas .canvas-header {

    position: relative;
    padding: 20px;
    @include flex();
    align-items: center;
}

#xe-mobile-canvas[xe-canvas-position=left] .canvas-header,
#xe-mobile-canvas[xe-canvas-position=full] .canvas-header {

    justify-content: flex-end;
}

#xe-mobile-canvas[xe-canvas-position=right] .canvas-header {

    justify-content: flex-start;
}

#xe-mobile-canvas .canvas-inner {

    padding: 0 30px;
}

#xe-mobile-canvas-mask {
    
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba( 255, 255, 255, 0.9 );
    z-index: var(--xe_mobile_canvas_mask_zindex);
    @include visibility_hidden();
}

/* -------------------------------------------------------------------------- 
    Canavas is Visible
  -------------------------------------------------------------------------- */

.xe-visible-mobile-canvas {

    overflow: hidden;
}

.xe-visible-mobile-canvas #xe-mobile-canvas {

    @include visibility_visible();
}

.xe-visible-mobile-canvas #xe-mobile-canvas[xe-canvas-position="left"] {

    right: auto;
    left: 0;
    animation: slideInright 0.5s cubic-bezier(0.4, 0, 1, 1);
}

.xe-visible-mobile-canvas #xe-mobile-canvas[xe-canvas-position="right"] {

    left: auto;
    right: 0;
    animation: slideInLeft 0.5s cubic-bezier(0.4, 0, 1, 1);
}

.xe-visible-mobile-canvas #xe-mobile-canvas-mask {

    display: block;
    cursor: pointer;
    @include visibility_visible();
}

/* -------------------------------------------------------------------------- 
    Canavas Close Button
  -------------------------------------------------------------------------- */

#xe-mobile-canvas-close-button {

    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-size: 10px;
    font-weight: 700;
    gap: 5px;
    fill: var(--xe_base_text_color);
    letter-spacing: 2px;
    text-transform: uppercase;
}

#xe-mobile-canvas-close-button svg {

    width: 14px;
    height: 14px;
}

#xe-mobile-canvas-close-button:hover {

    fill: var(--xe_seconary_color);
}

/* -------------------------------------------------------------------------- 
    Canavas Elements
  -------------------------------------------------------------------------- */

#xe-mobile-canvas .canvas-inner .xe-header-element {

    margin-top: 30px;
}

#xe-mobile-canvas .canvas-inner .xe-header-element:first-child {

    margin-top: 0;
}

/* -------------------------------------------------------------------------- 
    Canavas Navigation: defualt
  -------------------------------------------------------------------------- */

.xe-offcanvas-navigation {

    display: block;
}

.xe-offcanvas-navigation ul {

    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.xe-offcanvas-navigation ul li {

    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    padding-top: var(--xe_canvas_menu_item_top_padding);
    padding-bottom: var(--xe_canvas_menu_item_bottom_padding);
    border-bottom-width: var(--xe_canvas_menu_item_seperator_width);
    border-bottom-color: var(--xe_canvas_menu_item_seperator_color);
    border-bottom-style: var(--xe_canvas_menu_item_seperator_style);
}

.xe-offcanvas-navigation ul li:not(.sub-menu li):first-child {

    padding-top: 0;
}

.xe-offcanvas-navigation ul li:last-child {

    padding-bottom: 0;
    border-bottom: none;
}

.xe-offcanvas-navigation ul li a {

    position: relative;
    display: inline-block;
    color: var(--xe_canvas_menu_item_color);
    font-size: var(--xe_canvas_menu_item_font_size);
    font-weight: var(--xe_canvas_menu_item_font_weight);
    text-decoration: none;
    line-height: var(--xe_canvas_menu_item_line_height);
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    @include transation_delay_dymanic(0.3s);
}

.xe-offcanvas-navigation .menu-item-description {

    top: 50%;
    right: auto;
    left: calc( 100% + 5px );
    border-radius: 2px;
    transform: translateY(-50%);
}

.xe-offcanvas-navigation .menu-item-description::before {

    content: "";
    display: none;
}

.xe-offcanvas-navigation ul li .sub-menu li a,
.xe-offcanvas-navigation ul li .children li a {

    font-size: calc( var(--xe_canvas_menu_item_font_size) - 10% );
}

.xe-offcanvas-navigation ul li a:hover {

    color: var(--xe_navigation_item_hover_color);
    text-decoration: none;
}

.xe-offcanvas-navigation ul li .sub-menu,
.xe-offcanvas-navigation ul li .children,
.xe-offcanvas-navigation ul li .sub-menu ul,
.xe-offcanvas-navigation ul li .children ul  {

    display: none;
    position: relative;
    opacity: 0;
    margin: 0 0 0 20px;
    @include visibility_hidden();
}

.xe-offcanvas-navigation .xe-toggle-canvassubmenu {

    position: absolute;
    top: var(--xe_canvas_menu_submenu_toggle_button_distance);
    right: 0;
    justify-content: center;
    font-size: 15px;
    font-weight: normal;
    width: 30px;
    height: 30px;
    color: var(--xe_canvas_menu_submenu_toggle_button_color);
    background-color: var(--xe_canvas_menu_submenu_toggle_button_background_color);
    border-radius: var(--xe_canvas_menu_submenu_toggle_button_border_radius);
    cursor: pointer;
}

.xe-offcanvas-navigation .xe-submenu-open > .sub-menu,
.xe-offcanvas-navigation .xe-submenu-open > .children {

    display: block;
    opacity: 1;
    @include visibility_visible();
}

/* -------------------------------------------------------------------------- 
    Canavas Navigation: revealing
  -------------------------------------------------------------------------- */

[xe-submenu-style=revealing] .xe-offcanvas-navigation .sub-menu {

    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 30px;
    width: var(--xe_mobile_canvas_width);
    min-width: 300px;
    height: 100%;
    min-height: 100vh;
    opacity: 1;
    overflow: hidden;
    overflow-y: auto;
    z-index: calc( var(--xe_mobile_canvas_zindex) + 1 );
    background-color: var(--xe_canvas_background_color);
    @include visibility_visible();
    @include transation_delay_dymanic(0.5s);
}

[xe-canvas-position=left] [xe-submenu-style=revealing] .xe-offcanvas-navigation .sub-menu  {

    right: auto;
    left: -100vw;
}

[xe-canvas-position=right] [xe-submenu-style=revealing] .xe-offcanvas-navigation .sub-menu  {

    left: auto;
    right: -100vw;
}

[xe-canvas-position=left] [xe-submenu-style=revealing] .xe-offcanvas-navigation .xe-submenu-open > .sub-menu {

    right: auto;
    left: 0;
    animation: slideInright 0.5s cubic-bezier(0.4, 0, 1, 1);
}

[xe-canvas-position=right] [xe-submenu-style=revealing] .xe-offcanvas-navigation .xe-submenu-open > .sub-menu {

    left: auto;
    right: 0;
    animation: slideInLeft 0.5s cubic-bezier(0.4, 0, 1, 1);
}

[xe-submenu-style=revealing] .xe-button.xe-canvassubmenu-goback-button {

    align-items: center;
    gap: 5px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

[xe-submenu-style=revealing] .xe-offcanvas-navigation ul li .children li a, 
[xe-submenu-style=revealing] .xe-offcanvas-navigation ul li .sub-menu li a {

    font-size: var(--xe_canvas_menu_item_font_size);
}