
#xe-mastheader {
    
    position: relative;
}

.xe-transparent-header #xe-mastheader {

    background-color: transparent;
    @include transation_delay();
}

.xe-header-sticky #xe-mastheader {

    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: var(--xe_sticky_header_zindex);
}

.xe-header-sticky.xe-transparent-header #xe-mastheader {

    background-color: white;
}

#xe-mastheader .xe-top-header .xe-header-inner,
#xe-mastheader .xe-middle-header .xe-header-inner,
#xe-mastheader .xe-bottom-header .xe-header-inner {

    padding-top: 20px;
    padding-bottom: 20px;
}

/* -------------------------------------------------------------------------- 
	Transparent Header
  -------------------------------------------------------------------------- */

.xe-transparent-header-enabled {

    #xe-mastheader  {

        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        z-index: var(--xe_sticky_header_zindex);
        background-color: transparent;

        .xe-top-header,
        .xe-middle-header,
        .xe-bottom-header {

            background-color: transparent;
        }
    }
}

.logged-in.xe-transparent-header-enabled {

    #xe-mastheader  {

        top: 32px;
    }
}

.elementor-editor-active.xe-transparent-header-enabled {

    #xe-mastheader {

        display: none;
    } 
}

/* -------------------------------------------------------------------------- 
	Desktop Header
  -------------------------------------------------------------------------- */

   #xe-desktop-header {

       position: relative;
   }

/* -------------------------------------------------------------------------- 
	Mobile Header
  -------------------------------------------------------------------------- */

  #xe-mobile-header {

    display: none; // Initially hide mobile header
}

/* -------------------------------------------------------------------------- 
	Header Elements
  -------------------------------------------------------------------------- */

.xe-header-elements {

    @include flex();
}

.xe-header-elements .xe-header-element {

    padding-left: 10px;
    padding-right: 10px;
}

.xe-header-elements .xe-header-element:first-child {

    padding-left: 0;
}

.xe-header-elements .xe-header-element:last-child {

    padding-right: 0;
}

/* -------------------------------------------------------------------------- 
	Responsive
  -------------------------------------------------------------------------- */

@media( max-width: 768px ) {

    #xe-desktop-header {

        display: none;
    }

    #xe-mobile-header {

        display: block;
    }

    .logged-in.xe-transparent-header-enabled #xe-mastheader {

        top: 48px
    }
}