/* -------------------------------------------------------------------------- 
	Header Element: Site Navigation
  -------------------------------------------------------------------------- */

.xe-site-navigation {

    @include flex();
    align-items: center;
}

.xe-site-navigation ul {

    list-style: none;
    padding: 0;
    margin: 0;
}

.xe-site-navigation ul li {

    position: relative;
    @include flex();
    align-items: center;
    justify-content: stretch;
}

.xe-site-navigation ul li a {

    @include flex();
    align-items: center;
    padding: 0 10px;
    color: var(xe_navigation_item_color);
    font-size: var(--xe_navigation_item_font_size);
    font-weight: var(--xe_navigation_item_font_weight);
    text-decoration: none;
    line-height: 1em;
    color: var(--xe_base_text_color);
    word-wrap: break-word;
    @include transation_delay_dymanic(0.3s);
}

.xe-site-navigation ul li a:hover {

    color: var(--xe_navigation_item_hover_color);
    text-decoration: none;
}

.xe-site-navigation ul li a:focus {

    outline: none;
}

.xe-site-navigation > ul > li:first-child a {

    padding-left: 0;
}

.xe-site-navigation > ul > li:last-child a {

    padding-right: 0;
}

.xe-site-navigation > ul {

    @include flex();
    align-items: center;
}

.xe-site-navigation ul li .submenu-item-toggle {

    display: none;
}

.xe-site-navigation > ul > li.menu-item-has-children > a::after,
.xe-site-navigation ul li .sub-menu li.menu-item-has-children > a::after,
.xe-site-navigation ul li .children li.menu-item-has-children > a::after {

    content: "\e64b";
    display: inline-flex;
    font-family: var(--xe_iconfont);
    font-size: 10px;
    font-weight: normal;
    margin-left: 5px;
    line-height: 1;
    @include transation_delay_dymanic(0.3s);
}

.xe-site-navigation > ul > li.menu-item-has-children:hover > a:after {

    transform: rotate(180deg);
}

.xe-site-navigation ul li .sub-menu li.menu-item-has-children > a::after,
.xe-site-navigation ul li .children li.menu-item-has-children > a::after {

    content: "\e649";
}

.xe-site-navigation ul li ul.sub-menu li,
.xe-site-navigation ul li ul.children li {

    border-bottom: 1px solid var(--xe_navigation_dropdown_item_seperator_color);
}

.xe-site-navigation ul li .sub-menu,
.xe-site-navigation ul li .children {

    position: absolute;
    left: -999em;
    right: auto;
    top: 100%;
    width: var(--xe_navigation_dropdown_width);
    margin-top: var(--xe_navigation_dropdown_top_spacing);
    line-height: 1.45;
    visibility: hidden;
    opacity: 0;
    z-index: 100000;
    border-top: 3px solid var(--xe_navigation_dropdown_top_border_color);
    background-color: var(--xe_navigation_dropdown_background_color);
    border-radius: 0;
    box-shadow: 0 4px 10px -2px rgba(0,0,0,0.1);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.xe-site-navigation ul li .sub-menu ul,
.xe-site-navigation ul li .children ul {

    top: 0;
}

.xe-site-navigation ul li:hover > .sub-menu,
.xe-site-navigation ul li:hover > .children,
.xe-site-navigation ul li:focus > .sub-menu,
.xe-site-navigation ul li:focus > .children,
.xe-site-navigation ul li .sub-menu li:hover > ul,
.xe-site-navigation ul li .children li:hover > ul,
.xe-site-navigation ul li .sub-menu li:focus > ul,
.xe-site-navigation ul li .children li:focus > ul  {

    left: 0;
    visibility: visible;
    opacity: 1;
}

.xe-site-navigation ul li .sub-menu li:hover > ul,
.xe-site-navigation ul li .children li:hover > ul,
.xe-site-navigation ul li .sub-menu li:focus > ul,
.xe-site-navigation ul li .children li:focus > ul {

    left: 100%;
}

.xe-site-navigation ul li .sub-menu::before,
.xe-site-navigation ul li .children::before {

    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: calc(var(--xe_navigation_dropdown_top_spacing) + 5px );
    width: 100%;
    transform: translateY(-100%);
}

.xe-site-navigation ul li .sub-menu li,
.xe-site-navigation ul li .children li  {

    justify-content: space-between;
    width: 100%;
}

.xe-site-navigation ul li .sub-menu li a,
.xe-site-navigation ul li .children li a {

    justify-content: space-between;
    color: var(--xe_navigation_dropdown_item_color);
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    line-height: 1.4em;
}

.xe-site-navigation ul li .sub-menu li a:hover,
.xe-site-navigation ul li .children li a:hover {

    margin-left: 5px;
    color: var(--xe_navigation_dropdown_item_hover_color);
}

.xe-site-navigation ul li .sub-menu ul,
.xe-site-navigation ul li .children ul {

    margin-top: 0;
}

.xe-site-navigation ul li .sub-menu ul::before,
.xe-site-navigation ul li .children ul::before {

    content: "";
    display: none;
}

/* -------------------------------------------------------------------------- 
	Mobile Menu Toggle button
  -------------------------------------------------------------------------- */

#xe-menu-toggle-button {

    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    position: relative;
    height: 30px;
    width: 30px;
}

#xe-menu-toggle-button .menu-bar {

    width: 25px;
    height: 2px;
    background-color: var(--xe_menu_toggle_button_color);
    @include transation_delay_dymanic(0.3s);
}

//#xe-menu-toggle-button[mobile-menu=active] .menu-bar {

//    position: absolute;
//}

//#xe-menu-toggle-button[mobile-menu=active] .menu-bar:first-child {

//    transform: rotate(45deg);
//}

//#xe-menu-toggle-button[mobile-menu=active] .menu-bar:nth-child(2) {

//    transform: rotate(-45deg);
//}

//#xe-menu-toggle-button[mobile-menu=active] .menu-bar:last-child {

//    display: none;
//}

/* -------------------------------------------------------------------------- 
	Submenu dropdown animation
  -------------------------------------------------------------------------- */

.xe-site-navigation[xe-dropdown-animation=FadeIn] ul li:hover > .sub-menu,
.xe-site-navigation[xe-dropdown-animation=FadeIn] ul li:hover > .children,
.xe-site-navigation[xe-dropdown-animation=FadeIn] ul li:focus > .sub-menu,
.xe-site-navigation[xe-dropdown-animation=FadeIn] ul li:focus > .children,
.xe-site-navigation[xe-dropdown-animation=FadeIn] ul li .sub-menu li:hover > ul,
.xe-site-navigation[xe-dropdown-animation=FadeIn] ul li .children li:hover > ul,
.xe-site-navigation[xe-dropdown-animation=FadeIn] ul li .sub-menu li:focus > ul,
.xe-site-navigation[xe-dropdown-animation=FadeIn] ul li .children li:focus > ul {

    animation: xeFadeIn 0.5s 0s ease-in;
}

.xe-site-navigation[xe-dropdown-animation=FadeInUp] ul li:hover > .sub-menu,
.xe-site-navigation[xe-dropdown-animation=FadeInUp] ul li:hover > .children,
.xe-site-navigation[xe-dropdown-animation=FadeInUp] ul li:focus > .sub-menu,
.xe-site-navigation[xe-dropdown-animation=FadeInUp] ul li:focus > .children,
.xe-site-navigation[xe-dropdown-animation=FadeInUp] ul li .sub-menu li:hover > ul,
.xe-site-navigation[xe-dropdown-animation=FadeInUp] ul li .children li:hover > ul,
.xe-site-navigation[xe-dropdown-animation=FadeInUp] ul li .sub-menu li:focus > ul,
.xe-site-navigation[xe-dropdown-animation=FadeInUp] ul li .children li:focus > ul {

    animation: xeButtonFadeInUp 0.5s 0s ease-in;
}

.xe-site-navigation[xe-dropdown-animation=FadeInDown] ul li:hover > .sub-menu,
.xe-site-navigation[xe-dropdown-animation=FadeInDown] ul li:hover > .children,
.xe-site-navigation[xe-dropdown-animation=FadeInDown] ul li:focus > .sub-menu,
.xe-site-navigation[xe-dropdown-animation=FadeInDown] ul li:focus > .children,
.xe-site-navigation[xe-dropdown-animation=FadeInDown] ul li .sub-menu li:hover > ul,
.xe-site-navigation[xe-dropdown-animation=FadeInDown] ul li .children li:hover > ul,
.xe-site-navigation[xe-dropdown-animation=FadeInDown] ul li .sub-menu li:focus > ul,
.xe-site-navigation[xe-dropdown-animation=FadeInDown] ul li .children li:focus > ul {

    animation: xeButtonFadeDown 0.5s 0s ease-in-out;
}

/* -------------------------------------------------------------------------- 
	Desktop Header
  -------------------------------------------------------------------------- */

#xe-desktop-header {

    @include flex();
    align-items: center;
}

/* -------------------------------------------------------------------------- 
	Mbile Header
  -------------------------------------------------------------------------- */

#xe-mobile-header {

    @include flex();
    align-items: center;
}

/* -------------------------------------------------------------------------- 
	Responsive
  -------------------------------------------------------------------------- */

@media ( min-width: 768px ) {

    #xe-menu-toggle-button {

        display: none;
    }
}

@media ( max-width: 768px ) {

    .is-primary .xe-site-navigation{

        display: none;
    }
}

