.xenial-main-header-ad-element .xenial-header-ad-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.xenial-main-header-ad-element .xenial-header-ad-inner .widget {
    margin: 15px 0;
    padding: 0;
}