.site-title,
.site-logo {
    margin-top: 0;
    margin-bottom: 0;
}

.site-logo.xenial-alternate-logo-wrapper,
.site-logo.xenial-dark-mode-logo-wrapper {
    display: none;
}

body.xenial-dark-mode-enabled {
    .site-logo.xenial-default-logo-wrapper {
        display: none;
    }

    &:not(.xenial-transparent-header-enabled) {
        .site-logo.xenial-dark-mode-logo-wrapper {
            display: block;
        }
    }

    &.xenial-transparent-header-enabled {

        .xenial-main-header-container {
            &.xenial-sticky-main-navigation.xenial-sticky-enabled {
                .site-logo.xenial-alternate-logo-wrapper {
                    display: none;
                }
                .site-logo.xenial-dark-mode-logo-wrapper {
                    display: block;
                }
            }

            &.xenial-sticky-main-navigation:not(.xenial-sticky-enabled) {
                .site-logo.xenial-dark-mode-logo-wrapper {
                    display: none;
                }
                .site-logo.xenial-alternate-logo-wrapper {
                    display: block;
                }
                
            }
        }
    }    
}

body.xenial-dark-mode-disabled {

    &.xenial-transparent-header-enabled {
        .site-logo.xenial-default-logo-wrapper {
            display: none;
        }

        .site-logo.xenial-alternate-logo-wrapper {
            display: block;
        }

        .xenial-main-header-container {
            &.xenial-sticky-main-navigation.xenial-sticky-enabled {
                .site-logo.xenial-alternate-logo-wrapper {
                    display: none;
                }
                .site-logo.xenial-default-logo-wrapper {
                    display: block;
                }
            }

            &.xenial-sticky-main-navigation:not(.xenial-sticky-enabled) {
                .site-logo.xenial-default-logo-wrapper {
                    display: none;
                }
                .site-logo.xenial-alternate-logo-wrapper {
                    display: block;
                }
                
            }
        }
    }
}

.site-branding {
    margin-top: 15px;
    margin-bottom: 15px;
}