#xenial-footer {
	background-color: var(--xenial-background-color);
	color: var(--xenial-bg-text-color);
	border-top: 1px solid var(--xenial-border-color);
}

#xenial-footer a {
	color: var(--xenial-bg-text-color);
}

#xenial-footer a:hover,
#xenial-footer a:focus {
	color: var(--xenial-accent-color);
}