/* -------------------------------------------------------------------------- 
	#. Import variables & Mixins
   -------------------------------------------------------------------------- */

@import '../../functions/mixins';

/* -------------------------------------------------------------------------- 
	#. BBPress Reset
   -------------------------------------------------------------------------- */

.bbpress.single .xe-pageheader {

    padding: 35px 0;
}

#bbpress-forums {

    clear: both;
    font-family: var(--xe_base_font_family);
    font-size: var(--xe_base_font_size);
    line-height: var(--xe_base_font_line_height);
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

#bbpress-forums a {

    color: var(--xe_base_link_color);
}

#bbpress-forums a:hover {

    color: var(--xe_seconary_color);
}

#bbpress-forums div.bbp-breadcrumb {

    font-size: calc( var(--xe_base_font_size) - 10%);
    margin-bottom: 30px;
}

#bbpress-forums div.bbp-breadcrumb > p {

    margin: 0;
}

#bbpress-forums .bbp-pagination {

    margin-bottom: 30px;
}

#bbpress-forums ul.bbp-forums,  
#bbpress-forums ul.bbp-replies, 
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-search-results {

    font-family: var(--xe_base_font_family);
    font-size: var(--xe_base_font_size);
    line-height: var(--xe_base_font_line_height);
    margin-bottom: 30px;
}

#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-topics,
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {

    border: none;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {

    background: #F5F5F5;
}

#bbpress-forums li.bbp-body ul.forum, 
#bbpress-forums li.bbp-body ul.topic {

    border-top-color: var(--xe_border_color);
}

#bbpress-forums li.bbp-body ul.forum:first-child, 
#bbpress-forums li.bbp-body ul.topic:first-child {

    border-top-color: transparent;
} 

#bbpress-forums li.bbp-footer, 
#bbpress-forums li.bbp-header {

    padding: 10px 20px;
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic  {

    padding: 30px 0;
}

#bbpress-forums li.bbp-header {

    font-size: 13px;
    text-transform: uppercase;
}

#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,  
#bbpress-forums ul.bbp-reply-revision-log img.avatar, 
#bbpress-forums ul.bbp-topic-revision-log img.avatar {

    display: inline-block;
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 50%;
    margin-right: 3px;
}

/* -------------------------------------------------------------------------- 
	#. BBPress Above Forum Toggles
   -------------------------------------------------------------------------- */

#bbpress-forums #favorite-toggle, 
#bbpress-forums #subscription-toggle {

    color: transparent;
}

#bbpress-forums #favorite-toggle a, 
#bbpress-forums #subscription-toggle a {

    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    font-size: calc( var(--xe_base_font_size) - 5% );
    font-style: normal;
    line-height: 1;
    border: 1px solid currentColor;
    border-radius: 25px;
    @include transation_delay_dymanic(0.3s);
}

#bbpress-forums #favorite-toggle a:hover, 
#bbpress-forums #subscription-toggle a:hover {

    text-decoration: none;
}

#bbpress-forums #favorite-toggle span.is-favorite a::before, 
#bbpress-forums #subscription-toggle span.is-subscribed a::before {

    content: "\e64c";
    font-family: var(--xe_iconfont);
}

#bbpress-forums #bbp-user-subscriptions #subscription-toggle span.is-subscribed a::before {

    content: "";
    display: none;
}

#bbpress-forums #bbp-user-subscriptions #subscription-toggle span.is-subscribed a {

    padding: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    line-height: 30px;
    border-radius: 3px;
}

#bbpress-forums div.bbp-topic-tags p {

    display: inline-flex;
    align-items: center;
    font-size: 13px;
    font-weight: normal;
    margin: 0 0 20px 0;
    border-color: var(--xe_border_color);
    border-width: 1px;
    border-style: solid;
    padding: 10px 15px;
    border-radius: 25px;
}

#bbpress-forums div.bbp-topic-tags p::before {

    content: "\e6a8";
    margin-right: 3px;
    font-family: var(--xe_iconfont);
}


/* -------------------------------------------------------------------------- 
	#. BBPress Notices
   -------------------------------------------------------------------------- */

#bbpress-forums div.bbp-template-notice {

    position: relative;
    display: block;
    font-size: calc( var(--xe_base_font_size) - 10% );
    line-height: var(--xe_base_line_height);
    padding: 5px 15px;
    margin: 0 0 30px 0;
    clear: both;
    color: var(--xe_base_text_color);
    border-style: solid;
    border-width: 2px;
    border-color: #ffe69b;
    background-color: #ffeaaf;
    border-radius: 3px;
}

#bbpress-forums div.bbp-template-notice ul {

    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

#bbpress-forums div.bbp-template-notice ul li {

    display: block;
    margin: 0;
    padding: 0;
    font-size: calc( var(--xe_base_font_size) - 10% );
    line-height: var(--xe_base_line_height);
}

#bbpress-forums div.bbp-template-notice.error {

    background-color: #ffd1d1;
    border-color: #ffc0c0;
}


/* -------------------------------------------------------------------------- 
	#. BBPress Forms
   -------------------------------------------------------------------------- */

#bbpress-forums fieldset.bbp-form {

    padding: 30px;
    border-color: var(--xe_border_color);
}

#bbpress-forums fieldset.bbp-form select,
#bbpress-forums fieldset.bbp-form input[type=text],
#bbpress-forums fieldset.bbp-form input[type=password],
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {

    height: 48px;
    padding: 14px 15px;
    border-radius: 3px;
}

#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {

    font-family: var(--xe_base_font_family);
    line-height: var(--xe_base_font_line_height);
    font-size: var(--xe_base_font_size);
    padding: 15px 20px;
    resize: vertical;
    width: 100%;
    height: 200px;
    border-radius: 3px;
}

#bbpress-forums fieldset.bbp-form legend {

    padding: 10px;
}

#bbpress-forums fieldset.bbp-form p {

    margin-bottom: 20px;
}

#bbpress-forums fieldset.bbp-form label {

    margin-left: 5px;
    margin-bottom: 5px;
}

#bbpress-forums div.bbp-submit-wrapper {

    float: none;
    margin: 0;
}

#bbpress-forums .bbp-body p.bbp-topic-meta,
#bbpress-forums .bbp-body li.bbp-forum-freshness, 
#bbpress-forums .bbp-body li.bbp-topic-freshness,
#bbpress-forums .bbp-body li.bbp-forum-freshness > a  {

    font-size: calc( var(--xe_base_font_size) - 20% );
}

#bbpress-forums p.bbp-topic-meta {

    display: block;
}

// bbPress search form

.bbp-search-form {

    form {

        position: relative;

        div {

            position: relative;

            #bbp_search {

                display: block;
                width: 100%;
                height: 48px;
                padding-right: 45px;
            }

            #bbp_search_submit {

                position: absolute;
                top: 7px;
                right: 7px;
                padding: 0 15px;
                font-size: 0;
                width: 35px;
                height: 35px;
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAUZJREFUOE+tk1tVA0EQRG8pAAk4gCiAKAAUQBQACggKiAOCAkABQQE4SBwQB8WpPbOcSbIbnv2zHztzu7q6RvxTqY9j+wg4LP8XwIukfDtrA2T7BLgF9jpuTIErScv1fysg22PgOt2BiaTHXLB9AKTBJfAODNfVfYKKkgfgXtJ5l/4CnAFzSYP6TA3K/AtJ8aa3infPwEhSRm2qAVU/T9txvoC9laYZdwXUeCOpd4s12PYEuKjPt4p+Cto434Ji7h0wkBTZW8t2DKf2swUlM3PgRlK6bTM7Z1+Bp3q79daygeOSkV5VRU1ydVBnqQbtAgHsANleI78t21GS8ROPmaRhZ45KDHI4ad4v0MDyHHI5KtI4zfIGp5JGK+tfN8R2zE9GMmoqTyaBHWcc27HhrIZ9KzddzlewZkG/BhUrsuE87uWfQLXSD70xjBMeWl8CAAAAAElFTkSuQmCC');
                background-size: 18px;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }
}

/* -------------------------------------------------------------------------- 
    #. BBPress Logins
   -------------------------------------------------------------------------- */

#bbpress-forums div.bbp-submit-wrapper {

    text-align: left;
    margin-top: 10px;
}

/* -------------------------------------------------------------------------- 
    #. BBPress Topics & Posts
   -------------------------------------------------------------------------- */

#bbpress-forums .bbp-reply-header .bbp-meta {

    @include flex();
    align-items: center;
}

#bbpress-forums .bbp-reply-header .bbp-meta .bbp-admin-links{

    float: none;
}

#bbpress-forums .bbp-reply-header .bbp-meta .bbp-admin-links a,
#bbpress-forums .bbp-reply-header .bbp-meta .bbp-reply-permalink  {

    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
}

#bbpress-forums .bbp-reply-header .bbp-meta .bbp-reply-permalink {

    font-size: 12px;
    order: 3;
    font-weight: bold;
}

#bbpress-forums .bbp-reply-header .bbp-meta .bbp-admin-links {

    @include flex();
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    order: 2;
    gap: 5px;
}

#bbpress-forums .bbp-forums .bbp-body .type-forum .bbp-forum-info,
#bbpress-forums .bbp-topics .bbp-body .type-topic .bbp-topic-title {

    position: relative;
}

#bbpress-forums .bbp-forums .bbp-body .type-forum .bbp-forum-info::before,
#bbpress-forums .bbp-topics .bbp-body .type-topic .bbp-topic-title::before {

    content: "\e6c7";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--xe_iconfont);
    font-size: var(--xe_base_font_size);
    color: grey;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    background-color: #EEE;
    text-decoration: none;
}

#bbpress-forums .bbp-topics .bbp-body .type-topic .bbp-topic-title::before  {

    content: "\e6c8";
}

#bbpress-forums .bbp-topics .bbp-body .type-topic[class*="sticky"] .bbp-topic-title::before {

    content: "\e6de";
    background-color: #FFEEBE;
}

#bbpress-forums .bbp-forums .bbp-body .type-forum .bbp-forum-info .bbp-forum-title,
#bbpress-forums .bbp-topics .bbp-body .type-topic .bbp-topic-title .bbp-topic-permalink {

    color: var(--xe_base_text_color);
}

#bbpress-forums .bbp-forums .bbp-body .type-forum .bbp-forum-info .bbp-forum-title:hover,
#bbpress-forums .bbp-topics .bbp-body .type-topic .bbp-topic-title .bbp-topic-permalink:hover {

    color: var(--xe_seconary_color);
}

#bbpress-forums .bbp-topics .bbp-body .type-topic .bbp-topic-title .bbp-topic-meta,
#bbpress-forums .bbp-forums .bbp-body .type-forum .bbp-forum-info .bbp-forum-content {

    margin: 0 0 0 50px;
}

#bbpress-forums .bbp-forums .bbp-body .type-forum .bbp-forum-info .bbp-forum-content {

    font-size: calc( var(--xe_base_font_size) - 20% );
}

/* -------------------------------------------------------------------------- 
    #. BBPress single
   -------------------------------------------------------------------------- */

#bbpress-forums .bbp-replies .bbp-body .hentry {

    display: grid;
    grid-template-columns: 115px auto;
    grid-column-gap: 30px;
}

#bbpress-forums div.bbp-reply-header,
#bbpress-forums .bbp-replies .bbp-body .hentry {

    padding: 10px 20px;
}

#bbpress-forums div.bbp-forum-author, 
#bbpress-forums div.bbp-reply-author, 
#bbpress-forums div.bbp-topic-author {

    float: none;
    width: 100%;
    border-color: var(--xe_border_color);
    border-style: solid;
    border-width: 0 1px 0 0;
}

#bbpress-forums div.bbp-forum-content, 
#bbpress-forums div.bbp-reply-content, 
#bbpress-forums div.bbp-topic-content {

    float: none;
    margin-left: 0;
}

#bbpress-forums span.bbp-admin-links a {

    font-size: 10px;
}

#bbpress-forums div.bbp-reply-header .bbp-reply-post-date {

    font-size: calc( var(--xe_base_font_size) - 20% );
}

#bbpress-forums div.bbp-reply-author .bbp-author-link {

    display: inline-block;
}

#bbpress-forums div.bbp-forum-author img.avatar, 
#bbpress-forums div.bbp-reply-author img.avatar, 
#bbpress-forums div.bbp-topic-author img.avatar {

    display: inline-block;
    margin: 0;
    max-width: 52px;
    border-radius: 50%;
}

#bbpress-forums .bbp-replies .bbp-body .hentry {

    margin: 0;
}

#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log, 
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log, 
#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log {

    color: #7c7c7c;
    border-top-color: var(--xe_border_color);
}

#bbpress-forums div.bbp-reply-content code, 
#bbpress-forums div.bbp-reply-content pre, 
#bbpress-forums div.bbp-topic-content code, 
#bbpress-forums div.bbp-topic-content pre {

    color: whitesmoke;
    padding: 20px;
    background-color: #2c2848;
    border-radius: 5px;
}


/* -------------------------------------------------------------------------- 
    #. BBPress profile
   -------------------------------------------------------------------------- */

#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {

    display: inline-flex;
    border-radius: 50%;
}

/* -------------------------------------------------------------------------- 
    #. Responsive
   -------------------------------------------------------------------------- */

@media ( max-width: 575px ) {

    #bbpress-forums .bbp-replies .bbp-body .hentry {

        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 20px;
    }

    #bbpress-forums .bbp-body div.bbp-reply-author, 
    #bbpress-forums .bbp-body div.bbp-topic-author {

        position: relative;
        margin: 0 0 20px 0;
        padding: 0 0 20px 65px;
        min-height: 52px;
        border-width: 0 0 1px 0;
        text-align: left;
    }

    #bbpress-forums div.bbp-reply-author img.avatar, 
    #bbpress-forums div.bbp-topic-author img.avatar {

        position: absolute;
        top: 0;
        left: 0;
        width: 52px;
        height: auto;
    }

    #bbpress-forums div.bbp-forum-author .bbp-author-name, 
    #bbpress-forums div.bbp-reply-author .bbp-author-name, 
    #bbpress-forums div.bbp-topic-author .bbp-author-name {

        margin: 0;
    }
}