/* -------------------------------------------------------------------------- 
	#. Import variables & Mixins
   -------------------------------------------------------------------------- */

@import '../../functions/mixins';

/* -------------------------------------------------------------------------- 
	#. Yatra base
   -------------------------------------------------------------------------- */

.yatra-container {

    max-width: var(--xe_container_width);
}

.yatra-button {

    border: inherit;
    box-shadow: none;
}