.xenial-boxed-fullwidth-article,
.xenial-boxed-horizontal-list-article {
	padding: 1.875em;
	border: 1px solid var(--xenial-border-color);
}

.xenial-fullwidth-layout-item:not(:last-child),
.xenial-horizontal-list-layout-item:not(:last-child) {
	margin-bottom: 3.125em;
}

.xenial-fullwidth-layout-item .xenial-post-element,
.xenial-horizontal-list-layout-item .xenial-post-element {
	margin-bottom: 0.9375em;
}

.xenial-fullwidth-layout-item .xenial-post-element:last-child,
.xenial-horizontal-list-layout-item .xenial-post-element:last-child {
	margin-bottom: 0;
}

.xenial-fullwidth-layout-item .xenial-post-element-meta,
.xenial-horizontal-list-layout-item .xenial-post-element-meta {
	margin-bottom: 5px;
}

body.xenial-has-no-sidebar .xenial-fullwidth-layout-item .xenial-post-element:not(.xenial-post-element-thumbnail) {
	padding: 0 1.875em;
}

.xenial-fullwidth-layout-item .xenial-post-element-thumbnail {
	margin-bottom: 1em;
}

.xenial-fullwidth-layout-item .xenial-post-element.xenial-post-element-thumbnail:not(:first-child) {
	margin-top: 1em;
}

.xenial-fullwidth-layout-item .xenial-post-element-title .xenial-entry-title {
	margin-top: 0;
}

.xenial-horizontal-list-layout-item .xenial-post-thumbnail-col {
	max-width: 40%;
}

.xenial-horizontal-list-layout-item .xenial-post-content-col {
	max-width: 100%;
}

.xenial-horizontal-list-layout-item.xenial-thumbnail-right .xenial-post-thumbnail-col {
	order: 2;
}

.xenial-horizontal-list-layout-item.xenial-thumbnail-right .xenial-post-content-col {
	order: 1;
}

@media( max-width: 992px ) {
	.xenial-horizontal-list-layout-item .xenial-post-thumbnail-col,
	.xenial-horizontal-list-layout-item .xenial-post-content-col {
		max-width: 100%;
		flex-basis: auto;
	}

	.xenial-horizontal-list-layout-item .xenial-post-thumbnail-col {
		margin-bottom: 15px;
	}

	.xenial-horizontal-list-layout-item.xenial-thumbnail-right .xenial-post-thumbnail-col {
		order: 1;
	}

	.xenial-horizontal-list-layout-item.xenial-thumbnail-right .xenial-post-content-col {
		order: 2;
	}
}