/* -------------------------------------------------------------------------- 
	#. EDD Variables
   -------------------------------------------------------------------------- */

@use '../../functions/mixins' as *;

:root {

   --xe_edd_border_color: var(--xe_button_hover_text_color); 
   --xe_edd_message_background_color: transparent;
   --xe_edd_message_color: #4DC76D;
   --xe_edd_message_alert_color: #EFBD1D;
   --xe_edd_message_error_color: #F94646;  

   // mini cart

   --xe_edd_mini_cart_background_color: #FFFFFF;
   --xe_edd_mini_cart_text_color: var(--xe_base_text_color);
   --xe_edd_mini_cart_border_color: #EEEEEE;
   --xe_edd_mini_cart_border_radius: 3px;
   --xe_edd_mini_cart_item_seperator_color: var(--xe_border_color);
   --xe_edd_mini_cart_remove_item_color: #888888;
   --xe_edd_mini_cart_remove_item_hover_color: var(--xe_base_link_hover_color);
   --xe_edd_mini_cart_subtotal_amount_color: var(--xe_primary_color);

}

/* -------------------------------------------------------------------------- 
	#. EDD Alerts
   -------------------------------------------------------------------------- */

   .edd-alert {

      @include flex();
      gap: 5px;
      margin: 30px 0;
      padding: 15px;
      font-size: calc( var(--xe_base_font_size) - 10% );
      font-weight: var(--xe_base_font_weight);
      line-height: var(--xe_base_font_line_height);
      color: var(--xe_base_text_color);
      border: none;
      border: 2px solid var(--xe_edd_message_color);
      border-radius: 4px;
      background-color: var(--xe_edd_message_background_color);
   }

   .edd-alert .edd_error {

      @include flex();
      align-items: center;
      gap: 5px;
      width: 100%;
   }

   .edd-alert .edd_error::before,
   .edd-alert.edd-alert-warn::before {

      content: "\e6b8";
      font-weight: normal;
      font-style: normal;
      line-height: 1;
      font-family: var(--xe_iconfont);
   }

   .edd-alert.edd-alert-error {

      color: var(--xe_base_text_color);
      border-color: var(--xe_edd_message_error_color);
   }

   .edd-alert.edd-alert-warn {

      align-items: center;
      border-color: var(--xe_edd_message_alert_color);
   }
   
   .eddr-notice {

      text-align: left;
      margin: 5px 0;
   }

   .edd-alert .edd_error {

      padding: 0;
   }

/* -------------------------------------------------------------------------- 
	#. EDD Buttons
   -------------------------------------------------------------------------- */

   .edd-submit,
   .edd-submit.button,
   .edd-submit.button.blue,
   .edd-submit.button.gray,
   .edd-submit.button.red,
   .edd-submit.button.green,
   .edd-submit.button.black,
   #edd-purchase-button, 
   [type=submit].edd-submit,
   .edd_download_file_link,
   .edd_purchase_submit_wrapper a.edd-add-to-cart,
   .edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js {

      display: inline-flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      color: var(--xe_button_text_color);
      background: var(--xe_button_background_color);
      border-width: var(--xe_button_border_width);
      border-style: var(--xe_button_border_style);
      border-color: var(--xe_button_border_color);
      font-size: var(--xe_button_font_size);
      font-weight: normal;
      height: 48px;
      padding: 0 20px;
      border-radius: var(--xe_buttons_border_radius);
      box-shadow: none;
   }

   .edd-submit:hover,
   .edd-submit.button:hover, 
   .edd-submit.button.blue:hover,
   .edd-submit.button.gray:hover,
   .edd-submit.button.red:hover,
   .edd-submit.button.green:hover,
   .edd-submit.button.black:hover,
   #edd-purchase-button:hover, 
   [type=submit].edd-submit:hover,
   .edd_download_file_link:hover,
   .edd_purchase_submit_wrapper a.edd-add-to-cart:hover,
   .edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js:hover {

      color: var(--xe_button_hover_text_color);
      background: var(--xe_button_hover_background_color);
      border-color: var(--xe_button_hover_border_color);
   }

   // Text button

   .edd_checkout_register_login {

      position: relative;
      display: inline-flex;
      flex-wrap: wrap;
      float: none;
      height: auto;
      margin: 0;
      padding: 0 0 2px 0;
      color: var(--xe_text_button_color);
      background-color: transparent;
      text-decoration: none;
   }

   .edd_checkout_register_login:hover {

      color: var(--xe_text_button_hover_color);
      background-color: transparent;
      text-decoration: none;
   }

   .edd_checkout_register_login:focus {

      outline: none;
   }

   .edd_checkout_register_login:after,
   .edd_checkout_register_login:before {

      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: currentColor;
   }

   .edd_checkout_register_login:before {

      content: "";
      z-index: 1;
      background-color: currentColor;
      transform-origin: right center;
      transform: scaleX(0);
      will-change: scale;
      transition: transform .26s cubic-bezier(.25,.8,.25,1);
      -webkit-backface-visibility: hidden;
   }

   .edd_checkout_register_login:after {

      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      opacity: 0.5;
      margin: 0;
      background-color: currentColor;
   }

   .edd_checkout_register_login:hover:before {

      transform: scale(1);
      transform-origin: left center;
      background-color: var(--xe_text_button_hover_underline_color);
   }

    // Download button at purchase history.

   .edd_download_file_link {

      gap: 10px;
   }

   .edd_download_file_link:before {

      content: "\e632";
      font-family: var(--xe_iconfont);
   }

   .edd_download_file_link:hover {

      text-decoration: none;
   }

/* -------------------------------------------------------------------------- 
	#. EDD Form
   -------------------------------------------------------------------------- */

   .edd_form legend,
   #edd_checkout_form_wrap legend {

      display: table;
      font-size: var(--xe_base_font_size);
      font-weight: var(--xe_base_font_weight);
      line-height: var(--xe_base_font_line_height);
      letter-spacing: var(--xe_base_letter_spacing);
      margin: 0;
      padding: 0 20px;
      width: auto;
   }

   .edd_form fieldset,
   #edd_checkout_form_wrap fieldset {

      margin: 0 0 30px 0;
   }

   .edd_form fieldset fieldset,
   #edd_checkout_form_wrap fieldset fieldset {

      padding: 30px;
      border: 1px solid var(--xe_border_color);
   }

   #edd_checkout_form_wrap fieldset {

      border-color: var(--xe_border_color);
   }

   .edd_form label,
   #edd_checkout_form_wrap label {

      display: block;
      font-size: calc(var(--xe_base_font_size) - 10%);
      font-weight: var(--xe_base_font_weight);
      line-height: var(--xe_base_font_line_height);
      letter-spacing: var(--xe_base_letter_spacing);
      margin: 0 0 5px 0;
   }

   .edd_form .edd-description {

      font-style: italic;
   }

   .edd_form input[type=email],
   #edd_checkout_form_wrap textarea,
   #edd_checkout_form_wrap input.edd-input, 
   #edd_checkout_form_wrap textarea.edd-input,
   #edd_checkout_form_wrap input[type=email],
   #edd_checkout_form_wrap input[type=email], 
   #edd_checkout_form_wrap input[type=password], 
   #edd_checkout_form_wrap input[type=tel], 
   #edd_checkout_form_wrap input[type=text] {

      width: 100%;
      color: var(--xe_input_text_color);
      padding: 14px 15px;
   }

   .edd_form input[type=radio],
   .edd_form input[type=checkbox],
   #edd_checkout_form_wrap input[type=radio] {

      border: 2px solid var(--xe_inputs_border_color);
      margin: 0 3px 0 0 !important;
   }

   .edd_form input[type=radio]:checked,
   .edd_form input[type=checkbox]:checked,
   #edd_checkout_form_wrap input[type=radio]:checked,
   #edd_checkout_form_wrap input[type=checkbox]:checked {

      border-color: var(--xe_primary_color);
   }


/* -------------------------------------------------------------------------- 
	#. EDD Table
   -------------------------------------------------------------------------- */

   table[id*=edd_],
   table[class*=edd_] {

      border-collapse: collapse;
      border-spacing: 0;
      border-width: 0;
      padding: 0;
      margin: 0 0 30px 0;
      width: 100%;
   }

   table[id*=edd_],
   table[class*=edd_],
   #edd_checkout_cart,
   #edd_checkout_cart .edd_cart_header_row {

      th,
      td {

         font-size: calc( var(--xe_base_font_size) - 5% );
         font-weight: var(--xe_base_font_weight);
         line-height: var(--xe_base_font_line_height);
         border-width: 1px;
         border-style: solid;
         border-color: var(--xe_border_color);
         padding: 10px 15px;
         text-align: left;
         vertical-align: middle;

         strong {

            font-weight: normal;
         }
      }

      th {

         font-weight: var(--xe_base_font_weight);
      }
   }

   #edd_checkout_cart {

      margin-bottom: 30px;
   }


/* -------------------------------------------------------------------------- 
	#. EDD Pricing
   -------------------------------------------------------------------------- */

   .edd_download_purchase_form .edd_price_options {

      margin-bottom: 30px;
   }

   .edd_download_purchase_form .edd_price_options ul {

      @include flex();
      flex-direction: column;
      gap: 15px;
      margin: 0;
      padding: 0;
      list-style: none;
   }  

   .edd_download_purchase_form .edd_price_options ul li {

      display: block;
   }

   .edd_download_purchase_form .edd_price_options ul li label {

      display: block;
      margin: 0;
   }

   .edd_download_purchase_form .edd_price_options .eddr-notice.variable-prices {

      font-size: calc( var(--xe_base_font_size) - 20% );
      font-style: italic;
      margin: 1px 0 0 25px;
   }

/* -------------------------------------------------------------------------- 
	#. EDD Checkout
   -------------------------------------------------------------------------- */


   // Cart

   #edd_checkout_cart .edd_cart_item_image {

      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 10px;
   }

   #edd_checkout_cart input.edd-item-quantity {

      display: inline-flex;
      width: 80px;
      padding: 14px 15px;
      margin-right: 5px;
   }

   a.edd_cart_remove_item_btn {

      display: inline-flex;
      font-size: 0;
   }

   a.edd_cart_remove_item_btn:hover {
      
      text-decoration: none;
   }

   a.edd_cart_remove_item_btn:focus {

      outline: none;
   }

   a.edd_cart_remove_item_btn::before {

      content: "\e605";
      font-family: var(--xe_iconfont);
      font-size: 20px;
      font-style: normal;
      line-height: 1;
   }

   // Payment Icons

   #edd_checkout_form_wrap .edd-payment-icons {

      @include flex();
      align-items: center;
      gap: 5px;
      height: auto;
      margin-bottom: 30px;
   }

   #edd_checkout_form_wrap .edd-payment-icons img.payment-icon {

      float: none;
      max-height: 32px;
   }

   // Discount code

   #edd_checkout_form_wrap #edd_show_discount,
   #edd_checkout_form_wrap #edd_final_total_wrap,
   #edd_checkout_form_wrap #edd-discount-code-wrap {

      border: 1px solid var(--xe_border_color);
   }

   #edd_checkout_form_wrap #edd_show_discount {

      color: var(--xe_base_text_color);
      margin: 0;
      padding: 10px 15px;
      background: transparent;
   }

   #edd_checkout_form_wrap #edd-discount-code-wrap, 
   #edd_checkout_form_wrap #edd_final_total_wrap, 
   #edd_checkout_form_wrap #edd_show_discount {

      border: 1px solid var(--xe_border_color);
      padding: 20px;
      border-radius: 5px;
   }

   #edd_checkout_form_wrap #edd_discount_code {

      padding: 0;
      border: none;
   }
   
   #edd_checkout_form_wrap #edd_show_discount {

      padding: 10px 15px;
      border-radius: 3px;
   }

   #edd_checkout_form_wrap #edd-discount-code-wrap {

      margin: 0;
   }

   #edd_checkout_form_wrap .edd-discount-code-field-wrap {

      @include flex();
      align-items: center;
      width: 100%;
      max-width: 400px;
   }

   #edd_checkout_form_wrap .edd-discount-code-field-wrap input.edd-input {

      flex: 1;
   }

   #edd_checkout_form_wrap .edd-discount-code-field-wrap input.edd-submit {

      display: inline-flex;
      padding: 0 20px;
      margin: 0 0 0 10px;
   }

   // payment methord

   #edd_payment_mode_select_wrap #edd-payment-mode-wrap {

      @include flex();
      align-items: center;
      gap: 20px;
   }

   #edd_checkout_form_wrap #edd-payment-mode-wrap label {

      @include flex();
      align-items: center;
      gap: 5px;
      margin: 0;
      cursor: pointer;
      line-height: 1;
      padding: 16px 20px;
      border: 2px solid var(--xe_border_color);
      border-radius: 4px;
   }

   #edd_checkout_form_wrap #edd_payment_mode_select {

      margin-bottom: 30px;
   }

   #edd_checkout_form_wrap #edd-payment-mode-wrap label.edd-gateway-option-selected {

      border-color: var(--xe_primary_color);
   }

   // Login form

   #edd_checkout_form_wrap #edd-new-account-wrap,
   #edd_checkout_form_wrap #edd-login-account-wrap {

      @include flex();
      align-items: center;
      gap: 5px;
      padding: 0;
      margin: 0 0 20px 0;
      font-size: calc( var(--xe_base_font_size) - 10% );
      color: var(--xe_base_text_color);
      background: transparent;
   }

   // Register form 

   #edd_checkout_form_wrap #edd_register_account_fields {

      padding: 30px;
      border: 1px solid var(--xe_border_color);
   }

   // Terms 

   #edd_checkout_form_wrap #edd_terms_agreement #edd_show_terms {

      margin-bottom: 15px;
   }
   
   #edd_checkout_form_wrap #edd_terms_agreement #edd_show_terms .edd_terms_links {

      font-size: calc( var(--xe_base_font_size) - 10% );
   }

   #edd_checkout_form_wrap #edd_terms_agreement {

      margin-bottom: 20px;
   }

   // Final pricing

   #edd_checkout_form_wrap #edd_final_total_wrap {

      border: none;
      padding: 0;
      color: var(--xe_base_text_color);
      background: transparent;
   }

   #edd_checkout_form_wrap #edd_final_total_wrap strong {

      font-weight: var(--xe_base_font_weight);
   }

   #edd_checkout_form_wrap #edd_final_total_wrap .edd_cart_amount {

      font-weight: bold;
   }

   // Final Payment button

   #edd_purchase_submit #edd-purchase-button {

      height: 58px;
      padding-left: 40px;
      padding-right: 40px;
   }


/* -------------------------------------------------------------------------- 
	#. EDD Account
   -------------------------------------------------------------------------- */

   // Login & Register

   #edd_login_form fieldset, 
   #edd_register_form fieldset {

      border: 1px solid var(--xe_border_color);
   }

   #edd_login_form legend, 
   #edd_register_form legend {

      font-size: var(--xe_base_font_size);
      margin: 0;
   }

   #edd_login_form fieldset p:last-child,
   #edd_register_form fieldset p:last-child {

      margin: 0;
   }

   // Purchase receipt

   table#edd_purchase_receipt ul, 
   table#edd_purchase_receipt_products ul.edd_purchase_receipt_files {

      list-style: none;
      margin: 0;
      padding: 0;
   }

   table#edd_purchase_receipt_products .edd_purchase_receipt_product_name {

      font-weight: var(--xe_base_font_weight);
   }

   table#edd_purchase_receipt_products li {

      margin: 5px 0 0 0;
   }

   // Subscription

   #edd_user_history {

      margin-bottom: 30px;
   }

   #edd_user_history td, 
   #edd_user_history th {

      padding: 10px 15px;
      font-weight: normal;
   }

   // Software Licensing


/* -------------------------------------------------------------------------- 
	#. EDD Mini Cart Header Element
   -------------------------------------------------------------------------- */

   .xe-header-element.is-edd-minicart {

      position: relative;
      cursor: pointer;

      .xe-edd-minicart-outer {

         display: inline-flex;
         line-height: 1;

         #xe-edd-minicart-button {

            position: relative;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            font-weight: 600;
            border-width: 2px;
            border-style: solid;
            border-color: var(--xe_primary_color);
            border-radius: 0 0 3px 3px;
            width: 28px;
            height: 28px;
            cursor: pointer;
            color: var(--xe_primary_color);
            background-color: transparent;
            @include transation_delay_dymanic(0.3s);

            &::before {

               content: "";
               position: absolute;
               left: 50%;
               right: auto;
               top: -10px;
               height: 15px;
               width: 15px;
               border-width: 2px 2px 0 2px;
               border-color: var(--xe_primary_color);
               border-style: solid;
               border-radius: 50% 50% 0 0;
               transform: translateX(-50%);
               @include transation_delay_dymanic(0.3s);
            }

            .items-count {

               line-height: 1;
            }
         }
      }

      .xe-edd-cart-items {

         position: absolute;
         z-index: 100000;
         top: calc( 100% + 10px );
         right: 0;
         left: auto;
         width: 300px;
         margin: 0;
         padding: 20px;
         color: var(--xe_edd_mini_cart_text_color);
         border: 1px solid var(--xe_edd_mini_cart_border_color);
         border-radius: var(--xe_edd_mini_cart_border_radius);
         background-color: var(--xe_edd_mini_cart_background_color);
         box-shadow: 0 10px 36px -3px rgba(0, 0, 0, 0.12);
         @include visibility_hidden();
         @include transation_delay_dymanic(0.3s);

         &::after {

            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 10px;
            transform: translateY(-100%);
         }

         .empty {

            display: block;
            margin: 0;
            padding: 0;
            font-size: calc( var(--xe_base_font_size) - 15% );
            font-weight: normal;
         }
         
      }

      &:hover,
      &:focus {

         .xe-edd-cart-items {

            @include visibility_visible();
            animation: xeFadeInUp 0.3s 0s ease-in;
         }
      }

      .edd-cart {

         display: block;
         list-style: none;
         margin: 0;
         padding: 0;

         li {

            display: block;
            width: 100%;
            border-bottom: 1px solid var(--xe_edd_mini_cart_item_seperator_color);
            margin-bottom: 10px;
            padding-bottom: 10px;
         }

         .edd-cart-item {

            @include flex();
            align-items: flex-start;
            justify-content: space-between;
            padding-bottom: 15px;

            .item-summary {

               flex: 1;
               padding-right: 20px;

               .edd-cart-item-title {

                  display: block;
                  font-size: calc( var(--xe_base_font_size) - 15% );
                  line-height: 21px;
                  font-weight: normal;
                  margin: 0 0 5px 0;
               }

               .edd-terms-notice {
                  
                  display: block;
                  font-size: calc( var(--xe_base_font_size) - 20% );
                  font-weight: normal;
                  font-style: italic;
                  line-height: 1.3em;

                  .eddr-notice {

                     text-align: left;
                  }
               }
            }

            .action {

               width: 25px;

               .xe-edd-remove-from-cart {

                  align-items: center;
                  justify-content: center;
                  width: 25px;
                  height: 25px;
                  fill: var(--xe_edd_mini_cart_remove_item_color);
                  border: 1px solid var(--xe_edd_mini_cart_remove_item_color);
                  border-radius: 100%;
                  
                  svg {
                  
                     width: 18px;
                     height: 18px;
                  }

                  &:hover {

                     fill: var(--xe_edd_mini_cart_remove_item_hover_color);
                     border-color: var(--xe_edd_mini_cart_remove_item_hover_color);
                  } 
               }
            }
         }

         .edd-cart-total {

            font-size: calc( var(--xe_base_font_size) - 15% );
            text-align: center;

            .edd-cart-total-price {

               font-weight: bold;
               color: var(--xe_edd_mini_cart_subtotal_amount_color);
            }
         }

         .edd-checkout {

            margin-top: 20px;
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;

            .xe-edd-minicart-checkout-button {

               width: 100%;
               justify-content: center;
            }
         }
      }
   }
