.woocommerce ul.products li.product .button {
    background-color: var(--xenial-accent-color);
    color: var(--xenial-accent-bg-text-color);
    font-weight: normal;
    position: relative;
    border-radius: 0;
    font-size: var(--xenial-font-size-small);
    padding: 0.75em 1.125em;
    line-height: inherit;
}

.woocommerce a.added_to_cart {
    margin-left: 0.5em;
    font-size: var(--xenial-font-size-small);
}

body.xenial-boxed-contain.woocommerce ul.products li.product, 
body.xenial-boxed-contain.woocommerce-page ul.products li.product {
    border: 1px solid var(--xenial-border-color);
    padding: 15px;
}

.woocommerce ul.products li.product a.woocommerce-loop-product__link {
    display: block;
    position: relative;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3 {
    font-size: var(--xenial-body-font-size);
    font-weight: normal;
}

.woocommerce nav.woocommerce-pagination ul {
    display: block;
    margin: 0;
}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
    border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
    float: none;
}

.woocommerce nav.woocommerce-pagination ul li:not(:last-child) {
    margin-right: 15px;
}

.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span {
    padding: 0.625em 1.25em;
    line-height: inherit;
}

.woocommerce nav.woocommerce-pagination ul li span.current {
    border-radius: 0px;
    background-color: var(--xenial-accent-color);
    color: var(--xenial-accent-bg-text-color);
}

.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus {
    background-color: var(--xenial-accent-color);
    color: var(--xenial-accent-bg-text-color);
}