.woocommerce-cart-form {
    margin-bottom: 2.5em;
}

.woocommerce table.shop_table {
    border-collapse: collapse;
    border-radius: 0;
    margin: 0;
}

.woocommerce table.shop_table thead {
    background-color: var(--xenial-secondary-background-color);
}

.woocommerce table.shop_table th {
    padding: 15px 20px;
}

.woocommerce table.shop_table td.product-name a {
    color: var(--xenial-content-color);
} 

.woocommerce table.shop_table td.product-name a:hover {
    color: var(--xenial-accent-color);
} 

#add_payment_method table.cart .product-thumbnail, 
.woocommerce-cart table.cart .product-thumbnail, 
.woocommerce-checkout table.cart .product-thumbnail,
#add_payment_method table.cart .product-remove, 
.woocommerce-cart table.cart .product-remove, 
.woocommerce-checkout table.cart .product-remove {
    text-align: center;
}

#add_payment_method table.cart .product-remove a.remove, 
.woocommerce-cart table.cart .product-remove a.remove, 
.woocommerce-checkout table.cart .product-remove a.remove {
    display: inline-block;
}

#add_payment_method table.cart img, 
.woocommerce-cart table.cart img, 
.woocommerce-checkout table.cart img {
    width: 3.125em;
    border-radius: 0;
}

.woocommerce-cart table.cart .product-name a {
    text-decoration: none;
}

.woocommerce #content table.cart td.actions, 
.woocommerce table.cart td.actions, 
.woocommerce-page #content table.cart td.actions, 
.woocommerce-page table.cart td.actions {
    padding: 15px;
}

.woocommerce #coupon_code {
    min-width: 13.125em;
    height: 3.125em;
    padding: 0 15px;
    margin-right: 15px;
    border-radius: 0;
    transition-duration: 0.3s;
}

.woocommerce #coupon_code:focus {
    outline-style: solid;
    outline-color: var(--xenial-accent-color);
    transition-duration: 0.3s;
}

.woocommerce #content table.cart td.actions .button, 
.woocommerce table.cart td.actions .button, 
.woocommerce-page #content table.cart td.actions .button, 
.woocommerce-page table.cart td.actions .button {
    height: 3.125em;
    background-color: var(--xenial-accent-color);
    color: var(--xenial-accent-bg-text-color);
    font-weight: normal;
    border-radius: 0;
    font-size: var(--xenial-font-size-small);
}

.woocommerce #content table.cart td.actions .button:hover, 
.woocommerce table.cart td.actions .button:hover, 
.woocommerce-page #content table.cart td.actions .button:hover, 
.woocommerce-page table.cart td.actions .button:hover {
    background-color: var(--xenial-accent-color);
    color: var(--xenial-accent-bg-text-color);
    opacity: 0.9;
}

.woocommerce .cart-collaterals .cross-sells, 
.woocommerce-page .cart-collaterals .cross-sells,
.woocommerce .cart-collaterals .cart_totals, 
.woocommerce-page .cart-collaterals .cart_totals {
    width: 100%;
}

#add_payment_method .cart-collaterals .cart_totals table, 
.woocommerce-cart .cart-collaterals .cart_totals table, 
.woocommerce-checkout .cart-collaterals .cart_totals table {
    border-collapse: collapse;
    margin: 0;
    border: 1px solid var(--xenial-border-color);
}

#add_payment_method .wc-proceed-to-checkout, 
.woocommerce-cart .wc-proceed-to-checkout, 
.woocommerce-checkout .wc-proceed-to-checkout {
    padding: 0;
    margin-top: 1.875em;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    display: inline-block;
    margin: 0;
    font-weight: 500;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    padding: 0.9375em 1.875em;
    letter-spacing: 0;
    background-color: var(--xenial-accent-color);
    color: var(--xenial-accent-bg-text-color);
    font-size: var(--xenial-body-font-size);
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button:hover, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button:hover {
    background-color: var(--xenial-accent-color);
    color: var(--xenial-accent-bg-text-color);
    opacity: 0.9;
}



.order-total strong {
    color: var(--xenial-accent-color);
}

#add_payment_method .cart-collaterals .cart_totals table td, 
#add_payment_method .cart-collaterals .cart_totals table th, 
.woocommerce-cart .cart-collaterals .cart_totals table td, 
.woocommerce-cart .cart-collaterals .cart_totals table th, 
.woocommerce-checkout .cart-collaterals .cart_totals table td, 
.woocommerce-checkout .cart-collaterals .cart_totals table th {
    vertical-align: middle;
}


#add_payment_method table.cart td.actions .coupon .input-text, 
.woocommerce-cart table.cart td.actions .coupon .input-text, 
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    border-color: var(--xenial-border-color);
    border-width: 2px;
    outline-width: 2px;
}

#add_payment_method table.cart td.actions .coupon .input-text:focus, 
.woocommerce-cart table.cart td.actions .coupon .input-text:focus, 
.woocommerce-checkout table.cart td.actions .coupon .input-text:focus {
    outline-color: var(--xenial-accent-color);
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    border-radius: 0;
}


.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover {
    opacity: 0.90;
    background-color: var(--xenial-accent-color);
    color: var(--xenial-accent-bg-text-color);
}

/*
    Cross Sells
*/
.woocommerce .cart-collaterals .cross-sells ul.products.columns-1 li, 
.woocommerce-page .cart-collaterals .cross-sells ul.products.columns-1 li {
    width: 100%;
}

.woocommerce .cart-collaterals .cross-sells ul.products.columns-2 li, 
.woocommerce-page .cart-collaterals .cross-sells ul.products.columns-2 li {
    width: 48%;
}

.woocommerce .cart-collaterals .cross-sells ul.products.columns-3 li, 
.woocommerce-page .cart-collaterals .cross-sells ul.products.columns-3 li {
    width: 30.75%;
}

.woocommerce .cart-collaterals .cross-sells ul.products.columns-4 li, 
.woocommerce-page .cart-collaterals .cross-sells ul.products.columns-4 li {
    width: 22.05%;
}

.woocommerce .cart-collaterals .cross-sells ul.products.columns-5 li, 
.woocommerce-page .cart-collaterals .cross-sells ul.products.columns-5 li {
    width: 16.95%;
}

.woocommerce .cart-collaterals .cross-sells ul.products.columns-6 li, 
.woocommerce-page .cart-collaterals .cross-sells ul.products.columns-6 li {
    width: 13.5%;
}