.woocommerce form.checkout_coupon, 
.woocommerce form.login, 
.woocommerce form.register {
    border-radius: 0;
    margin: 2.5em 0;
    border-color: var(--xenial-border-color); 
}

.woocommerce form.checkout_coupon button[name="apply_coupon"] {
    height: 3.125em;
    font-size: var(--xenial-font-size-small);
}

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
    border-radius: 0;
    height: 3.125em;
    background-color: var(--xenial-accent-color);
    color: var(--xenial-accent-bg-text-color);
    font-weight: normal;
}

#customer_details,
#order_review .woocommerce-checkout-review-order-table {
    margin-bottom: 1.875em;
}

.woocommerce-billing-fields h3,
.woocommerce-additional-fields h3,
h3#order_review_heading {
    margin-top: 0;
    font-size: 1.5rem;
}

#add_payment_method #payment, 
.woocommerce-cart #payment, 
.woocommerce-checkout #payment {
    background-color: transparent;
    border-radius: 0;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
    padding: 0;    
    border-bottom: 0;
}

#add_payment_method #payment ul.payment_methods li.wc_payment_method, 
.woocommerce-cart #payment ul.payment_methods li.wc_payment_method, 
.woocommerce-checkout #payment ul.payment_methods li.wc_payment_method {
    padding: 1em;
}

.woocommerce-checkout #payment ul.payment_methods li.wc_payment_method:not(:last-child) {
    border-bottom: 3px solid var(--xenial-border-color);
}
 
#add_payment_method #payment div.payment_box, 
.woocommerce-cart #payment div.payment_box, 
.woocommerce-checkout #payment div.payment_box {
    background-color: transparent;
    padding: 0;
    margin: 10px 0 0;
    color: var(--xenial-text-color);
}

#add_payment_method #payment label, 
.woocommerce-cart #payment label, 
.woocommerce-checkout #payment label {
    font-weight: normal;
}

#add_payment_method #payment div.payment_box::before, 
.woocommerce-cart #payment div.payment_box::before, 
.woocommerce-checkout #payment div.payment_box::before {
    border: none;
}

.woocommerce-notice {
    border-right: 1px solid var(--xenial-border-color);
    border-bottom: 1px solid var(--xenial-border-color);
    border-left: 1px solid var(--xenial-border-color);
}

.woocommerce form .form-row textarea {
    height: auto;
}

#ship-to-different-address label {
    font-weight: 500;
    margin: 0;
}

.woocommerce form .form-row {
    margin-bottom: 1em;
    padding: 0;
}

.woocommerce-additional-fields {
    margin-top: 2.5em;
}

.woocommerce-page form.checkout .col2-set .col-2 {
    position: sticky;
    top: 0;
    background-color: var(--xenial-secondary-background-color);
}


body.xenial-has-no-sidebar .woocommerce form.checkout .col2-set .col-2, 
body.xenial-has-no-sidebar .woocommerce-page form.checkout .col2-set .col-2 {
    padding: 1.875em;
}

body.xenial-has-sidebar .woocommerce .col2-set .col-2, 
body.xenial-has-sidebar .woocommerce-page .col2-set .col-2 {
    padding: 0.9375em;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table {
    background-color: transparent;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table td {
    padding: 15px;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table td strong {
    font-weight: normal;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table tfoot > tr {
    margin-top: 15px;
}

.woocommerce .woocommerce-checkout-review-order table.shop_table tbody th, 
.woocommerce .woocommerce-checkout-review-order table.shop_table tfoot td, 
.woocommerce .woocommerce-checkout-review-order table.shop_table tfoot th {
    font-weight: normal;
}

.woocommerce .woocommerce-checkout-review-order table.shop_table tfoot tr:first-child td, 
.woocommerce .woocommerce-checkout-review-order table.shop_table tfoot tr:first-child th {
    border-top: 5px solid var(--xenial-border-color) !important;
}

.woocommerce .woocommerce-checkout-review-order table.shop_table thead,
.woocommerce .woocommerce-checkout-review-order table.shop_table .order-total {
    background-color: transparent;
}

.woocommerce .woocommerce-checkout-review-order table.shop_table thead th {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.woocommerce .woocommerce-checkout-review-order table.shop_table .order-total th {
    font-weight: 500;
}

.woocommerce-checkout #payment div.form-row.place-order {
    margin-top: 1.875em;
    margin-bottom: 0;
    padding: 0;
}

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
    height: auto;
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
    background-color: var(--xenial-accent-color);
    color: var(--xenial-accent-bg-text-color);
}

.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover {
    background-color: var(--xenial-accent-color);
    color: var(--xenial-accent-bg-text-color);
    opacity: 0.9;
}

.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order {
    padding: 1.25em;
    width: 100%;
    float: none;
}

h3#order_review_heading:after {
    content: "";
    display: block;
    position: absolute;
    top: -1em;
    right: 0;
    left: 0;
    height: 1.25em;
    background: linear-gradient(-45deg,var(--xenial-secondary-background-color) 33.333%,transparent 0,transparent 66.667%,var(--xenial-secondary-background-color) 0),linear-gradient(45deg,var(--xenial-secondary-background-color) 33.333%,transparent 0,transparent 66.667%,var(--xenial-secondary-background-color) 0);
        background-position-x: 0%, 0%;
        background-position-y: 0%, 0%;
        background-size: auto, auto;
    background-size: 0.75em 2.75em;
    background-position-x: 0px;
    background-position-y: -1.375em;
}

.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order {
    border-radius: 0;
}