.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content {
    width: 100%;
    float: none;
}


.woocommerce-account .woocommerce-MyAccount-navigation ul {
    margin: 0;
    list-style: none;
    border: 1px solid var(--xenial-border-color);
    padding: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
    display: inline-block;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
    padding: 0.9375em 20px;
    display: block;
    line-height: 1;
    text-decoration: none;
    color: var(--xenial-content-color);
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover {
    color: var(--xenial-accent-color);
}

.woocommerce-account .woocommerce-MyAccount-content {
    border: 1px solid var(--xenial-border-color);
    border-top: 0;
}

body.xenial-has-sidebar.woocommerce-account .woocommerce-MyAccount-content {
    padding: 0.9375em;
}

body.xenial-has-no-sidebar.woocommerce-account .woocommerce-MyAccount-content {
    padding: 1.875em;
}

.woocommerce-MyAccount-content form.woocommerce-EditAccountForm > p:last-child {
    margin-bottom: 0;
    margin-top: 2em;
}

.woocommerce-MyAccount-content form.woocommerce-EditAccountForm fieldset > .form-row:first-child {
    margin-top: 0;
}



.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
    display: block;
    margin-bottom: 1em;
}



/* Account Adresses Tab Content */

.woocommerce-MyAccount-content .woocommerce-Addresses header.woocommerce-Address-title > h3,
.woocommerce-MyAccount-content form > h3 {
    margin-top: 0;
    margin-bottom: 1em
}

.woocommerce-MyAccount-content .woocommerce-Addresses address > a.edit {
    margin-top: 1em;
    display: block;
}