.woocommerce div.product .product_title {
    margin-bottom: 0.625em;
}

.woocommerce div.product p.price, 
.woocommerce div.product span.price {
    color: var(--xenial-accent-color);   
}

.woocommerce div.product p.price del, 
.woocommerce div.product span.price del {
    color: #777777;
}

.woocommerce.single-product div.product > span.onsale {
    left: 10px;
    top: 10px;
    font-size: var(--xenial-body-font-size);
}

.woocommerce div.product form.cart:not(.grouped_form):not(.variations_form),
.woocommerce-variation-add-to-cart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.woocommerce div.product form.cart .button {
    float: none;
    height: 3.125em;
    background-color: var(--xenial-accent-color);
    color: var(--xenial-accent-bg-text-color);
    font-weight: normal;
    border-radius: 0;
    font-size: var(--xenial-font-size-small);
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.woocommerce div.product form.cart .button:hover {
   
}

.woocommerce div.product form.cart div.quantity {
    line-height: 1;
    float: none;
    margin-right: 0.9375em;
}

.woocommerce .quantity .qty {
    width: auto;
    padding: 0;
    height: 3.125em;
}

.woocommerce div.product form.cart table {
    margin-top: 0;
    margin-bottom: 30px;
}

.woocommerce div.product form.cart .variations td, 
.woocommerce div.product form.cart .variations th {
    vertical-align: middle;
}

.woocommerce div.product form.cart .group_table tr {
    border: 1px solid var(--xenial-border-color);
}

.woocommerce div.product form.cart .group_table td {
    vertical-align: middle;
    padding: 10px 15px;
}

.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__label label {
    font-weight: 500;
}

.woocommerce div.product form.cart .variations select {
    max-width: 230px;
}

.woocommerce div.product form.cart .reset_variations {
    color: var(--xenial-accent-color);
}

.woocommerce-variation-price {
    margin-bottom: 1.5em;
}

.woocommerce-grouped-product-list-item__price del {
    color: #777777;
}

.woocommerce-grouped-product-list-item__price ins {
    color: var(--xenial-accent-color);
    background-color: transparent;
}

.product_meta {
    margin-top: 30px;
}

.product_meta .sku_wrapper,
.product_meta .posted_in {
    display: block;
}

.product_meta .sku_wrapper {
    margin-bottom: 15px;
}

.woocommerce div.product .woocommerce-tabs.wc-tabs-wrapper,
.woocommerce div.product div.summary,
.woocommerce div.product div.images {
    margin-bottom: 2.5em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    text-align: center;
    margin: 0;
    padding: 10px;
    border: 1px solid var(--xenial-border-color);
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: none;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:not(last-child) {
    margin-right: 30px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, 
.woocommerce div.product .woocommerce-tabs ul.tabs li::before { 
    border: none;
    content: '';
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    padding: 10px 5px;
    margin: 0;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    color: var(--xenial-text-color);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    color: var(--xenial-accent-color);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background-color: transparent;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    border-bottom: 2px solid var(--xenial-accent-color);
    color: var(--xenial-accent-color);
}

.woocommerce div.product .woocommerce-tabs .panel {
    padding: 30px;
    border-left: 1px solid var(--xenial-border-color);
    border-right: 1px solid var(--xenial-border-color);
    border-bottom: 1px solid var(--xenial-border-color);
    margin-bottom: 0;
}

.woocommerce div.product .woocommerce-tabs .panel > h2 {
    display: none;
}

.woocommerce table.shop_attributes {
    margin: 0;
}

.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td {
    padding: 8px 20px;
}

.woocommerce #reviews #comments h2 {
    clear: none;
    font-size: var(--xenial-font-size-large);
    margin-top: 0;
    margin-bottom: 1.25em;
}

.woocommerce #reviews #comments ol.commentlist li.review:last-child {
    margin-bottom: 0;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
    width: 3.75em;
    padding: 0;
    border-radius: 50%;
    border: none;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin-left: 5em;
    border-radius: 0;
    border-color: var(--xenial-border-color);
}

#review_form_wrapper {
    margin-top: 2.5em;
}

#review_form_wrapper .comment-reply-title {
    font-size: var(--xenial-font-size-medium);
    margin-bottom: 1.25em;
    display: inline-block;
}

.woocommerce #review_form #respond p {
    margin-bottom: 15px;    
}

.woocommerce #review_form #respond p.form-submit {
    margin-bottom: 0;
}

#review_form_wrapper .comment-respond .comment-form label {
    font-weight: bold;
    display: block;
}



#review_form_wrapper .comment-respond .comment-form .comment-form-rating {
    margin-bottom: 1.5em;
}

#review_form_wrapper .comment-respond .comment-form .comment-form-rating {
    margin-bottom: 0;
}

.woocommerce p.stars a,
.woocommerce p.stars:hover a::before {
    color: #FFC107;
}

.up-sells.upsells.products h2,
.related.products h2,
.cross-sells h2,
.cart_totals h2 {
    font-size: 1.5rem;
    margin-top: 0;
}

body.xenial-has-no-sidebar .woocommerce div.product div.images .flex-control-thumbs li {
    width: 20%;
}

.woocommerce table.shop_attributes,
.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td {
	border-color: var(--xenial-border-color);
	border-style: solid;
}