.xenial-search-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 11;
	background-color: var(--xenial-background-color);
	height: 0;
	overflow: hidden;
	-webkit-transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.xenial-search-modal.xenial-open-search-modal {
	height: 100vh;
	-webkit-transition: all 500ms cubic-bezier(0.55, 0.06, 0.68, 0.19);
	-o-transition: all 500ms cubic-bezier(0.55, 0.06, 0.68, 0.19);
	-moz-transition: all 500ms cubic-bezier(0.55, 0.06, 0.68, 0.19);
	transition: all 500ms cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.xenial-search-modal .xenial-search-wrapper {
	height: 100vh;
	position: relative;
}

.xenial-search-modal .xenial-search-wrapper-inner {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.xenial-search-form-close-wrapper {
	position: absolute;
	top: 1.875em;
	right: 0;
}

.xenial-search-modal .xenial-search-form {
	width: 100%;
}

.xenial-search-modal .xenial-search-wrapper-inner > p {
	margin-top: 1.875em;
}

.xenial-search-modal .xenial-search-form input[type="search"] {
	height: 3.75em;
	font-size: 2rem;
	border: none;
	border-bottom: 2px solid var(--xenial-border-color);
	padding: 0;
	padding-right: 3.875rem;
	background-color: transparent;
}

.xenial-search-modal .xenial-search-form input[type="search"]:focus {
	border-color: var(--xenial-accent-color);	
}

.xenial-search-modal .xenial-search-form button.xenial-search-form-submit {
	font-size: 2rem;
}

.xenial-search-modal .xenial-search-form button.xenial-search-form-submit:hover {
	color: var(--xenial-accent-color);
}

.xenial-search-form-close-btn {
	overflow: hidden;
	position: relative;
	background-color: transparent;
	border: none;
	color: var(--xenial-text-color);
	font-size: 1.625rem;
	padding: 1em 0.9375em;
	margin-left: 0.9375em;
	text-align: center;
}

.xenial-search-form-close-btn:hover {
	background-color: transparent;
	color: var(--xenial-accent-color);
}

.xenial-search-form-close-btn .xenial-search-form-close-icon {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.xenial-search-form-close-btn .xenial-search-form-close-icon {
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.xenial-search-form-close-btn > span {
	display: block;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.xenial-search-form-close-btn:hover .xenial-search-form-close-icon {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transform: translate3d(-50%, -190%, 0);
	transform: translate3d(-50%, -190%, 0);
}

.xenial-search-form-close-btn:hover > span {
	opacity: 0;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}