#xenial-mobile-nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    bottom: 0;
    left: 0;
    transition-duration: 0.45s;
    z-index: 20;
}

#xenial-mobile-nav-overlay.display-mobile-nav-overlay {
    width: 100%;
    transition-duration: 0.45s;
    background-color: var(--xenial-background-color);
    opacity: 0.8;
}

#xenial-mobile-nav-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
    width: 350px;
    overflow: auto;
    margin-left: -350px;
    transition-duration: 0.65s;
    z-index: 20;
    background-color: var(--xenial-background-color);
    border-right: 2px solid var(--xenial-border-color);
}

body #xenial-mobile-nav-container a:hover {
    color: var(--xenial-accent-color);
}

#xenial-mobile-nav-container.display-mobile-nav {
    margin-left: 0;
    transition-duration: 0.65s;
}

.xenial-mobile-nav-top-bar {
    border-bottom: 1px solid var(--xenial-border-color);
    padding: 1.25em 0.9375em;
    margin-bottom: 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.xenial-mobile-nav-close-btn {
    padding: 0;
    background-color: transparent;
    transition: transform .3s ease-in-out;
    display: inline-block;
}

.xenial-mobile-nav-close-btn:hover {
    background-color: transparent;
    transform: rotate(90deg);
    transition-duration: 0.3s;
}

.xenial-mobile-nav-wrapper {
    padding: 0 0.9375em;
}

.xenial-mobile-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.xenial-mobile-nav > ul > li > a {
    border-bottom: 1px solid var(--xenial-border-color);
    font-size: var(--xenial-body-font-size);
}

.xenial-mobile-nav li.menu-item-has-children {
    position: relative;
    overflow: hidden;
}

.xenial-mobile-nav li a {
    display: block;
    padding: 10px 0;
}

.xenial-mobile-nav li a.dropdown-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.65rem;
    border: none;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    z-index: 2;
}

.xenial-mobile-nav li a > .menu-item-description {
    font-size: var(--xenial-icon-font-size);
    display: inline-block;
    padding: 4px 6px;
    margin-left: 15px;
    background-color: var(--xenial-accent-color);
    color: var(--xenial-accent-bg-text-color);
}

.xenial-mobile-nav ul.sub-menu {
    padding-left: 10px;
    visibility: hidden;
    max-height: 0em;
    transition: max-height 0.4s cubic-bezier(1, 1, 0, 1);
}

.xenial-mobile-nav ul.display-sub-menu{
    visibility: visible;
    max-height: 1000em;
    transition: max-height 0.4s cubic-bezier(1, 0, 1, 0);
}

.xenial-mobile-nav ul li {
    margin: 0;
}