.clearfix:before,
.clearfix:after,
.xenial-entry-content:before,
.xenial-entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.dropcap:before,
.dropcap:after,
.alignleft:before,
.alignright:before,
.editor-entry:before {
    content: '';
    display: table;
}

.clearfix:after,
.xenial-entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.alignleft:after,
.alignright:after,
.editor-entry:after {
    clear: both;
}

.clear {
    clear: both;
}