/**
    Screen Reader Text
**/
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    right: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/**
    Sticky ByPostAuthor
**/
.sticky,
.bypostauthor {
    background:transparent;
}

/**
    Skip to link
**/
.screen-reader-shortcut {
    box-shadow:none !important;
    font-size: 16px;
    font-weight:400;
}

/**
    WordPress Gallery
**/
.gallery {

    margin-bottom: 1.5em;
    margin-left: -2%;
}

.gallery-item {

    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.site-main .gallery a img {

    max-width: none;
    width: 100%;
}

.gallery-columns-2 .gallery-item {

    max-width: 47%;
}

.gallery-columns-3 .gallery-item {

    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {

    max-width: 23%;
}

.gallery-columns-5 .gallery-item {

    max-width: 18%;
}

.gallery-columns-6 .gallery-item {

    max-width: 14.66%;
}

.gallery-columns-7 .gallery-item {

    max-width: 12.28%;
}

.gallery-columns-8 .gallery-item {

    max-width: 10.5%;
}

.gallery-columns-9 .gallery-item {

    max-width: 9.11%;
}

.gallery-caption {

    display: block;
}


/**
    WP Caption
**/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

.xenial-hide {
    display: none;
}

.xenial-show {
    display: block;
}

.xenial-text-left {
    text-align: left;
}

.xenial-text-right {
    text-align: right;
}

.xenial-text-center {
    text-align: center;
}

.xenial-btn {
    padding: 10px 15px;
    background-color: var(--xenial-accent-color);
    color: #ffffff;
    border-radius: 3px;
}

.xenial-btn:hover {
    background-color: $alternate_color;
    color: #ffffff;
    text-decoration: none;
}


body.xenial-fullwidth-stretched .xenial-container {
  max-width: 100%;
  padding-left: 3.125em;
  padding-right: 3.125em;
}

body.xenial-boxed .xenial-container {
  padding-left: 1.875em;
  padding-right: 1.875em;
}

body.xenial-boxed #page {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border-left: 2px solid var(--xenial-border-color);
  border-right: 2px solid var(--xenial-border-color);
}

.xenial-fullwidth .xenial-container {
  max-width: 100%;
  padding-left: 3.125em;
  padding-right: 3.125em;
}

body #page {
    position: relative;
}

.site-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

body.page-template-template-xenial-fullwidth .site-content {
    margin: 0;
}

#xenial-primary {
    padding: 0 15px;
    width: 70%;
}

#secondary {
    padding: 0 15px;
    width: 30%;
}

body.xenial-has-no-sidebar #xenial-primary {
    width: 100%;
}

body.xenial-has-left-sidebar #xenial-primary {
    order: 2;
}

body.xenial-has-left-sidebar #secondary {
    order: 1;
}

.xenial-entry-title {
    margin-top: 0;
    margin-bottom: 0;
}

body:not(.xenial-boxed-contain) .xenial-archive-title-wrapper.xenial-has-archive-description .xenial-archive-title-wrapper-inner {
    border-bottom: 1px solid var(--xenial-border-color);
    padding-bottom: 20px;
}

body.xenial-theme-dark .xenial-post-element-title {
    color: #ffffff;
}




.xenial-search-form {
    position: relative;
}

.xenial-search-form input[type="search"] {
    padding-right: 48px;
}

.xenial-search-form button.xenial-search-form-submit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 15px;
    background-color: transparent;
    color: inherit;
    border: none;
}

.xenial-search-form button.xenial-search-form-submit:hover {
    background-color: transparent;
    color: inherit;
}