.customize-control-interface-tabs {
	display: list-item !important;
}

.xenial-tab-control {
	display: table;
	width: -webkit-calc(100% + 28px);
	width: calc(100% + 28px);
	margin: -15px 0 15px -12px;
	border-bottom: 1px solid #ddd;
	table-layout: fixed;
}

.xenial-tab-control .customizer-tab-label {
	display: table-cell;
	width: 100%;
	border-right: 1px solid #ddd;
	text-align: center;
}

.xenial-tab-control .customizer-tab-label:last-child {
	border-right: none;
}

.xenial-tab-control .customizer-tab-label label {
	display: block;
	width: 100%;
	padding: 10px 0;
	color: #333;
	background: #fff;
	box-shadow: inset 0 0 0 0 #0085ba;
	text-decoration: none;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.xenial-tab-control .customizer-tab-label label .tab-icon {
	margin-bottom: 10px;
	display: block;
}

.xenial-tab-control .customizer-tab-label:hover label {
	color: #0085ba;
	background: #f3f3f5;
}

.xenial-tab-control .customizer-tab-label.active label {
	color: #0085ba;
	background-color: #fff;
	box-shadow: inset 0 -3px 0 0 #0085ba;
}

.xenial-tab-control input[type="radio"] {
	display: none !important;
}
