.customize-control-interface-tabs {

	display: list-item !important;
}

.xenial-tab-control input[type="radio"] {

	display: none !important;
}

.xenial-tab-control {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.xenial-tab-control .customizer-tab-label {

	position: relative;
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 0 20px;
	height: 50px;
	border: 1px solid var(--xe_customizer_dark_border_color);
	transition: 0.3s ease;
}

.xenial-tab-control .customizer-tab-label:hover {

	background-color: #E7E7E7;
}

.xenial-tab-control .customizer-tab-label.active {

	border-bottom: transparent;
}

.xenial-tab-control .customizer-tab-label.active:hover {

	background-color: transparent;
}

.customize-control-xenial-tab .xenial-tab-control .customizer-tab-label:last-child {

	border-left: transparent;
}

.customize-control-xenial-tab .xenial-tab-control .customizer-tab-label:last-child::before,
.customize-control-xenial-tab .xenial-tab-control .customizer-tab-label:first-child::before {

	content: '';
	position: absolute;
	left: -20px;
	bottom: -1px;
	height: 1px;
	width: 20px;
	background: var(--xe_customizer_dark_border_color);
}

.customize-control-xenial-tab .xenial-tab-control .customizer-tab-label.active:last-child::before,
.customize-control-xenial-tab .xenial-tab-control .customizer-tab-label.active:first-child::before {

	content: "";
	bottom: 0;
}

.xenial-tab-control .customizer-tab-label.active::after {

	content: "";
	width: calc( 100% + 0.5px);
	height: 2px;
	top: -2px;
	left: 0;
	right: 0;
	position: absolute;
	background: var(--xe_customizer_primary_color);
}

.customize-control-xenial-tab .xenial-tab-control .customizer-tab-label:last-child::before {

	content: '';
	position: absolute;
	left: auto;
	right: -20px;
}

.xenial-tab-control .customizer-tab-label label {

	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	line-height: 1;
	gap: 5px;
}

.xenial-tab-control .customizer-tab-label label svg {

	width: 18px;
	height: 18px;
}

.xenial-tab-control .customizer-tab-label label .tab-label {

	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0;
}
