body.xenial-sticky-sidebar-enabled #secondary {
	position: sticky;
	top: 0;
}

#secondary.site-sidebar {
	padding: 0 15px; 
}

.site-sidebar .widget:not(:last-child) {
	margin-bottom: 40px;
}

.site-sidebar.widget-separated .widget {
	padding: 20px;
	border: 1px solid var(--xenial-border-color);
}

.site-sidebar .widget .widget-title h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: var(--xenial-font-size-medium);
}